{{#columns}}
    <div class="col-sm-{{width}} row-auto mainnav-column">
        {{#father}}
            <div class="heading-lg">
                <a href="{{href}}" {{target}}>{{title}}</a>
            </div>
        {{/father}}
        {{#.}}
            <ul class="nav nav-pills nav-stacked">
                {{#element}}
                    <li class="father">
                        <a href="{{href}}" {{target}}>{{title}}</a>
                    {{#hasSons}}
                        <ul class="nav nav-pills nav-stacked">
                            {{#sons}}
                                <li class="son">
                                    <a href="{{href}} {{target}}">{{title}}</a>
                                </li>
                            {{/sons}}
                        </ul>
                    {{/hasSons}}
                    </li>
                {{/element}}
            </ul>
        {{/.}}
    </div>
{{/columns}}