<a href="#search" class="search-link">
    <span class="fa fa-search" aria-hidden="true"></span>
    {{#icontext}}<span class="sr-only">{{icontext}}</span>{{/icontext}}
</a>
<div class="overlay-search">
    <div class="overlay-search-wrapper">
        <p class="lead text-center">{{#placeholder}}{{placeholder}}{{/placeholder}}</p>
        <form class="navbar-form" role="search" action="{{resultspage}}" method="get">
            <input type="hidden" name="searchaction" value="search">
            <input type="hidden" name="searchPage" value="1">
                <input type="text" class="form-control" aria-label="{{#placeholder}}{{placeholder}}{{/placeholder}}" name="{{targetfield}}" >
                <button class="btn btn-specific-main" type="submit" name="submit" value="submit">
                    {{#iconbutton}}<span class="fa fa-{{iconbutton}}" aria-hidden="true"></span>{{/iconbutton}}
                </button>
        </form>
    </div>
    <button class="close"><span class="icon-close">&times;</span></button>
</div>