/* ANIMACIONES
--------------------------------------------------------------------------------------------------------------------*/

.animated-fade {
  opacity: 0;
}

/* MOVIMIENTO LEVE DESDE ARRIBA CON OPACIDAD */

/* Chrome, Safari, Opera */
@-webkit-keyframes opacitymargintop {
  from {
	opacity: 0;
	margin-top: -30px;
  }
  50% {
	opacity: 0.6;
	margin-top: -10px;
  }
  to {
	opacity: 1;
	margin-top: 0;
  }
}
/* Standard syntax */
@keyframes opacitymargintop {
  from {
	opacity: 0;
	margin-top: -30px;
  }
  50% {
	opacity: 0.6;
	margin-top: -10px;
  }
  to {
	opacity: 1;
	margin-top: 0;
  }
}

/* MOVIMIENTO LARGO DESDE ABAJO CON OPACIDAD */

/* Chrome, Safari, Opera */
@-webkit-keyframes opacityfromleft {
  from {
    opacity: 0;
    left: -110%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
/* Standard syntax */
@keyframes opacityfromleft {
  from {
    opacity: 0;
    left: -110%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

/* COLLAPSE */

/* Chrome, Safari, Opera */
@-webkit-keyframes collapsedown {
  from {
	height: 0;
  }
  to {
	height: 100%;
  }
}
/* Standard syntax */
@keyframes collapsedown {
  from {
	height: 0;
  }
  to {
	height: 100%;
  }
}

/* movimiento izquierda a derecha infinito para botones de desplazamiento en menu horizontale */

/* Chrome, Safari, Opera */
@-webkit-keyframes lefttoright {
  from {
    margin-right: 0;
  }
  to {
    margin-right: -5px;
  }
}
/* Standard syntax */
@keyframes lefttoright {
  from {
    margin-right: 0;
  }
  to {
    margin-right: -5px;
  }
}

/* movimiento arriba y abajo para indicar scroll */

/* Chrome, Safari, Opera */
@-webkit-keyframes toptobottom {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: 5px;
  }
}
/* Standard syntax */
@keyframes toptobottom {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: 5px;
  }
}

/* ESTILOS ASOCIADOS A ANIMACIONES
--------------------------------------------------------------*/

.fade-in-down {
  @include animation(opacitymargintop 1.1s linear);
}

.fade-in-left {
  @include animation(opacityfromleft 0.7s linear);
}

.left-right-infinita {
  -webkit-animation-name: lefttoright;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:1s;
  animation-name: lefttoright;
  animation-duration: 0.4s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-timing-function:linear;
  animation-delay:1s
}

.top-bottom--infinita {
  -webkit-animation-name: toptobottom;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:1s;
  animation-name: toptobottom;
  animation-duration: 0.4s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-timing-function:linear;
  animation-delay:1s
}

