/* AREAS DE GOBIERNO Y PERFIL PUBLICO USUARIO
--------------------------------------------------------------------------------------*/

.content .area-habla,
.content .perfil-user {

  /* DESTACADO ----------------*/

  .feature-block {
    background: none repeat scroll 0 0 #F4F4F4;
    @include border-radius(6px 6px 0 0);
    margin: 15px 0 0 0;
    padding: 20px;
    color: $text-color;
    .menu-wrapper {
      .wrapper {
        padding: 0;
      }
      .menu-horizontal {
        background: #ddd;
      }
    }
    .circle-container {
      margin-right: 0;
    }
    #perfil-info .wrapper {
      border: solid #ccc 1px;
      background-color: #fefefe;
    }
    h4 {
      font-size: 19px;
    }
/*    .title {
      padding-bottom: 10px;
      border-bottom: #ddd solid 1px;
      color: $brand-color;
      font-size: 19px;
    }*/
    .media-heading {
      margin-top: 5px;
    }
    .follow a {
      padding: 5px 10px;
      font-size: 12px;
    }
    .follow .btn {
      padding: 10px;
    }
    p {
      color: $text-color;
    }
    &.user {
      .list-unstyled li a {
        border-bottom: 1px solid #DDDDDD;
        display: block;
        padding: 3px 10px;
        @include transition(ease all  0.4s);
        &:hover,
        &:focus {
          background: #f9f9f9;
        }
      }
    }
  }

  /* LIST GROUP ------------------------*/

  .list-group a.list-group-item {
    background-color: #F4F4F4;
    @include transition(all ease 0.4s);
    &:hover,
    &:focus {
      background-color: #fff;
    }
  }

}


/* ENCABEZADO DETALLE AREA */

.content .area-habla {
  .headline {
    padding-left: 0;
    &:before,
    &:after {
      content: none;
    }
  }
}

/* BLOQUE DE NAVEGACION DE POR PESTANAS - carga de propuestas, noticias... etc. para areas, usuarios... etc.*/

.nav-area-habla,
.nav-perfil-habla {
  .tab-content {
    padding: 30px;
    border-width: 0 1px 1px 1px;
    border-color: #ddd;
    border-style: solid;
  }
  .nav-tabs-main {
    background: none repeat scroll 0 0 #ddd;
    @include border-radius(4px 4px 0 0);
    @include box-shadow(0 1px 4px 1px #bbb inset);
    margin: 0;
    padding: 10px 10px 0 10px;
    > li > a {
      background: none repeat scroll 0 0 #eee;
      margin-right: 5px;
      color: #666;
      padding: 20px 12px;
      font-size: 14px;
    }
    > li > a:hover,
    > li > a:focus,
    > .active > a {
      background: #fff;
      color: $brand-color;
    }
  }
}

/* LISTA DE EQUIPO - MIEMBROS DE AREA
------------------------------------------------------------------------------------------------------*/

.team {
  ul {
    padding: 20px 25px;
    border-bottom: 1px solid #EEEEEE;
  }
  .image {
    margin-bottom: 0;
  }
  .media-heading {
    font-size: 17px;
    padding-top: 10px;
  }
}	
	