/* ARTICULOS 
--------------------------------------------------------------------------------------------------------------------*/


.articulo {
  position: relative;
  .headline {
	.title {
	  text-transform: none;
	}
	h1.title,
	h2.title,
	.h1.title,
	.h2.title {
	  font-size: ceil(($font-size-h1 * 1.2));
	}
	h3.title,
	.h3.title{
	  font-size: ceil(($font-size-h3 * 1.2));
	}
	h4.title,
	.h4.title{
	  font-size: ceil(($font-size-h4 * 1.2));
	}
	h5.title,
	.h5.title{
	  font-size: ceil(($font-size-h5 * 1.2));
	}
	.subtitle {
	  color: #777;
	  font-weight: normal;
	  margin-top: 10px;
	  text-transform: none;
	}
	&.featured-title {
	  .title {
		font-weight: bold;
	  }
	  h1.title,
	  .h1.title {
		font-size: floor(($font-size-h1 * 1.3));
	  }
	  h2.title,
	  .h2.title {
		font-size: floor(($font-size-h2 * 1.3));
	  }
	  h3.title,
	  .h3.title {
		font-size: floor(($font-size-h3 * 1.3));
	  }
	  h4.title,
	  .h4.title {
		font-size: floor(($font-size-h4 * 1.3));
	  }
	  h5.title,
	  .h5.title {
		font-size: floor(($font-size-h5 * 1.3));
	  }
	}

  }

  .headline > .btn + .btn,
  .clearfix > .btn + .btn{
	margin-right: 20px;
  }
  .text-right > .btn + .btn {
	margin-left: 20px;
  }

  h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	color: $brand-color;
  }
  h2, .h2 {
	font-size: 22px;
  }
  h3, .h3 {
	font-size: 20px;
  }
  h4, .h4 {
	font-size: 18px;
  }
  h5, .h5 {
	font-size: 16px;
  }
  .time {
	color: $gray-light;
	font-size: 17px;
	font-weight: $font-weight-light;
	margin-bottom: 25px;
	display: block;
  }
  .resumen {
	font-weight: $font-weight-light;
	margin-bottom: 15px;
	font-size: 14px;
  }
  .entradilla {
	color: #777;
	font-size: floor(($font-size-base * 1.3));
	margin-bottom: 25px;
	padding: 0;
	font-weight: $font-weight-light;
  }
  .section {
	margin-bottom: 20px;
  }
  .section > .resumen {
	font-size: $font-size-large;
  }
	/* municipio y tags */

  .municipio a {
	border-bottom: solid 1px #ccc;
	&:hover,
	&:focus {
	  border-bottom: solid 1px #000;
	}
  }
  .tags a {
	color: $brand-second-color;
	&:hover,
	&:focus {
	  color: #000;
	}
  }
  /* ficha info */

  .ficha-evento {
	overflow: hidden;
	padding: 20px 35px;
	background-color: #f8f8f8;
	margin-bottom: 20px;
	border: none;
	h5 {
	  margin-top: 0;
	}
  }
  /* Bloques de contenido: bloque de media - estilos dependiendo de la posicion del bloque de media ocn respecto al texto */

  .contentblock-texto {
	.pos-top {
	  margin-bottom: 30px;
	}
	.pos-bottom {
	  margin-top: 30px;
	}
  }

  /* variante small ------------------------------------*/

  .accordion-small .panel-group {
	.panel-heading {
	  padding: 3px 10px;
	}
	.panel-heading > h5,
	.panel-heading > h5 a {
	  font-size: 14px;
	  font-family: $font-family-base;
	  text-transform: none;
	}
  }

  /* ----------------------------------------*/

  .gallery {
	margin-bottom: 15px;
  }

  .image-gallery .row {
	margin-bottom: 15px;
  }
  .galeria-documentos ul li {
	margin-bottom: 5px;
  }
  .contentblock + .contentblock {
	margin-top: 40px;
  }
  .type-document-icon,
  .ico {
	margin-right: 7px;
  }

  /* listas ------------------------------------*/

  .dl-horizontal,
  .dl-vertical {
	border-bottom: #ddd solid 1px;
	margin-bottom: 0;
  }
  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
	content: none;
	display: block;
  }
  .contentblock-texto ul,
  .contentblock-texto ol {
	margin-left: 10px;
	margin-bottom: 20px;
  }
  .redes {
	margin: 10px 0 0 0;
  }
  ul {
	&.list-inline {
	  li {
		padding-left: 5px;
		&:first-child {
		  padding-left: 0;
		}
	  }
	}
  }

  /* LISTAS CON BLOQUES EN LINEA Y NO EN BLOQUE */

  .contentblock .list-inline li,
  .container-fluid .row-fluid li,
  .container-fluid .list-inline li {
	list-style: none;
	background: none;
  }
  ol li {
	list-style: decimal inside none;
	margin-bottom: 5px;
  }
  li ul, li ol {
	margin-top: 8px;
	margin-bottom: 8px;
  }
  /* bloque de texto */

  .contentblock-texto {
	margin-bottom: 15px;
	font-size: $font-size-medium;
	text-align: justify;
	p {
	  margin-bottom: 20px;
	}
	ul li {
	  list-style: square inside none;
	  + li {
		margin-top: 10px;
	  }
	}
	.nav {
	  margin-left: 0;
	  margin-bottom: 25px;
	}
	.nav li + li {
	  margin: 0;
	}
	ol li {
	  list-style: decimal inside none;
	}
	blockquote p {
	  margin: 0;
	}
	a:not(.btn) {
	  border-bottom: dashed 1px rgba(0,0,0,0.3);
	  &:hover,
	  &:focus {
		color: #000;
		border-color: rgba(0,0,0,1);
	  }
	}
	/* ampliamos padding de elemento media con respecto a texto */

	&.row {
	  margin-left: -30px;
	  margin-right: -30px;
	  > [class*="col-"],
	  > .clearfix .media-object,
	  > .clearfix .wrapper-info,
	  > .container-fluid {
		padding-left: 30px;
		padding-right: 30px;
	  }
	}

	/* destacado imagen --------------*/
	.image {
	  margin-bottom: 10px;
	}
	.image.clearfix {
	  margin-bottom: 20px;
	}
	.saga-imagen-pie {
	  display: block;
	  font-size: 11px;
	  padding: 10px 15px;
	  background: #555;
	  background: rgba(0,0,0,0.5);
	  margin: 0;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  color: #fff;
	  font-weight: 300;
	  z-index: 20;
	}
	.clearfix .saga-imagen-pie {
	  left: 15px;
	  right: 15px;
	}
	.media-object.pull-right .saga-imagen-pie {
	  text-align: right;
	}

	/* destacado ubicacion ----------------*/

	.ubicacion {
	  position: relative;
	  z-index: 10;
	}
	.ubicacion iframe {
	  height: 270px;
	}
	.ubicacion .map {
	  background: none repeat scroll 0 0 #F6F6F6;
	}
	.ubicacion .info-content {

	  background: none repeat scroll 0 0 #F6F6F6;
	  font-size: $font-size-small;
	  padding: 10px 15px;

	  .dl-horizontal dt {
		line-height: 20px;
	  }
	  .dl-horizontal dd {
		line-height: 20px;
	  }
	  .dl-horizontal dd p {
		margin-bottom: 0;
	  }
	}

	/* tablas y listas -------------------------*/

	table th,
	table td {
	  font-size: $font-size-medium-small;
	  padding: 7px 10px;
	}
  }
  .wrapper > footer {
	border-top: 1px dashed #DDDDDD;
	font-size: 12px;
	padding: 10px;
	color: $gray-light;
	div {
	  margin-bottom: 5px;
	}
	.autor {
	  font-style: italic;
	  font-weight: bold;
	}
  }


}

/* DPH PROGRAMAS --------------------------------------------------------------------------------------------------------------*/

/* LISTA DE EVENTOS DEL PROGRAMA */

.articulo.dph-programa .program-events-list {
  > ul > li + li {
	margin-top: 15px;
  }
  > ul > li > article .media{
	border: solid 1px #ddd;
	display: table;
	table-layout: fixed;
	width: 100%;
	.media-left {
	  padding-right: 0;
	  background: $brand-color;
	  width: 62px;
	}
	.media-object {
	  padding: 6px 20px 4px 20px;
	  text-align: center;
	}
	.day {
	  color: $brand-third-color;
	  font-size: 9px;
	}
	.daynumber {
	  color: #fff;
	  font-size: 19px;
	  line-height: 1;
	  margin-bottom: -3px;
	  font-family: $font-family-heading;
	  padding-top: 2px;
	}
	.month {
	  font-size: 11px;
	  color: #fff;
	  font-weight: bold;
	}
	.media-body {
	  padding: 8px 20px;
	  text-align: left;
	  &:hover,
	  &:focus {
		background: #f5f5f5;
	  }
	}
	.media-heading {
	  font-size: 15px;
	  color: $brand-color;
	  font-weight: bold;
	  margin: 0;
	}
	.description {
	  color: $text-color;
	  font-size: 13px;
	}
  }
  /* actividades ya celebradas */

  > ul > li.event-held > article .media{
	border: solid 1px #eee;
	.media-left {
	  background: rgba($brand-color, .75);
	}
	.media-heading {
	  color: rgba($brand-color, .75);
	}
	.event-held-msg {
	  color: #ccc;
	}
  }

}