
/* IMPORTANTE PARA QUE LOS GRUPOS DE HERENCIA EN OFFLINE MARQUEN EXACTAMENTE A LOS RECURSOS QUE ENGLOBAN */

.org-opencms-ade-containerpage-client-ui-css-I_CmsLayoutBundle-I_CmsContainerpageCss-smallElement {
	
	@include clearfix();
}
.org-opencms-gwt-client-ui-css-I_CmsToolbarButtonLayoutBundle-I_CmsToolbarButtonCss-toolbarSelection .org-opencms-gwt-client-ui-css-I_CmsDirectEditCss-optionBar .org-opencms-gwt-client-ui-css-I_CmsToolbarButtonLayoutBundle-I_CmsToolbarButtonCss-toolbarSelection,
.org-opencms-gwt-client-ui-css-I_CmsToolbarButtonLayoutBundle-I_CmsToolbarButtonCss-toolbarSelection .org-opencms-gwt-client-ui-css-I_CmsDirectEditCss-optionBar.org-opencms-gwt-client-ui-css-I_CmsLayoutBundle-I_CmsStateCss-cmsHovering .cmsState {
  display: inline-block !important;
}

#ap-modelinfo-border {
  position: relative;
  z-index: 1;
}

/* barra de espaciado zona superior para tollbar */

@media (min-width: $screen-lg) {
  .toolbar-offline-space {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
  }
}

/* BASE
--------------------------------------------------------------------------------------------------------------------*/


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);/*font-family: 'Open Sans', sans-serif;*/
/*@import url('https://fonts.googleapis.com/css?family=Raleway:700');*/
/*@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');*/
/*@import url('https://fonts.googleapis.com/css?family=Raleway:700');*/
@import url('https://fonts.googleapis.com/css?family=Hind:700');
/*@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');*/
/*@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');*/


body {
  color: $text-color; 
  font-family: $font-family-base ;
  overflow-x: hidden;
  @media (min-width: $screen-lg) {
    padding-top: 143px;
    /*&.home {
      padding-top: 0;
    }*/
    /* en edicion */
    &.org-opencms-ade-containerpage-client-ui-css-I_CmsLayoutBundle-I_CmsContainerpageCss-smallElement,
    &.org-opencms-ade-containerpage-client-ui-css-I_CmsLayoutBundle-I_CmsContainerpageCss-enlargeSmallElements {
      padding-top: 194px;
      /*&.home {
        padding-top: 52px;
      }*/
    }
  }
}

a,
button,
input {
	@include transition(all .4s ease-in-out);
}
a:focus,
button:focus{
  outline: solid 1px $brand-second-color;
}

a:hover,
a:focus {
	text-decoration: none;
}

em {
	font-style: italic;
}
.no-text,
.disp-block {
  display: block !important;
}
.no-scroll-y {
  overflow-y: hidden !important;
}
.inline-b {
  display: inline-block !important;
}

.v-align-m {
  vertical-align: middle;
}
.no-prewrap {
  white-space: normal !important;
}
.divider {
	border-color: #c8c8c8;
	border-style: solid;
	border-width: 0 0 1px 0;
	margin-top: 20px;
	margin-bottom: 20px;
}
.table-block {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.pos-realtive {
  position: relative !important;
}
.pos-absolute {
  position: absolute !important;
}

/* overlay --*/

.overlayed {
  @include overlayed;
  &.overlayed-dark {
    color: #fff;
    &:hover,
    &:focus {
      opacity: 0.75;
    }
    &:before {
      content: "";
      @include overlayer;
      background: rgba(0,0,0,0.5);
    }
  }
  &.overlayed-light {
    &:hover,
    &:focus {
      opacity: 0.75;
    }
    &:before {
      content: "";
      @include overlayer;
      background: rgba(255,255,255,0.3);
    }
  }
}
.overlayer {
  @include overlayer;
}

.media-left {
  padding-right: 15px;
}
.media-right {
  padding-left: 15px;
}
.thumbnail > img {
	@include border-radius(4px);
}

iframe {
	width: 100% !important;
}

.headline {
  margin-bottom: 20px;
  position: relative;
/*  &:before {
	@include transform(rotate(45deg));
	@include transition(all ease .4s);
	border: 14px solid $brand-color;
	bottom: auto;
	top: 50%;
	content: "";
	position: absolute;
	margin-top: -14px;
	right: auto;
	left: -15px;
  }
  &:after {
	@include transform(rotate(45deg));
	@include transition(all ease .4s);
	border: 10px solid $brand-color-darker;
	bottom: auto;
	top: 50%;
	content: "";
	position: absolute;
	margin-top: -10px;
	right: auto;
	left: -14px;
	z-index: 2;
  }*/
  .title {
	margin: 0;
  }
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	padding: 5px 0;
  	font-family: $font-family-heading;
    text-transform: uppercase;
}
.upper {
  text-transform: uppercase;
}
blockquote {
  font-size: $font-size-large;
}
.unstyled {
	list-style: none !important;
}
.strong {
  font-weight: bold;
}
.not-bold {
  font-weight: normal;
}
.regular-text {
  font-family: $font-family-base !important;
}
.heading-text {
  font-family: $font-family-heading !important;
}
.highlight {
  display: inline-block;
  background: $brand-second-color;
  padding: 1px 6px;
  font-weight: normal;
  color: #fff;
}
/* backgorunds ------------------------*/

.bg-brand {
  background: $brand-color;
}
.bg-brand-darker {
  background: $brand-color-darker;
}
.bg-brand-100 {
  background: $brand-color-100;
}
.bg-brand-90 {
  background: $brand-color-90;
}
.bg-brand-80 {
  background: $brand-color-80;
}
.bg-brand-70 {
  background: $brand-color-70;
}
.bg-brand-60 {
  background: $brand-color-60;
}
.bg-brand-50 {
  background: $brand-color-50;
}
.bg-brand-40 {
  background: $brand-color-40;
}
.bg-brand-30 {
  background: $brand-color-30;
}
.bg-brand-20 {
  background: $brand-color-20;
}
.bg-brand-10 {
  background: $brand-color-10;
}
.bg-brand-00 {
  background: $brand-color-00;
}
.bg-brand-second {
  background: $brand-second-color;
}
.bg-brand-third {
  background: $brand-third-color;
}

.bg-gray {
  background: #ddd;
}
.bg-gray-dark {
  background: #999;
}
.bg-gray-darker {
  background: #555;
}
.bg-gray-light {
  background: #eee;
}
.bg-gray-lighter {
  background: #f5f5f5;
}
.bg-white {
  background: #fff;
}

.bg-icon-facebook {
  @include hover-bg-icon($facebook);
}
.bg-icon-twitter {
  @include hover-bg-icon($twitter);
}
.bg-icon-googleplus {
  @include hover-bg-icon($googleplus);
}
.bg-icon-youtube {
  @include hover-bg-icon($youtube);
}
.bg-icon-rss {
  @include hover-bg-icon($rss);
}
.bg-icon-slideshare {
  @include hover-bg-icon($slideshare);
}
.bg-icon-instagram {
  @include hover-bg-icon($instagram);
}
.bg-icon-linkedin {
  @include hover-bg-icon($linkedin);
}
.bg-icon-vimeo {
  @include hover-bg-icon($vimeo);
}
.bg-icon-flickr {
  @include hover-bg-icon($flickr);
}
.bg-icon-pinterest {
  @include hover-bg-icon($pinterest);
}
.bg-icon-tumblr {
  @include hover-bg-icon($tumblr);
}



/* FILAS Y COLUMNAS PERSONALIZADAS ---------------------------------------------*/

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*="col-"],
.row.no-gutter .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row.gutter-sm {
  margin-left: -15px;
  margin-right: -15px;
}
.row.gutter-sm [class*="col-"],
.row.gutter-sm .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.row.gutter-xs {
  margin-left: -8px;
  margin-right: -8px;
}
.row.gutter-xs [class*="col-"],
.row.gutter-xs .container-fluid {
  padding-left: 8px;
  padding-right: 8px;
}


/* FONT SIZE -----------------*/

.fs16 {
  font-size: 16px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs20 {
  font-size: 20px !important;
}
.fs22 {
  font-size: 22px !important;
}
.fs24 {
  font-size: 24px !important;
}
.fs26 {
  font-size: 26px !important;
}
.fs28 {
  font-size: 28px !important;
}
.fs30 {
  font-size: 30px !important;
}
.fs32 {
  font-size: 32px !important;
}
.fs36 {
  font-size: 36px !important;
}
.fs40 {
  font-size: 40px !important;
}
.fs45 {
  font-size: 45px !important;
}
.fs50 {
  font-size: 50px !important;
}
.fs55 {
  font-size: 55px !important;
}
.fs60 {
  font-size: 60px !important;
}
.fs65 {
  font-size: 65px !important;
}
.fs70 {
  font-size: 70px !important;
}
.fs75 {
  font-size: 75px !important;
}
.fs80 {
  font-size: 80px !important;
}
.fs85 {
  font-size: 85px !important;
}
.fs90 {
  font-size: 90px !important;
}
.fs95 {
  font-size: 95px !important;
}
.fs100 {
  font-size: 100px !important;
}


/* ELEMENTOS PROPIOS DE BOOTSTRAP */
 
.img-responsive {
 	margin-left: auto;
 	margin-right: auto;
  	width:auto\9 !important ;
}
.navbar {
  @include border-radius(0);
}
a.thumbnail:hover,
a.thumbnail:focus {
	border: 1px solid #68C5FF;
	@include box-shadow(0px 0px 1px 0px $brand-color-lighter);
}

.form-control:focus {
  background: none repeat scroll 0 0 #fefcea;
}
.list-unstyled li,
.list-inline li {
	list-style: none !important;
}

.input-group-addon,
.input-group-btn {
  width: auto;

}


/* COLORES ---------------------------------------------------*/

.brand-color {
  color: $brand-color;
}
.brand-second-color {
  color: $brand-second-color;
}
.text-color {
  color: $text-color;
}
.gray-base {
  color: $gray-base;
}
.gray-much-darker {
  color: $gray-much-darker;
}
.gray-darker {
  color: $gray-darker;
}
.gray-dark{
  color: $gray-dark;
}
.gray {
  color: $gray;
}
.gray-light {
  color: $gray-light;
}
.gray-lighter {
  color: $gray-lighter;
}

/* BORDER RADIUS-------------*/

.rounded {
  @include border-radius(4px !important);
}

.rounded-2x {
  @include border-radius(10px !important);
}

.rounded-3x {
  @include border-radius(15px !important);
}
.rounded-4x {
  @include border-radius(20px !important);
}
.rounded-all {
  @include border-radius(50% !important);
}
.rounded-top {
  @include border-radius(4px 4px 0px 0px ! important);
}

.rounded-left {
  @include border-radius(4px 0px 0px 4px ! important);
}

.rounded-right {
  @include border-radius(0px 4px 4px 0px ! important);
}

.rounded-bottom {
  @include border-radius(0px 0px 4px 4px ! important);
}

/* CONTENEDOR CIRCULAR DE IMAGENES DE USUARIO */

.circle-container {
  display: inline-block;
  overflow: hidden;
  @include border-radius(50%);
  padding: 2px;
  background: #fff;
  border: #ccc solid 1px;
  margin-right: 10px;
  vertical-align: middle;
  img {
	width: 94px;
	height: 94px;
	@include border-radius(50%);
  }
  &.small {
	img {
	  width: 42px;
	  height: 42px;
	}
  }
  &.medium {
	img {
	  width: 70px;
	  height: 70px;
	}
  }
}

/*----------------------------- */

.w5 {
  width: 5% !important;
}
.w10 {
	width: 10% !important;
}
.w15 {
  width: 15% !important;
}
.w20 {
	width: 20% !important;
}
.w25 {
  width: 25% !important;
}
.w30 {
	width: 30% !important;
}
.w35 {
  width: 35% !important;
}
.w40 {
	width: 40% !important;
}
.w45 {
  width: 45% !important;
}
.w50 {
	width: 50% !important;
}
.w55 {
  width: 55% !important;
}
.w60 {
	width: 60% !important;
}
.w65 {
  width: 65% !important;
}
.w70 {
	width: 70% !important;
}
.w75 {
  width: 75% !important;
}
.w80 {
	width: 80% !important;
}
.w85 {
  width: 85% !important;
}
.w90 {
  width: 90% !important;
}
.w95 {
  width: 95% !important;
}
.w100 {
  width: 100% !important;
}

/* margin ----------------------------------------------------------*/

.no-margin {
  margin: 0 !important;
}
.mb-0,
.margin-bottom-0 {
  margin-bottom: 0;
}
.mb-5,
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.mb-10,
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.mb-15,
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.mb-20,
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.mb-25,
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.mb-30,
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.mb-40,
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.mb-50,
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.mb-60,
.margin-bottom-60 {
  margin-bottom: 60px !important;
}

/*-------------------------*/

.mt-0,
.margin-top-0 {
  margin-top: 0;
}
.mt-5,
.margin-top-5 {
  margin-top: 5px !important;
}
.mt-10,
.margin-top-10 {
  margin-top: 10px !important;
}
.mt-15,
.margin-top-15 {
  margin-top: 15px !important;
}
.mt-20,
.margin-top-20 {
  margin-top: 20px !important;
}
.mt-25,
.margin-top-25 {
  margin-top: 25px !important;
}
.mt-30,
.margin-top-30 {
  margin-top: 30px !important;
}
.mt-40,
.margin-top-40  {
  margin-top: 40px !important;
}
.mt-50,
.margin-top-50  {
  margin-top: 50px !important;
}
.mt-60,
.margin-top-60  {
  margin-top: 60px !important;
}

/*-------------------------*/

.mr-0 {
  margin-right: 0 !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-25 {
  margin-right: 25px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.mr-50 {
  margin-right: 50px !important;
}
.mr-60 {
  margin-right: 60px !important;
}

/*-------------------------*/

.ml-0 {
  margin-left: 0 !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-25 {
  margin-left: 25px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.ml-50 {
  margin-left: 50px !important;
}
.ml-60 {
  margin-left: 60px !important;
}

/* padding ----------------------------------------------------------*/

.p-0,
.no-padding {
  padding: 0 !important;
}
.p-5 {
  padding: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-25 {
  padding: 25px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-35 {
  padding: 35px !important;
}
.p-40 {
  padding: 40px !important;
}
.p-50 {
  padding: 50px !important;
}
.p-60 {
  padding: 60px !important;
}
.p-70 {
  padding: 70px !important;
}

/* bottom */

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}
.pb-70 {
  padding-bottom: 70px !important;
}
.pb-80 {
  padding-bottom: 80px !important;
}
.pb-90 {
  padding-bottom: 90px !important;
}
.pb-100 {
  padding-bottom: 100px !important;
}
.pb-120 {
  padding-bottom: 120px !important;
}
.pb-140 {
  padding-bottom: 140px !important;
}


/*-------------------------*/

.pt-0 {
  padding-top: 0 !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pt-70 {
  padding-top: 70px !important;
}
.pt-80 {
  padding-top: 80px !important;
}
.pt-90 {
  padding-top: 90px !important;
}
.pt-100 {
  padding-top: 100px !important;
}
.pt-120 {
  padding-top: 120px !important;
}
.pt-140 {
  padding-top: 140px !important;
}

/*-------------------------*/

.pr-5 {
  padding-right: 5px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pr-25 {
  padding-right: 25px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pr-40 {
  padding-right: 40px !important;
}
.pr-50 {
  padding-right: 50px !important;
}
.pr-60 {
  padding-right: 60px !important;
}

/*-------------------------*/

.pl-5 {
  padding-left: 5px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pl-25 {
  padding-left: 25px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pl-40 {
  padding-left: 40px !important;
}
.pl-50 {
  padding-left: 50px !important;
}
.pl-60 {
  padding-left: 60px !important;
}