/* DESTACADO - DESTACADOS GROUP - FREE HTML - BOX SCHEMAS
----------------------------------------------------------------------------------------------------------------*/

/* RECURSO DESTACADO
------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.sg-microcontent,
.sg-freehtml {

	.element .row.panel-body {
		padding: 0;
	}
	.elements > .row {
	  margin-bottom: 15px;
	}

}

/* SCROLLBAR BOX */

/*.scrollbar > .wrapper {
  overflow: hidden;
}*/


/* BOX SCHEMAS
------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* BOX GENERAL
------------------------------------------------------------------------------------------------------------------------*/

.box {
  header {
	position: relative;
	background: none;
	padding: 8px 0;
	.title {
	  margin: 0;
	  line-height: 1.2;
	}
	.subtitle {
	  line-height: 1.4;
	  margin: 8px 0 0 0;
	}
  }
  &.text-center header {
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
	&:after {
	  left: 50%;
	  bottom: 0;
	  top: auto;
	  width: 60px;
	  height: 4px;
	  border: none;
	  background: $brand-second-color;
	  margin-left: -30px;
	}
  }

  .action-btn {
	margin-top: 15px;
  }

  .description {
	p,ul,ol {
	  margin-bottom: 9px;
	}
  }
  &.bordered-box {
	@include box-shadow(0 0 8px 1px rgba(0,0,0,0.1) inset);
	border: solid 1px #ddd;
	&.big-box {
	  padding: 30px;
	}
	&.medium-box {
	  padding: 25px;
	}
	&.default-box {
	  padding: 20px;
	}
	&.small-box {
	  padding: 15px;
	}
  }

  /* big box ------------------------------------------------------------------------------*/

  &.big-box {
	header {
	  padding: 15px 0;
	  margin-bottom: 30px;
	}

	/*titulo */
	h1.title {
	  font-size: floor(($font-size-h1 * 1.2));
	}
	h2.title {
	  font-size: floor(($font-size-h2 * 1.2));
	}
	h3.title {
	  font-size: floor(($font-size-h3 * 1.2));
	}
	h4.title {
	  font-size: floor(($font-size-h4 * 1.2));
	}
	h5.title,
	div.title {
	  font-size: floor(($font-size-h5 * 1.2));
	}

	/* subtitulo */
	h2.subtitle {
	  font-size: floor(($font-size-h2 * 0.9));
	}
	h3.subtitle {
	  font-size: floor(($font-size-h3 * 0.9));
	}
	h4.subtitle {
	  font-size: floor(($font-size-h4 * 0.9));
	}
	h5.subtitle,
	div.subtitle {
	  font-size: floor(($font-size-h5 * 0.9));
	}

	.panel-title {
	  font-size: floor(($font-size-base * 1.9));
	}
	.description {
	  font-size: $font-size-large;
	}
  }

  /* medium box ------------------------------------------------------------------------------*/

  &.medium-box {
	header {
	  padding: 11px 0;
	  margin-bottom: 25px;
	}
	/*titulo */
	h1.title {
	  font-size: $font-size-h1;
	}
	h2.title {
	  font-size: $font-size-h2;
	}
	h3.title {
	  font-size: $font-size-h3;
	}
	h4.title {
	  font-size: $font-size-h4;
	}
	h5.title,
	div.title {
	  font-size: $font-size-h5;
	}

	/* subtitulo */
	h2.subtitle {
	  font-size: floor(($font-size-h2 * 0.9));
	}
	h3.subtitle {
	  font-size: floor(($font-size-h3 * 0.9));
	}
	h4.subtitle {
	  font-size: floor(($font-size-h4 * 0.9));
	}
	h5.subtitle,
	div.subtitle{
	  font-size: floor(($font-size-h5 * 0.9));
	}

	.panel-title {
	  font-size: floor(($font-size-base * 1.6));
	}

	.description {
	  font-size: $font-size-medium;
	}
  }

  /* default box ------------------------------------------------------------------------------*/

  &.default-box {
	header {
	  padding: 8px 0;
	  margin-bottom: 20px;
	}
	/*titulo */
	h1.title {
	  font-size: floor(($font-size-h1 * 0.9));
	}
	h2.title {
	  font-size: floor(($font-size-h2 * 0.9));
	}
	h3.title {
	  font-size: floor(($font-size-h3 * 0.9));
	}
	h4.title {
	  font-size: floor(($font-size-h4 * 0.9));
	}
	h5.title,
	div.title {
	  font-size: floor(($font-size-h5 * 0.9));
	}

	/* subtitulo */
	h2.subtitle {
	  font-size: floor(($font-size-h2 * 0.8));
	}
	h3.subtitle {
	  font-size: floor(($font-size-h3 * 0.8));
	}
	h4.subtitle {
	  font-size: floor(($font-size-h4 * 0.8));
	}
	h5.subtitle,
	div.subtitle{
	  font-size: floor(($font-size-h5 * 0.8));
	}

	.panel-title {
	  font-size: floor(($font-size-base * 1.4));
	}

	.description {
	  font-size: $font-size-base;
	}
  }

  /* small box ------------------------------------------------------------------------------*/

  &.small-box {
	header {
	  padding: 5px 0;
	  margin-bottom: 10px;
	}
	/*titulo */
	h1.title {
	  font-size: floor(($font-size-h1 * 0.8));
	}
	h2.title {
	  font-size: floor(($font-size-h2 * 0.8));
	}
	h3.title {
	  font-size: floor(($font-size-h3 * 0.8));
	}
	h4.title {
	  font-size: floor(($font-size-h4 * 0.8));
	}
	h5.title,
	div.title {
	  font-size: floor(($font-size-h5 * 0.8));
	}

	/* subtitulo */
	h2.subtitle {
	  font-size: floor(($font-size-h2 * 0.8));
	}
	h3.subtitle {
	  font-size: floor(($font-size-h3 * 0.8));
	}
	h4.subtitle {
	  font-size: floor(($font-size-h4 * 0.8));
	}
	h5.subtitle,
	div.subtitle{
	  font-size: floor(($font-size-base));
	}
	.panel-title {
	  font-size: floor(($font-size-base * 1.2));
	}
	.subtitle {
	  font-size: floor(($font-size-base * 1));
	}
	.description {
	  font-size: $font-size-base;
	}
  }

  /* para todos los tamaños */

  header,
  .panel-heading {
	/* titulo */
	.h1.title,
	.h1.panel-title {
	  font-size: $font-size-h1;
	}
	.h2.title,
	.h2.panel-title {
	  font-size: $font-size-h2;
	}
	.h3.title,
	.h3.panel-title{
	  font-size: $font-size-h3;
	}
	.h4.title,
	.h4.panel-title{
	  font-size: $font-size-h4;
	}
	.h5.title,
	.h5.panel-title
	.size-default.title {
	  font-size: $font-size-h5;
	}
	/* subtitulo */

	.h2.subtitle {
	  font-size: floor(($font-size-h2 * 0.9));
	}
	.h3.subtitle {
	  font-size: floor(($font-size-h3 * 0.9));
	}
	.h4.subtitle {
	  font-size: floor(($font-size-h4 * 0.9));
	}
	.h5.subtitle,
	.h6.subtitle,
	.size-default.title {
	  font-size: floor(($font-size-h5 * 0.9));
	}
  }

}

/* WELLS
-------------------------------------------------------------------------------------------------------------*/

.well,
.sg-microcontent-panel .well {
  h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
  }
  .description {
	font-size: $font-size-large;
  }
}
.feature .well{
  text-align: center !important;
  .btn {
	white-space: normal;
  }
  .btn-block {
	display: block;
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
  }
  .title {
	min-height: 115px;
  }
  img {
	display: inline-block;
	margin-bottom: 10px;
	width: 40%;
  }
}
/* con colores de fondo diferentes */

.well.brand {
  background-color: $brand-color;
}
.well.info {
  background-color: $state-info-bg;
}
.well.warning {
  background-color: $state-warning-bg;
}
.well.success {
  background-color: $state-success-bg;
}
.well.danger {
  background-color: $state-danger-bg;
}

/* BOX TEXT-OVERLAY TEXTO POR ENCIMA DE LA IMAGEN DEL RECURSO
-------------------------------------------------------------------------------------------------------------*/

.sg-microcontent-overlay {
  position: relative;
  display: table;
  width: 100%;
  height: 1px;
  min-height: 140px;
  table-layout: fixed;
  &.big-box header,
  &.medium-box header,
  &.default-box header,
  &.small-box header{
	margin-bottom: 0;
	padding: 0;
  }
  .element {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	position: relative;
	&:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  right: -1px;
	  left: 0;
	  bottom: 0;
	  background: rgba(0,0,0,0.35);
	  @include transition(all ease .3s);
	}
	&.with-link:hover:before,
	&.with-link:focus:before {
	  background: rgba( $brand-color, .7 );
	}
	.text-overlay {

	}
	.text-overlay > .wrapper {
	  padding: 25px;
	  position: relative;
	}
	.title,
	.title a {
	  color: #fff;
	  font-weight: bold;
	}
	.description,
	.info-date,
	.subtitle {
	  color: #fff;
	}
	.info-date {
	  margin-top: 10px;
	}
	.description {
	  margin-top: 15px;
	}
  }
  &[data-parallax="scroll"] .element {
	position: absolute;
  }
  .btn.btn-default {
	background: none;
	border: solid 1px #fff;
	color: #fff;
	&:hover,
	&:focus {
	  background: rgba(0,0,0,0.5);
	}
  }

}


/* PANEL BOX
----------------------------------------------------------------------------------------------------*/

.box .panel {
  .image,
  .thumbnail {
	margin-bottom: 0;
  }
  .panel-footer .action-btn {
	margin-top: 0;
  }
  .panel-heading {
	.panel-title,
	.panel-title a,
	.panel-title small {
	  color: inherit;
	}
  }
  &.panel-primary {
	@include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
  }
  &.panel-secondary {
	@include panel-variant($panel-secondary-border, $panel-secondary-text, $panel-secondary-heading-bg, $panel-secondary-border);
  }

}

/* COLOR BOX
----------------------------------------------------------------------------------------------------*/

.box.color-box {

  margin-bottom: 20px;

  .wrapper {
	padding: 20px 30px;
  }

  .title {
	margin-top: 0;
  }

  &.color-box-defaultsize {
	.wrapper {
	  padding: 20px;
	}
	.title {
	  font-size: $font-size-h3;
	}
  }
  &.color-box-smallsize {
	.wrapper {
	  padding: 10px;
	}
	.title {
	  font-size: floor(($font-size-h3 * 0.8));
	}
  }
  &.color-box-bigsize {
	.wrapper {
	  padding: 30px;
	}
	.title {
	  font-size: floor(($font-size-h3 * 1.2));
	}
  }
  &.color-box-biggersize {
	.wrapper {
	  padding: 40px;
	}
	.title {
	  font-size: floor(($font-size-h3 * 1.4));
	}
  }
  .title,
  .subtitle,
  .description,
  p,
  .description a,
  .title a,
  header .title .fa {
	color: #fff;
  }
  header {
	border-color: #fff;
  }

  /* FORMATOS COLOR CLARO
  ---------------------------------------------------------------------------*/

  &.color-box-light,
  &.color-box-default {
	background: none repeat scroll 0% 0% #fafafa;
  }
  &.color-box-light,
  &.color-box-default,
  &.nocolor {
	border: 1px solid #eeeeee;
	.title,
	.subtitle,
	.description,
	p,
	header .title .fa {
	  color: $text-color;
	}
	.description a,
	.title a {
	  color: $text-color-darker;
	}
	header {
	  border-color: $text-color;
	}
  }

  /* RESTO DE FORMATOS
  ---------------------------------------------------------------------*/

  &.color-box-brand {
	background: none repeat scroll 0% 0% $brand-color;
  }
  &.color-box-brand-dark {
	background: none repeat scroll 0% 0% $brand-color-darker-medium;
  }
  &.color-box-brand-light {
	background: none repeat scroll 0% 0% $brand-color-medium;
  }

  &.color-box-brand-second {
	background: none repeat scroll 0% 0% $brand-second-color;
  }
  &.color-box-brand-second-dark {
	background: none repeat scroll 0% 0% $brand-second-color-darker-medium;
  }
  &.color-box-brand-second-light {
	background: none repeat scroll 0% 0% $brand-second-color-medium;
  }

  &.color-box-magenta {
	background: none repeat scroll 0% 0% $color-magenta;
  }

  &.color-box-blue {
	background: none repeat scroll 0% 0% $color-azul;
  }

  &.color-box-red {
	background: none repeat scroll 0% 0% $color-rojo;
  }

  &.color-box-granate {
	background: none repeat scroll 0% 0% $color-granate;
  }

  &.color-box-sea {
	background: none repeat scroll 0% 0% $color-turquesa;
  }

  &.color-box-grey {
	background: none repeat scroll 0% 0% $color-gris;
  }

  &.color-box-yellow {
	background: none repeat scroll 0% 0% $color-amarillo;
  }

  &.color-box-orange {
	background: none repeat scroll 0% 0% $color-naranja;
  }

  &.color-box-green {
	background: none repeat scroll 0% 0% $color-verde;
  }

  &.color-box-purple {
	background: none repeat scroll 0% 0% $color-violeta;
  }

  &.color-box-aqua {
	background: none repeat scroll 0% 0% $color-aqua;
  }

  &.color-box-brown {
	background: none repeat scroll 0% 0% $color-marron;
  }

  &.color-box-dark-blue {
	background: none repeat scroll 0% 0% $color-azul-oscuro;
  }

  &.color-box-light-green {
	background: none repeat scroll 0% 0% $color-verde-claro;
  }

  &.color-box-dark {
	background: none repeat scroll 0% 0% $color-gris-oscuro;
  }

  &.color-box-light {
	background: none repeat scroll 0% 0% $color-gris-claro;
  }

  &.color-box-default {
	background: none repeat scroll 0% 0% $color-gris-claro;
  }

  &.color-box-nocolor {
	background: none;
  }


}

/* FORMATOS ANCHO COMPLETO DESTACADO EN DISPLAY TABLE Y TABLE-CELL
------------------------------------------------------------------------------------------------------------------------*/

.box.featured-main {
  header {
	text-align: center;
	margin-bottom: 40px;
	padding: 0;
	&:after {
	  content: none;
	}
  }
  .title {
	font-size: 30px;
	padding-bottom: 25px;
	position: relative;
	display: inline-block;
	a {
	  color: #000;
	}
	&:before {
	  content: "";
	  position: absolute;
	  left: 30%;
	  bottom: 0;
	  width: 20%;
	  height: 3px;
	  border-bottom: solid 3px $brand-color;
	}
	&:after {
	  content: "";
	  position: absolute;
	  left: 50%;
	  bottom: 0;
	  width: 20%;
	  height: 3px;
	  border-bottom: solid 3px $brand-color-lighter;
	}
  }
  .description {
	font-size: 18px;
  }
}
.box.featured-table .element {
  @media (min-width: $screen-md) {
	> .row {
	  display: table;
	}
	> .row > [class*="media"],
	> .row > .container-fluid {
	  display: table-cell;
	  vertical-align: middle;
	  float: none;
	}
  }

  > .row > .container-fluid {
	overflow: hidden;
  }
  .img-responsive {
	width: 100%;
  }
}

/* FORMATO CON IMAGEN CIRCULAR -----------------------------*/

.box.featured-circle {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  header {
	padding-bottom: 15px;
	&:after {
	  left: 50%;
	  bottom: 0;
	  top: auto;
	  width: 60px;
	  height: 4px;
	  border: none;
	  background: $brand-second-color;
	  margin-left: -30px;
	  padding-left: 0;
	  padding-right: 0;
	}
  }
  .image {
	.wrapper-image {
	  @include border-radius(50%);
	  width: 200px;
	  height: 200px;
	  display: inline-block;
	  overflow: hidden;
	}
  }
  .description {
	padding-left: 10px;
	padding-right: 10px;
  }
}

/* CAJA DE ÁREA TEMÁTICA ----------------------------------------------------------------------------*/

.sg-microcontent-panel-area {
  margin-bottom: 30px;
  .element {
	background: rgba($brand-third-color, 0.5);
	@include box-shadow(0px 4px 11px 2px rgba(0,0,0,0.1));
	border: solid 1px #ccc;
	@include transition(all ease .3s);
	&:hover,
	&:focus {
	  @include box-shadow(0px 4px 11px 2px rgba(0,0,0,0.2));
	  .wrapper-image img {
		-webkit-filter: grayscale(0.6);
		-webkit-filter: grayscale(60%);
		filter: gray;
		filter: grayscale(60%);
		@include transform(scale(1.25));
	  }
	}
	&.bg-gray {
	  background: #eee;
	}
	&.bg-gray-light {
	  background: #f8f8f8;
	}
	&.bg-white {
	  background: #fff;
	}
	&.bg-none {
	  background: none;
	}
  }
  .media-wrapper {
	position: relative;
  }
  .header {
	background: rgba($brand-color, 0.8);
	padding: 15px 30px 12px 30px;
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	.title {
	  margin: 0;
	  padding: 0;
	}
  }
  .caption {
	padding: 20px 30px;
	font-size: 13px;
	display: none;
  }
  @media (min-width: $screen-sm) {
	.caption {
	  display: block;
	}
  }
}

/* RECURSOS TIPO ARTICULO (NOTICIAS, EVENTOS... ) EN FORMATO CAJA ----------------------------------------*/

.dph-noticia-box,
.dph-evento-box,
.dph-contenido-box {
  .element .text-overlay > .wrapper {
	padding: 30px 25px;
  }
  .text-overlay .title {
	@include transition(all cubic-bezier(0.11, 0.41, 0.58, 1) 0.3s);
  }
  .btn.rounded-all {
	width: 60px;
	height: 60px;
	padding: 0;
	line-height: 60px;
	text-align: center;
	position: absolute;
	bottom: -29px;
	left: 50%;
	margin-left: -30px;
	opacity: 0.8;
	> .sg-icon {
	  font-size: 35px;
	  line-height: 60px;
	  font-weight: 300;
	}
  }
  .element.with-link:hover,
  .element.with-link:focus {
	.btn.rounded-all {
	  opacity: 1;
	}
	.text-overlay .title {
	  margin-top: -15px;
	  padding-bottom: 20px;
	}
  }

}
.dph-noticia-box .element .text-overlay > .wrapper {
  padding: 40px 25px 50px 25px;
}

/* EN PORTADA BOX -----------------------------------------------------------------------------------------------------*/

.box.masonry-box {
  .element {
	vertical-align: bottom;
  }
  .element .text-overlay > .wrapper {
	@include transition(all ease .3s);
  }
  .element .text-overlay > .wrapper {
	padding: 25px;
  }
  &:hover .element .text-overlay > .wrapper {
	padding: 10px 25px;
  }
  header .title {
	color: #fff;
  }
  header .info-date {
	color: #fff;
	margin-top: 10px;
  }
  .overlay-link {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 15;
  }
  .overlay-link .hover-overlay {
	visibility: hidden;
	opacity: 0;
	background: $brand-color;
	@include transition(all ease .3s);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
  }
  .overlay-link:after {
	content: "\e641";
	display: inline-block;
	font: normal normal normal 26px/1 Pe-icon-7-stroke;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include transform(translate(0, 0));
	position: absolute;
	left: auto;
	top: 15px;
	right: 15px;
	z-index: 1;
	color: #fff;
	@include border-radius(50%);
	border: #fff solid 1px;
	width: 42px;
	height: 42px;
	line-height: 42px;
	visibility: hidden;
	text-align: center;
  }
  .overlay-link:hover,
  .overlay-link:focus {
	.hover-overlay {
	  visibility: visible;
	  opacity: 0.2;
	}
  }
  .overlay-link:hover:after,
  .overlay-link:focus:after {
	visibility: visible;
  }
}
