/* BOTONES
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------- */

.btn,
.newslettersubscription-buttons input {
  @include border-radius(0);
  border: none;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  .fa,
  [class*="icon-"]{
    vertical-align: middle;
  }
}

.btn:hover,
.btn:focus {
  opacity: 1;
}

.btn-bordered {
  border: solid 1px $text-color;
  color: $text-color;
  background: none;
}
.btn-default {
  border: solid 1px $text-color;
  color: $text-color;
}
.btn-xs,
.btn-group-xs>.btn {
  padding: 3px 5px;
}
.btn-lg, .btn-group-lg>.btn {
  padding: 12px 25px;
  font-size: 16px;
}

/* PRIMARIO
-----------------------------------------------*/

.btn-specific-main {
  color: #fff;
  background-color: $brand-color;
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: #fff;
    background-color: $brand-color-darker;
    border-color: transparent;
  }
  &.btn-bordered {
    border: solid 1px $brand-color;
    color: $brand-color;
    background: none;
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
      background-color: $brand-color;
      color: #fff;
    }
  }
}



/* SECUNDARIO
-----------------------------------------------*/

.btn-specific-secondary {
  color: #fff;
  background-color: $brand-second-color;
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: #fff;
    background-color: $brand-second-color-darker;
    border-color: transparent;
  }
  &.btn-bordered {
    border: solid 1px $brand-second-color;
    color: $brand-second-color;
    background: none;
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
      background-color: $brand-second-color;
      color: #fff;
    }
  }
}

/* TERCIARIO
-----------------------------------------------*/

.btn-specific-third {
  color: #fff;
  background-color: $brand-third-color;
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: #fff;
    background-color: $brand-third-color-darker;
    border-color: transparent;
  }
  &.btn-bordered {
    border: solid 1px $brand-third-color;
    color: $brand-third-color;
    background: none;
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
      background-color: $brand-third-color;
      color: #fff;
    }
  }
}


/* TEXT-COLOR
-----------------------------------------------*/

.btn-gray {
  color: #fff;
  background-color: $text-color;
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: #fff;
    background-color: darken($text-color, 10%);
    border-color: transparent;
  }
  &.btn-bordered {
    border: solid 1px $text-color;
    color: $text-color;
    background: none;
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
      background-color: $text-color;
      color: fff;
    }
  }
}

/** BOTONES Q LOS QUE NO SE LES PUEDE CAMBIAR LA CLASE (FORMULARIOS OPENCMS) ******************************************************************/

.formbutton.btn.submitbutton,
.formbutton.btn.resetbutton,
.newslettersubscription-buttons input[type="submit"],
.newslettersubscription-buttons input[type="reset"] {
  padding: 12px 18px;
}

.formbutton.btn.submitbutton,
.newslettersubscription-buttons input[type="submit"],
.newslettersubscription-buttons input[type="reset"] {
  color: #fff;
  background-color: $brand-color;
}

.formbutton.btn.submitbutton:hover,
.formbutton.btn.submitbutton:focus,
.newslettersubscription-buttons input[type="reset"]:focus,
.newslettersubscription-buttons input[type="reset"]:hover,
.newslettersubscription-buttons input[type="submit"]:hover,
.newslettersubscription-buttons input[type="submit"]:focus {
  color: #fff;
  background-color: $brand-color-darker;
}



/** el azul, naranja, rojo, verde, azul claro, gris oscuro y gris claro lo da bootstrap ****/

/** morado ***************/


.btn-purple {
  color: #fff;
  background-color: $color-violeta;
  &.btn-bordered {
    border: solid 1px $color-violeta;
    color: $color-violeta;
    background: none;
  }
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: #fff;
    background-color: darken($color-violeta, 10%);
    border-color: transparent;
  }
}


/** granate ***************/

.btn-granate {
  color: #fff;
  background-color: $color-granate;
  &.btn-bordered {
    border: solid 1px $color-granate;
    color: $color-granate;
    background: none;
  }
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: #fff;
    background-color: darken($color-granate, 10%);
    border-color: transparent;
  }
}

/** verde musgo ********/

.btn-musgo {
  color: #fff;
  background-color: $color-verde-musgo;
  &.btn-bordered {
    border: solid 1px $color-verde-musgo;
    color: $color-verde-musgo;
    background: none;
  }
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: #fff;
    background-color: darken($color-verde-musgo, 10%);
    border-color: transparent;
  }
}

/** aguamarina - azul verdoso ***************/

.btn-aguamarina {
  color: #fff;
  background-color: $color-turquesa;
  &.btn-bordered {
    border: solid 1px $color-turquesa;
    color: $color-turquesa;
    background: none;
  }
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: #fff;
    background-color: darken($color-turquesa, 10%);
    border-color: transparent;
  }
}

/** amarillo ***************/

.btn-amarillo {
  color: #fff;
  background-color: $color-amarillo;
  &.btn-bordered {
    border: solid 1px $color-amarillo;
    color: $color-amarillo;
    background: none;
  }
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: #fff;
    background-color: darken($color-amarillo, 10%);
    border-color: transparent;
  }
}

/** aspecto de enlace *************************************/

.btn-link {
  border-color: transparent;
  @include border-radius(0);
  color: $link-color;
  padding: 3px 8px;
  text-shadow: none;
  @include box-shadow(none);
}

.btn-link:hover, .btn-link:focus {
  color: #000 !important;
  text-decoration: none;
}


/* CUSTOMIZADOS */

/** principal - brand color ********/

.btn-link.link-main {
  color: $brand-color;
}
/** principal - brand second color ********/

.btn-link.link-secondary {
  color: $brand-second-color;
}


/*-------------------------------------------*/

/** primary-azul oscuro ********/

.btn-link.link-primary {
  color: $brand-primary;
}

/** info-azul claro ********/

.btn-link.link-info {
  color: $brand-info;
}

/** verde-success ********/

.btn-link.link-success {
  color: $brand-success;
}

/** naranja-warning ********/

.btn-link.link-warning {
  color: $brand-warning;
}

/** rojo-danger ********/

.btn-link.link-danger {
  color: $brand-danger;
}

/** granate ********/

.btn-link.link-granate {
  color: $color-granate;
}


/** morado ********/

.btn-link.link-morado {
  color: $color-violeta;
}

/** verde musgo ********/

.btn-link.link-verdemusgo {
  color: $color-verde-musgo;
}

/** azul verdoso ********/

.btn-link.link-aguamarina {
  color: $color-turquesa;
}
/** amarillo ********/

.btn-link.link-amarillo {
  color: $color-amarillo;
}


/** blanco ********/

.btn-link.link-inverse {
  color: #fff;
}
