/* BUSCADOR
--------------------------------------------------------------------------------------*/

.sg-search {
  	.box-search {
	  background: none;
	  border: solid 1px #ccc;
	}
	.hasresults .box-search {
  		margin-bottom: 25px;
	}
	/*.filterbox-content {
		margin-top: 15px;
	}*/
	.informe {
  		color: $gray-light;
  		font-style: italic;
  		text-align: center;
	}

	.filterheader {
		.title-element {
			color: $brand-color;
			font-weight: bold;
			font-size: $font-size-large;
		}
		.bullet {
			float: right;
			font-size: 13px;
			color: $brand-success;
			cursor: pointer;
			&:hover,
			&:focus {
				color: darken($brand-success, 15% );
			}		
		}
	}
	.filterbox {
	  .filter-main {
		margin-bottom: 20px;
	  }
		.filterbox-content {
		  padding-top: 15px;
		}
		.form-inline .form-control {
  			width: 100%;
		}
	  .btn {
		padding: 12px 18px;
	  }
	}
  	.list .main-ul>li+li {
	  border: none;
	}

  	/* RESULTADOS -----------------------------------------------------*/

  	.list > .main-ul > li {
	  .thumbnail,
	  .saga-imagen {
		margin-bottom: 0;
	  }
	  .media-body {
		padding-top: 15px;
	  }
	  .date-element {
		margin-bottom: 15px;
	  }
	  .description {
		margin: 20px 0 0 0;
		font-size: 15px;
	  }
	  .fa.table-cell {
		display: none;
	  }
	}

}
