/* CARRUSEL
----------------------------------------------------------------------------------------------------------------*/

.carousel-bg {
  overflow: hidden;
  /* CONTROLES DESPLAZAMIENTO */
  .carousel-control {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	background: none;
	opacity: 0.5;
	font-size: 60px;
	text-shadow: none;
	margin-top: -30px;
	@include border-radius(50%);
	border: solid 1px #eee;
	color: #fff;
	.glyphicons-chevron-left,
	.glyphicons-chevron-right,
	.icon-prev,
	.icon-next {
	  font-size: 75px;
	  height: 75px;
	  line-height: 1;
	  margin-left: 0;
	  margin-top: -40px;
	}
	> .fa {
	  width: 30px;
	  height: 30px;
	  display: inline-block;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  font-size: 30px;
	  margin-top: -15px;
	  margin-left: -15px;
	}
	&.left {
	  left: 20px;
	}
	&.right {
	  right: 20px;
	}
	&:hover,
	&:focus {
	  border-color: #000;
	  background: rgba(255,255,255,0.4);
	  color: #000;
	  opacity: 1;
	}
  }
  /* CONTROLES ACCESIBILIDAD */
  .carousel-control-acc {
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: 1;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	border: none;
	color: #fff;
	padding: 3px 8px;
	text-align: center;
	&.carousel-play {
	  left: 50px;
	}
	&:hover,
	&:focus {
	  background: #fff;
	  color: #333;
	}
  }
  /* CONTROLES POR ITEM */
  .carousel-indicators {
	left: auto;
	right: 15px;
	width: auto;
	bottom: auto;
	top: 15px;
	li {
	  background-color: $brand-color;
	  border: 1px solid white;
	  @include border-radius(25px);
	  cursor: pointer;
	  display: inline-block;
	  height: 25px;
	  margin: 1px;
	  text-indent: 0;
	  width: 25px;
	  &.active {
		height: 25px;
		width: 25px;
		background-color: $brand-color-lighter;
		border: 1px solid white;
	  }
	  span {
		color: #fff;
		line-height: 24px;
		vertical-align: middle;
		font-size: 11px;
	  }
	}
	/* CONTROLES CON TITULO DEL ITEM */

	&.indicators-by-title {
	  left: auto;
	  top: auto;
	  right: 0;
	  list-style: none outside none;
	  margin-bottom: 0;
	  position: absolute;
	  width: 100%;
	  z-index: 15;
	  bottom: 10px;
	  text-align: right;
	  margin-left: 0;

	  li {
		background: none;
		text-align: center;
		@include border-radius(0);
		color: inherit;
		cursor: pointer;
		display: inline-block;
		float: none;
		padding: 0;
		width: 10%;
		height: auto;
		text-indent: 0;
		margin: 0 10px 0 0;
		border: none;
		@include transition(background ease .3s);
		font-size: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		> .carou-btn {
		  padding: 6px 10px;
		  max-width: 100%;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  display: block;
		  background: none;
		  border: none;
		  text-shadow: none;
		  @include transition(all ease 0.3s);
		  color: #ccc;
		  background: rgb(30,30,30);
		  background: rgba(0,0,0,0.4);
		  > .carou-number {
			display: none;
		  }
		  &.active,
		  &:hover,
		  &:focus {
			background: rgb(255,255,255);
			background: rgba(255,255,255,0.8);
			color: #000;
		  }
		}
		&.active > .carou-btn {
		  background: rgb(255,255,255);
		  background: rgba(255,255,255,0.8);
		  color: #000;
		}
	  }
	}
  }
  /* ITEMS */
  > .carousel-inner > .item.item-overlayed:after {
	background: rgba(0,0,0,0.35) !important;
  }
  .carousel-inner,
  .carousel-inner .item {
	overflow: hidden;
	.saga-imagen {
	  margin: 0;
	}
	.responsive-video {
	  position: relative;
	  overflow: hidden;
	  height: 490px;
	  img {
		height: auto;
		max-width: 100%;
		display: block;
	  }
	  video {
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		right: 0;
		min-height: 100%;
		min-width: 100%;
	  }
	  .embed-responsive-16by9 {
		padding: 0;
		height: auto;
	  }
	}
	.container-caption {
	  position: absolute;
	  width: 100%;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  display: table;
	  table-layout: fixed;
	}
	.carousel-caption {
	  position: relative;
	  left: 0;
	  right: 0;
	  text-shadow: none;
	  bottom: auto;
	  color: #fff;
	  top: auto;
	  z-index: 10;
	  text-align: center;
	  background: none;
	  display: table-cell;
	  vertical-align: middle;
	  padding: 60px 95px;
	  .title {
		color: #fff;
		margin: 0;
		padding: 0;
		font-size: 30px;
	  }
	  .title a {
		color: inherit;
		&:hover,
		&:focus {
		  color: $brand-second-color;
		}
	  }
	  .subtitle {
		text-shadow: none;
		font-size: 17px;
		margin: 10px 0 0 0;
		padding: 0;
	  }
	  .description {
		padding: 0;
		margin: 15px 0 0 0;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
		background: #333;
		background: none;
		font-size: 15px;
		p {
		  margin: 0;
		}
	  }
	  .action-btn {
		margin-top: 20px;
	  }
	}
  }

  /* > 1200px -----------------------------------------------------------*/
  @media (min-width: $screen-lg) {
	.carousel-inner .item .container-caption {
	  max-width: 65%;
	  left: 17.5%;
	}
  }
}


/* VERSION CON TRANSICION FADE ----*/

.carousel.carousel-fade {
  .carousel-inner {
	.item {
	  @include transition-property(opacity);
	}

	.item,
	.active.left,
	.active.right {
	  opacity: 0;
	}

	.active,
	.next.left,
	.prev.right {
	  opacity: 1;
	}

	.next,
	.prev,
	.active.left,
	.active.right {
	  left: 0;
	  @include transform(translate3d(0, 0, 0));
	}
  }
}


/* MEDIA QUERIES -------------------------------------------------------------------------------------------*/

.carousel {


  /* < 992px --------------------------- */

  @media (max-width: $screen-sm-max) {
	.carousel-inner .item .carousel-caption .description {
	  font-size: 14px;
	}
  }

  /* < 768px --------------------------- */

  @media (max-width: $screen-xs-max) {
	.carousel-inner .item .carousel-caption .description {
	  display: none;
	}
  }

  /* < 480px --------------------------- */

  @media (max-width: $screen-xxs-max) {
	.carousel-control.right {
	  right: -20px;
	}
	.carousel-control.left {
	  left: -20px;
	}
	.carousel-indicators.indicators-by-title {
	  display: none;
	}
	.carousel-inner .item .carousel-caption {
	  padding: 0;
	  vertical-align: middle;
	}
	.carousel-inner .item .carousel-caption .title {
	  padding: 8px 15px;
	  font-size: 18px;
	}
	.carousel-inner .item .carousel-caption .subtitle {
	  display: none;
	}
  }

}


