/* COMENTARIOS
--------------------------------------------------------------------------------------------------------------------*/

.comments {

  &.comments-entries {
    border: #ddd solid 1px;
    @include border-radius(4px 4px 0 0);
    background: #f4f4f4;
  }


  /* ENCABEZADO BLOQUES */

  .heading-block {
    margin-bottom: 5px;
    padding: 10px 15px;
    font-size: 15px;
  }

  /* BLOQUE DE ARGUMENTOS */

  .value-block {
    .value-good .heading-block {
      background: none repeat scroll 0 0 #56ad75;
      color: #FFFFFF;
      p {
        color: #47A447;
      }
    }
    .value-bad .heading-block {
      background: none repeat scroll 0 0 #bf4646;
      color: #FFFFFF;
      p {
        color: #D2322D;
      }
    }
  }

  /* BLOQUE DE COMENTARIOS ENCABEZADO */

  &.comments-entries .heading-block {
    background: $brand-color;
    color: #fff;
  }

  /* LISTA DE COMENTARIOS */

  ul li {

    padding: 20px 15px;
    border-bottom: #ddd solid 1px;
    background: #fff;

    &.govern {
      background:#DEF9FC ;
    }
    &:last-child {
      border-bottom: none;
    }
    h6 {
      margin: 5px 0;
    }
    .date {
      font-size: 10px;
      color: #666;
    }
    .thumbnail,
    .img-circle {
      @include border-radius(500px);
    }
    .thumbnail {
      display: inline-block;
      float: left;
      margin: 0 20px 0 0;
    }
    /* texto del comentario */

    .media-body {
      .comment-text {
        margin-top: 8px;
      }
      ul, ol {
        border: none;
        margin: 0 0 0 10px;
        padding: 0;
        font-size: inherit;
        li {
          list-style: square inside none;
          padding: 2px 0;
          border: none;
        }
      }
      ol li {
        list-style: decimal inside none;
      }
    }

    /* respuestas a comentarios - niveles inferiores */

    ul {
      border-left: 1px solid #ccc;
      margin-left: 35px;
      padding-top: 15px;
      .media {
        margin-top: 0;
      }
      li {
        padding: 10px 15px;
      }
      li ul {
        margin-left: 30px;
      }
      li ul li ul {
        margin-left: 20px;
      }
    }

  }

  /* LISTA DE ARGUMENTOS DETALLES */

  &.value-good ul li {
    p {
      color: #47A447;
    }
  }
  &.value-bad ul li {
    p {
      color: #D2322D;
    }
  }

}