/* EVENTS CALENDAR
--------------------------------------------------------------------------------------------------------------------*/

.tscalendar {
	
	/* HEADING */
	.title .pull-right {
		font-size: $font-size-base;
		line-height: 2;
			a {
				margin-left: 4px;
			}
	}

	.eventsCalendar-currentTitle {
	  background: none;
	  border: solid 1px $brand-color;
	  outline: none;
	  padding: 15px 0;
	  height: 58px;
	  position: relative;
	  .monthTitle {
		  color: $brand-color;
		  text-transform: uppercase;
		  font-weight: $font-weight-light;
		  font-size: $font-size-h3;
	  }
	}
	
	/* CUERPO y ENCABEZADO LISTA DE DIAS */
	
	.eventCalendar-wrap {
		  background: none;
		  border: none;
		  @include box-shadow(none);
		  color: $text-color;
		  margin-bottom: 0;
		&:after {
		    clear: both;
		}
		&:before, &:after {
		    content: " ";
		    display: table;
		}
	}
	.eventCalendar-wrap .arrow {
	  padding: 13px 15px;
	  top: 0;
	  font-size: 28px;
	  color: $brand-color;
	  height: 58px;
	  &:hover,
	  &:focus {
	  	background: $brand-color;
		color: #fff;
	  }
	}
	.eventCalendar-wrap .arrow.prev {
	  left: 0;
	}
	.eventCalendar-wrap .arrow.next {
	  right: 0;
	}
	.eventCalendar-wrap .arrow.prev span {
	  border-right-color: $brand-color;
	}
	.eventCalendar-wrap .arrow.next span {
	  border-left-color: $brand-color;
	}			
	.eventsCalendar-monthWrap {
	  height: 330px;
	  width: auto !important;
	  top: 0;
	}
	.eventsCalendar-slider {
	  height: 330px;
	  background: #fff;
	  overflow: hidden;
	}
	.eventsCalendar-day-header {
	  border-bottom: none;
	  font-size: 10px;
	  line-height: 20px;
	  color: $brand-color;
	  text-transform: uppercase;
	}
	.eventsCalendar-daysList {
	  margin: 10px 0;
	}
	.eventsCalendar-daysList li.dayWithEvents {
	  background: none;
	}
	/* on progress */
	.eventsCalendar-daysList li.dayWithEvents.OnProgress a {
	  background: none;
	  border-color: #999 !important;
	  color: #999;
	  font-weight: normal;
	  &:hover,
	  &:focus {
		background: #999;
		color: #fff;
	  }
	}
	.eventsCalendar-daysList li.dayWithEvents a,
	.eventsCalendar-daysList li.dayWithEvents.OneDay a,
	.eventsCalendar-daysList li.dayWithEvents.Initial a,
	.eventsCalendar-daysList li.dayWithEvents.Fin a{
	  background: none;
	  border-color: $brand-color !important;
	  color: $brand-color;
	  font-weight: bold;
	  &:hover,
	  &:focus {
		background: $brand-color;
		color: #fff;
		outline: none;
	  }
	}
	.eventsCalendar-daysList li.current a,
	.eventsCalendar-daysList li.current a:hover,
	.eventsCalendar-daysList li.current a:focus {
	  @include box-shadow (none);
	  text-shadow: none;
	  background: $brand-color-darker-medium;
	  color: #fff;
/*	  &:hover,
	  &:focus {
		@include box-shadow (1px 1px 4px #666 inset);
	  }*/
	}
	.eventsCalendar-daysList li.today a {
	  background: #eee;
	  color: $brand-color;
/*	  &:hover,
	  &:focus {
		background: $brand-color-lighter;
		color: #fff;
	  }*/
	}

	/* ENTRADA DE DIA */

	.eventsCalendar-list li a.eventTitle:hover {
	  text-decoration: none;
	}
	.eventsCalendar-day a {
	  border: 1px solid transparent;
	  font-size: $font-size-small;
	  line-height: ceil(($font-size-small * 2.45));
	  width: auto;
	  min-width: 18px;
	  @include border-radius(60px);
	  margin: 0 auto;
	  text-decoration: none;
	  &:hover,
	  &:focus {
		background: #eee;
		color: #666;
	  }
	}
  	/* variante mes en formato calendario */

	.eventsCalendar-daysList.showAsWeek {
		  background: none;
		  border: none;
		  margin: 10px 5px;
		  width: auto;
		  font-weight: 700;
	}
	.eventsCalendar-daysList.showAsWeek li {
	  margin: 3px 0;
	}
	.eventsCalendar-daysList.showAsWeek li.empty {
	  background: none;
	}
  	.eventsCalendar-daysList.showAsWeek .eventsCalendar-day a {
	  width: 30px;
	}


	/* LISTADO DE EVENTOS */
	
	.eventsCalendar-list-wrap {
	}
	.eventsCalendar-subtitle {
		color: $text-color;
		font-family: $font-family-heading;
		font-size: floor(($font-size-base * 1.4));
		font-weight: normal;
		padding: 0;
		text-transform: uppercase;
	  	margin-top: 0;
	}
	.eventsCalendar-list-content {
		&.scrollable {
		  height: 290px;
		  margin: 0;
		  position: relative;
		}
		.eventsCalendar-list > li {
			padding: 12px 5px;
		  	+ li {
			  border-top: solid 1px #ddd;
			}
			.eventTitle {
				color: $brand-color;
				font-weight: bold;
				padding-bottom: 0;
				margin: 5px 0 0 0;
				font-size: $font-size-medium-large;
			  	display: block;
				&:hover,
				&:focus {
				   color: #000;
				}
			}
		  	.date-info {
			  display: inline-block;
			  margin-left: 10px;
			  padding-left: 10px;
			  border-left: solid 1px #777;
			  font-size: 11px;
			  text-transform: uppercase;
			  color: #777;
			  line-height: 1;
			}
			.date-info.date-info-initial {
			  color: #0DA559;
			  border-color: #0DA559;
			}
		  .date-info.date-info-fin {
			color: #000;
			border-color: #000;
		  }
			time {
			  display: inline-block;
			  margin-bottom: 2px;
			  font-size: 11px;
			  line-height: 13px;
			}
			time em,
			time small {
			    background: none;
			    color: $text-color;
			    float: none;
			    font-style: italic;
			    font-weight: bold;
			}
			time em {
			  padding: 2px 8px;
			  border: solid 1px #aaa;
			}
		  	&.noshowtime time small {
			  display: none;
			}
			.eventDesc {
				clear: both;
				line-height: 1.3;
			  	margin: 5px 0 0 0;
			}
		}
	}
	/* ENLACES Y BOTONES GENERALES */

	.eventsCalendar-list .eventsCalendar-noEvents {
	  background: #000;
	  border: none;
	  @include box-shadow(none);
	  @include border-radius(0);
	  color: #fff;
	  font-size: 100%;
	  font-weight: bold;
	  width: 100%;
	  margin: 0;
	  padding: 10px;
	  text-align: center;
	  text-shadow: none;
	  	> p {
		  margin: 0;
		}
	}
	.eventsCalendar-loading {
	  background-color: $brand-color;
	  left: 15px;
	  right: 15px;
	  text-shadow: none;
	  @include box-shadow(none);
	  @include border-radius(0);
	}
	.eventsCalendar-completeList > a {
		background: $brand-color;
		@include box-shadow(none);
		@include border-radius(0);
		color: #fff;
		display: block;
		font-weight: bold;
		margin: 5px;
		padding: 5px;
		text-shadow: none;
		&:hover,
		&:focus {
			text-decoration: none;
			background: $brand-color-darker;
		}
	}
}