/* ICON BOXES
---------------------------------------------------------------------------------------------------*/

.feature-block {
  .wrapper {
    padding: 20px 30px;
  }
  > a {
    display: block;
    &:hover,
    &:focus {
      background: rgba(0,0,0,0.2);
      text-decoration: none;
    }
  }
  .text-icon {
    font-weight: normal;
  }

  /* sin icono */

  &.no-icon {
    .icon-wrapper,
    .icon-wrapper-padding {
      display: none !important;
    }
  }
  .title {
    text-transform: uppercase;
  }
  
  /* vertical */

  &.feature-block-vertical {
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%;
    .icon-wrapper img {
      margin-bottom: 15px;
    }
    > .wrapper {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
    .description {
      font-weight: $font-weight-light;
      font-size: $font-size-medium-large;
      margin-top: 10px;
    }
    .title {
      margin-bottom: 10px;
    }

    /* icono con color de fondo y/o borde --------------------------------*/

    .icon-wrapper-padding {
      display: inline-block;
      @include border-radius(500px);
    }

    /* tamanios -------------------------------------------------------------*/

    &.feature-block-defaultsize {
      .fa {
        font-size:  floor(($font-size-base * 2.4));
      }
      .title {
        font-size: $font-size-h3;
      }
      .description {
        font-size: $font-size-medium;
      }
      .icon-wrapper-padding {
        padding: 15px;
      }
    }
    &.feature-block-smallsize {
      .fa {
        font-size: floor(($font-size-base * 1.5));
      }
      .title {
        font-size: floor(($font-size-h3 * 0.8));
      }
      .description {
        font-size: $font-size-medium-small;
      }
      .icon-wrapper-padding {
        padding: 10px;
      }
    }
    &.feature-block-bigsize {
      .fa {
        font-size: floor(($font-size-base * 3.5));
      }
      .title {
        font-size: floor(($font-size-h3 * 1.2));
      }
      .description {
        font-size: $font-size-medium-large;
      }
      .icon-wrapper-padding {
        padding: 22px;
      }
    }
    &.feature-block-biggersize {
      .fa {
        font-size: floor(($font-size-base * 5));
      }
      .title {
        font-size: floor(($font-size-h3 * 1.4));
      }
      .description {
        font-size: $font-size-h5;
      }
      .icon-wrapper-padding {
        padding: 30px;
      }
    }
  }

  /* horizontal */

  &.feature-block-horizontal {
    .wrapper {
      padding: 20px;
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    .headline-box {
      display: table-cell;
      vertical-align: middle;
      table-layout: fixed;
    }
    .title {
      margin: 0;
      padding: 0;
    }
    .icon-wrapper {
      padding-right: 15px;
    }
    .fa {
      text-align: center;
    }
    .text-icon {
      overflow: hidden;
    }
    &.feature-block-defaultsize {
      .wrapper {
        padding-top: 16px;
        padding-bottom: 16px;
      }
      .fa {
        font-size: 30px;
      }
      .text-icon {
        font-size: $font-size-h3*0.8;
        line-height: $font-size-h3;
      }
    }
    &.feature-block-smallsize {
      .wrapper {
        padding-top: 13px;
        padding-bottom: 13px;
      }
      .fa {
        font-size: 24px;
      }
      .text-icon {
        font-size: $font-size-h3*0.7;
        line-height: $font-size-h3*0.9;
      }
    }
    &.feature-block-bigsize {
      .wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .fa {
        font-size: 35px;
      }
      .text-icon {
        font-size: $font-size-h3;
        line-height: $font-size-h3*1.1;
      }
    }
    &.feature-block-biggersize {
      .wrapper {
        padding-top: 25px;
        padding-bottom: 25px;
      }
      .fa {
        font-size: 40px;
      }
      .text-icon {
        font-size: $font-size-h3*1.1;
        line-height: $font-size-h3*1.3;
      }
    }
  }
}


header.headline-box {
  margin: 0;
  padding: 0;
  border: none;
  .title {
    margin-bottom: 10px;
  }
}
.feature-block,
.feature-block p,
.feature-block .title,
.feature-block .fa {
  color: #ffffff;
}

.feature-block hr {
  border-color: rgba(255,255,255,0.4);
}

.feature-block-light,
.feature-block-default {
  background: none repeat scroll 0% 0% #fafafa;
  border: 1px solid #eeeeee;
}

.feature-block-default:hover {
  @include box-shadow(0px 0px 8px #eeeeee);
}

.feature-block-light,
.feature-block-default,
.feature-block-nocolor,
.feature-block-white,
.feature-block-light p,
.feature-block-light .title,
.feature-block-default p,
.feature-block-default .title,
.feature-block-nocolor p,
.feature-block-nocolor .title,
.feature-block-white .title,
.feature-block-white p {
  color: $text-color;
}

.feature-block-light hr,
.feature-block-default hr,
.feature-block-nocolor hr,
.feature-block-white hr {
  border-color: rgba(0,0,0,0.3);
}

.feature-block-light .fa,
.feature-block-default .fa,
.feature-block-nocolor .fa,
.feature-block-white .fa {
  color: inherit;
}

/* colores de fondo ----------------------------*/

.feature-block-brand {
  background: none repeat scroll 0% 0% $brand-color;
}

.feature-block-brand-dark {
  background: none repeat scroll 0% 0% $brand-color-darker-medium;
}

.feature-block-brand-light {
  background: none repeat scroll 0% 0% $brand-color-medium;
}

.feature-block-brand-second {
  background: none repeat scroll 0% 0% $brand-second-color;
}

.feature-block-brand-second-dark {
  background: none repeat scroll 0% 0% $brand-second-color-darker-medium;
}

.feature-block-brand-second-light {
  background: none repeat scroll 0% 0% $brand-second-color-medium;
}
.feature-block-magenta {
  background: none repeat scroll 0% 0% $color-magenta;
}

.feature-block-blue {
  background: none repeat scroll 0% 0% $color-azul;
}

.feature-block-red {
  background: none repeat scroll 0% 0% $color-rojo;
}

.feature-block-granate {
  background: none repeat scroll 0% 0% $color-granate;
}

.feature-block-sea {
  background: none repeat scroll 0% 0% $color-turquesa;
}

.feature-block-grey {
  background: none repeat scroll 0% 0% $color-gris;
}

.feature-block-yellow {
  background: none repeat scroll 0% 0% $color-amarillo;
}

.feature-block-orange {
  background: none repeat scroll 0% 0% $color-naranja;
}

.feature-block-green {
  background: none repeat scroll 0% 0% $color-verde;
}

.feature-block-purple {
  background: none repeat scroll 0% 0% $color-violeta;
}

.feature-block-aqua {
  background: none repeat scroll 0% 0% $color-aqua;
}

.feature-block-brown {
  background: none repeat scroll 0% 0% $color-marron;
}

.feature-block-dark-blue {
  background: none repeat scroll 0% 0% $color-azul-oscuro;
}

.feature-block-light-green {
  background: none repeat scroll 0% 0% $color-verde-claro;
}

.feature-block-dark {
  background: none repeat scroll 0% 0% $color-gris-oscuro;
}

.feature-block-light {
  background: none repeat scroll 0% 0% $color-gris-claro;
}

.feature-block-white {
  background: none repeat scroll 0% 0% #fff;
}

.feature-block-black {
  background: none repeat scroll 0% 0% #000;
}

.feature-block-default {
  background: none repeat scroll 0% 0% $color-gris-claro;
}

/* colores de borde -----------------------------------------*/


.feature-block-border-brand {
  border: solid 1px  $brand-color;
}

.feature-block-border-brand-dark {
  border: solid 1px  $brand-color-darker-medium;
}

.feature-block-border-brand-light {
  border: solid 1px  $brand-color-medium;
}

.feature-block-border-brand-second {
  border: solid 1px  $brand-second-color;
}

.feature-block-border-brand-second-dark {
  border: solid 1px  $brand-second-color-darker-medium;
}

.feature-block-border-brand-second-light {
  border: solid 1px  $brand-second-color-medium;
}

.feature-block-border-magenta {
  border: solid 1px  $color-magenta;
}

.feature-block-border-blue {
  border: solid 1px  $color-azul;
}

.feature-block-border-red {
  border: solid 1px  $color-rojo;
}

.feature-block-border-granate {
  border: solid 1px  $color-granate;
}

.feature-block-border-sea {
  border: solid 1px  $color-turquesa;
}

.feature-block-border-grey {
  border: solid 1px  $color-gris;
}

.feature-block-border-yellow {
  border: solid 1px  $color-amarillo;
}

.feature-block-border-orange {
  border: solid 1px  $color-naranja;
}

.feature-block-border-green {
  border: solid 1px  $color-verde;
}

.feature-block-border-purple {
  border: solid 1px  $color-violeta;
}

.feature-block-border-aqua {
  border: solid 1px  $color-aqua;
}

.feature-block-border-brown {
  border: solid 1px  $color-marron;
}

.feature-block-border-dark-blue {
  border: solid 1px  $color-azul-oscuro;
}

.feature-block-border-light-green {
  border: solid 1px  $color-verde-claro;
}

.feature-block-border-dark {
  border: solid 1px  $color-gris-oscuro;
}

.feature-block-border-light {
  border: solid 1px  $color-gris-claro;
}

.feature-block-border-white {
  border: solid 1px  #fff;
}

.feature-block-border-black {
  border: solid 1px  #000;
}

.feature-block-border-default {
  border: solid 1px  $color-gris-claro;
}

/* colores de fondo de los iconos ------------------------------------*/

.feature-block {

  .icon-bg-brand {
    background: none repeat scroll 0% 0% $brand-color;
  }

  .icon-bg-brand-dark {
    background: none repeat scroll 0% 0% $brand-color-darker-medium;
  }

  .icon-bg-brand-light {
    background: none repeat scroll 0% 0% $brand-color-medium;
  }

  .icon-bg-brand-second {
    background: none repeat scroll 0% 0% $brand-second-color;
  }

  .icon-bg-brand-second-dark {
    background: none repeat scroll 0% 0% $brand-second-color-darker-medium;
  }

  .icon-bg-brand-second-light {
    background: none repeat scroll 0% 0% $brand-second-color-medium;
  }

  .icon-bg-blue {
    background: none repeat scroll 0% 0% $color-azul;
  }

  .icon-bg-red {
    background: none repeat scroll 0% 0% $color-rojo;
  }

  .icon-bg-granate {
    background: none repeat scroll 0% 0% $color-granate;
  }

  .icon-bg-magenta {
    background: none repeat scroll 0% 0% $color-magenta;
  }

  .icon-bg-sea {
    background: none repeat scroll 0% 0% $color-turquesa;
  }

  .icon-bg-green {
    background: none repeat scroll 0% 0% $color-verde;
  }

  .icon-bg-yellow {
    background: none repeat scroll 0% 0% $color-amarillo;
  }

  .icon-bg-orange {
    background: none repeat scroll 0% 0% $color-naranja;
  }

  .icon-bg-grey {
    background: none repeat scroll 0% 0% $color-gris;
  }

  .icon-bg-dark {
    background: none repeat scroll 0% 0% $color-gris-oscuro;
  }

  .icon-bg-purple {
    background: none repeat scroll 0% 0% $color-violeta;
  }

  .icon-bg-aqua {
    background: none repeat scroll 0% 0% $color-aqua;
  }

  .icon-bg-brown {
    background: none repeat scroll 0% 0% $color-marron;
  }

  .icon-bg-dark-blue {
    background: none repeat scroll 0% 0% $color-azul-oscuro;
  }

  .icon-bg-light-green {
    background: none repeat scroll 0% 0% $color-verde-claro;
  }

  .icon-bg-default {
    background: none repeat scroll 0% 0% $color-gris-claro;
  }

  .icon-bg-white {
    background: none repeat scroll 0% 0% #fff;
  }

  .icon-bg-black {
    background: none repeat scroll 0% 0% $color-gris-claro;
  }
}

.icon-bg-brand,
.icon-bg-brand-dark,
.icon-bg-brand-light,
.icon-bg-brand-second,
.icon-bg-brand-second-dark,
.icon-bg-brand-second-light,
.icon-bg-blue,
.icon-bg-red,
.icon-bg-granate,
.icon-bg-magenta,
.icon-bg-sea,
.icon-bg-green,
.icon-bg-yellow,
.icon-bg-orange,
.icon-bg-grey,
.icon-bg-dark,
.icon-bg-purple,
.icon-bg-aqua,
.icon-bg-brown,
.icon-bg-dark-blue,
.icon-bg-light-green,
.icon-bg-black {
  color: #fff;
}

.icon-bg-white,
.icon-bg-default {
  color: $text-color;
}


/* colores de iconos */

.feature-block {

  .icon-color-brand {
    color: $brand-color;
  }

  .icon-color-brand-dark {
    color: $brand-color-darker;
  }

  .icon-color-brand-light {
    color: $brand-color-lighter;
  }

  .icon-color-brand-second {
    color: $brand-second-color;
  }

  .icon-color-brand-second-dark {
    color: $brand-second-color-darker;
  }

  .icon-color-brand-second-light {
    color: $brand-second-color-lighter;
  }

  .icon-color-default {
    color: $color-gris-claro;
  }

  .icon-color-grey {
    color: $color-gris;
  }

  .icon-color-dark {
    color: $color-gris-oscuro;
  }

  .icon-color-red {
    color: $color-rojo;
  }

  .icon-color-granate {
    color: $color-granate;
  }

  .icon-color-magenta {
    color: $color-magenta;
  }

  .icon-color-purple {
    color: $color-violeta;
  }

  .icon-color-blue {
    color: $color-azul;
  }

  .icon-color-dark-blue {
    color: $color-azul-oscuro;
  }

  .icon-color-aqua {
    color: $color-aqua;
  }

  .icon-color-sea {
    color: $color-turquesa;
  }

  .icon-color-green {
    color: $color-verde;
  }

  .icon-color-light-green {
    color: $color-verde-claro;
  }

  .icon-color-yellow {
    color: $color-amarillo;
  }

  .icon-color-orange {
    color: $color-naranja;
  }

  .icon-color-brown {
    color: $color-marron;
  }

  .icon-color-white {
    color: #fff;
  }

  .icon-color-black {
    color: #000;
  }

}

/* borde de los iconos ------------------------------------*/


.icon-border-brand {
  border: solid 1px $brand-color;
}

.icon-border-brand-dark {
  border: solid 1px $brand-color-darker-medium;
}

.icon-border-brand-light {
  border: solid 1px $brand-color-medium;
}

.icon-border-brand-second {
  border: solid 1px $brand-second-color;
}

.icon-border-brand-second-dark {
  border: solid 1px $brand-second-color-darker-medium;
}

.icon-border-brand-second-light {
  border: solid 1px $brand-second-color-medium;
}

.icon-border-blue {
  border: solid 1px $color-azul;
}

.icon-border-red {
  border: solid 1px $color-rojo;
}

.icon-border-granate {
  border: solid 1px $color-granate;
}

.icon-border-magenta {
  border: solid 1px $color-magenta;
}

.icon-border-sea {
  border: solid 1px $color-turquesa;
}

.icon-border-green {
  border: solid 1px $color-verde;
}

.icon-border-yellow {
  border: solid 1px $color-amarillo;
}

.icon-border-orange {
  border: solid 1px $color-naranja;
}

.icon-border-grey {
  border: solid 1px $color-gris;
}

.icon-border-dark {
  border: solid 1px $color-gris-oscuro;
}

.icon-border-purple {
  border: solid 1px $color-violeta;
}

.icon-border-aqua {
  border: solid 1px $color-aqua;
}

.icon-border-brown {
  border: solid 1px $color-marron;
}

.icon-border-dark-blue {
  border: solid 1px $color-azul-oscuro;
}

.icon-border-light-green {
  border: solid 1px $color-verde-claro;
}

.icon-border-default {
  border: solid 1px $color-gris-claro;
}

.icon-border-white {
  border: solid 1px #fff;
}

.icon-border-black {
  border: solid 1px $color-gris-claro;
}


/* FORMATTER FIGURE COVER EFFECT
------------------------------------------------------------------------------------------------------------------------*/

figure.cover-effect {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  /*background: #ffffff;*/
  cursor: default;
  img {
    position: relative;
    @include transition(all ease .6s);
  }
  figcaption {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    text-align: center;
    /*color: #fff;*/
    z-index: 1;
    background: none;
    &:before {
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
      position: absolute;
      @include transition(opacity .8s);
    }

    /*  colores de fondo -------------------*/

    &.feature-block-brand:before {
      background: none repeat scroll 0% 0% $brand-color;
    }
    &.feature-block-brand-dark:before {
      background: none repeat scroll 0% 0% $brand-color-darker-medium;
    }
    &.feature-block-brand-light:before {
      background: none repeat scroll 0% 0% $brand-color-medium;
    }
    &.feature-block-brand-second:before {
      background: none repeat scroll 0% 0% $brand-second-color;
    }
    &.feature-block-brand-second-dark:before {
      background: none repeat scroll 0% 0% $brand-second-color-darker-medium;
    }
    &.feature-block-brand-second-light:before {
      background: none repeat scroll 0% 0% $brand-second-color-medium;
    }
    &.feature-block-magenta:before {
      background: none repeat scroll 0% 0% $color-magenta;
    }
    &.feature-block-blue:before {
      background: none repeat scroll 0% 0% $color-azul;
    }
    &.feature-block-red:before {
      background: none repeat scroll 0% 0% $color-rojo;
    }
    &.feature-block-granate:before {
      background: none repeat scroll 0% 0% $color-granate;
    }
    &.feature-block-sea:before {
      background: none repeat scroll 0% 0% $color-turquesa;
    }
    &.feature-block-grey:before {
      background: none repeat scroll 0% 0% $color-gris;
    }
    &.feature-block-yellow:before {
      background: none repeat scroll 0% 0% $color-amarillo;
    }
    &.feature-block-orange:before {
      background: none repeat scroll 0% 0% $color-naranja;
    }
    &.feature-block-green:before {
      background: none repeat scroll 0% 0% $color-verde;
    }
    &.feature-block-purple:before {
      background: none repeat scroll 0% 0% $color-violeta;
    }
    &.feature-block-aqua:before {
      background: none repeat scroll 0% 0% $color-aqua;
    }
    &.feature-block-brown:before {
      background: none repeat scroll 0% 0% $color-marron;
    }
    &.feature-block-dark-blue:before {
      background: none repeat scroll 0% 0% $color-azul-oscuro;
    }
    &.feature-block-light-green:before {
      background: none repeat scroll 0% 0% $color-verde-claro;
    }
    &.feature-block-dark:before {
      background: none repeat scroll 0% 0% $color-gris-oscuro;
    }
    &.feature-block-light:before {
      background: none repeat scroll 0% 0% $color-gris-claro;
    }
    &.feature-block-white:before {
      background: none repeat scroll 0% 0% #fff;
    }
    &.feature-block-black:before {
      background: none repeat scroll 0% 0% #000;
    }
    &.feature-block-default:before {
      background: none repeat scroll 0% 0% $color-gris-claro;
    }
    .actions {
      padding: 15px 0 0 0;
    }
    a {
      padding: 7px 12px;
      color: #fff;
      border: solid 1px #fff;
      &:hover,
      &:focus {
        background: #fff;
        color: $brand-color;
      }
    }
    .more {
      display: inline-block;
      padding: 7px 12px;
      color: #fff;
      border: solid 1px #fff;
    }
    &.feature-block-light a,
    &.feature-block-default a,
    &.feature-block-nocolor a
    &.feature-block-white a {
      color: $brand-color;
      border-color: $brand-color;
      &:hover,
      &:focus {
        background: $brand-color;
        color: #fff;
      }
    }
  }

  .table-block {
    display: table;
    position: absolute;
    padding: 25px;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    &.hover-in {
      top: 100%;
      opacity: 0;
      transition-property: opacity, top;
      transition-duration: 0.6s, 0.3s;
      transition-timing-function: ease-out, ease-out;
      transition-delay: 0s, 0s;
    }
    &.hover-out {
      top: 0;
      opacity: 1;
      transition-property: opacity, top;
      transition-duration: 1.5s, 0.5s;
      transition-timing-function: ease-out, ease-out;
      transition-delay: 0s, 0s;
    }
  }
  &:hover,
  &:focus,
  &.cover-effect-click{
    .table-block.hover-in {
      opacity: 1;
      top: 0;
    }
    .table-block.hover-out {
      opacity: 0;
      top: -100%;
      transition-property: opacity, top;
      transition-duration: 0.5s, 1.5s;
      transition-timing-function: ease-out, ease-out;
      transition-delay: 0s, 0s;
    }
  }

  > a {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
  }

  &:hover,
  &:focus,
  &.cover-effect-click{
    figcaption:before {
      opacity: 0.8;
      filter: alpha(opacity=80); /* For IE8 and earlier */
    }
    img {
      -webkit-filter: grayscale(1);
      -webkit-filter: grayscale(100%);
      filter: gray;
      filter: grayscale(100%);
    }
  }

  /* efecto inverso */

  &.inverted-effect {
    figcaption:before {
      opacity: 0.8;
      filter: alpha(opacity=80); /* For IE8 and earlier */
    }
    img {
      -webkit-filter: grayscale(1);
      -webkit-filter: grayscale(100%);
      filter: gray;
      filter: grayscale(100%);
    }
    &:hover,
    &:focus,
    &.cover-effect-click{
      figcaption:before {
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
      }
    }
  }

}