/*FOOTER
-------------------------------------------------------------------------------------------------------------------*/

/*FOOTER
-------------------------------------------------------------------------------------------------------------------*/

#footer  {
  background: $brand-color;
  border-top: none;
  overflow: hidden;
  color: #eee;
  overflow: hidden;
  a:not(.btn) {
	color: #fff;
  }
  a:not(.btn):hover,
  a:not(.btn):focus {
	color: $brand-second-color;
  }
  .btn {
	border: solid 1px #fff;
	color: #fff;
	&:hover,
	&:focus {
	  background: $brand-color-70;
	  border: solid 1px $brand-color-70;
	}
  }
  .headline {
	padding: 0;
	margin: 0 0 30px 0;
	border: none;
	overflow: inherit;
	position: relative;
  }
  h1,.h1,h2,.h2,h3,.h3,.title {
	font-size: 19px;
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.1;
	padding: 5px 0;
	font-weight: normal;
  }
  .table>thead>tr>th,
  .table>thead>tr>td,
  .table>tbody>tr>th,
  .table>tbody>tr>td,
  .table>tfoot>tr>th,
  .table>tfoot>tr>td {
	border-bottom: 1px solid #bbb;
  }
  .table>tbody>tr:last-child>td {
	border-bottom: none;
  }
  .footer {
	background-color: transparent;
	background-position: center center;
	background-size: contain;
	background-image: url("../images/bg-footer.png");
	background-repeat: no-repeat;
	padding-top: 80px;
	padding-bottom: 80px;
	a:not(.btn) {
	  border-bottom:dashed 1px rgba(255,255,255,0.5);
	  &:hover,
	  &:focus {
		border-bottom: dashed 1px $brand-second-color;
	  }
	}
	.nav li a {
	  padding: 4px 10px;
	  border-bottom: none;
	  &:before {
		@include iconvector("Pe-icon-7-stroke", middle, 18px, "\e641");
		margin-right: 7px;
	  }
	  &:hover,
	  &:focus {
		border-bottom: none;
	  }
	}
	.dl-horizontal {
	  dt {
		text-align: left;
		width: 100px;
	  }
	  dd {
		width: calc(100% - 100px);
	  }
	}
  }
  /* > 768px --------------------------*/
  @media (min-width: $screen-sm){
	.img-responsive {
	  margin: 0 !important;
	}
  }
  /* < 992px --------------------------*/
  @media (max-width: $screen-sm-max){
	.layout-4-col > div {
	  margin-bottom: 30px;
	}
  }

  /* < 768px --------------------------*/
  @media (max-width: $screen-xs-max){
	text-align: center;
	.text-right {
	  text-align: center !important;
	}
	.input-group {
	  width: 100%;
	}
	.footer ul li {
	  background: none;
	  padding: 5px 0;
	}
	.footer header {
	  padding-left: 0;
	  padding-bottom: 5px;
	}
	.footer header:before {
	  width: 40px;
	  left: 50%;
	  top: auto;
	  margin-top: 0;
	  margin-left: -20px;
	  bottom: 0;
	}

  }

  /* copyright ----------------------------------------*/
  .copyright {
	padding-top: 30px;
	padding-bottom: 30px;
	background: $brand-color-70;
	color: #aaa;
	  a {
		padding: 15px 5px;
		display: block;
		color: #fff;
		&:hover,
		&:focus {
		  color: $brand-second-color;
		}
	  }
  }
}

