/* GALERIAS DE DESCARGA Y DE IMAGENES
----------------------------------------------------------------------------------------------------------------*/


/* GALERIA DE DESCARGAS
--------------------------------------------------------------------------------------------------------------*/

.sg-download-gallery {
	
	thead {
		background: none repeat scroll 0 0 #EEEEEE;
	}
	th,
	td {
		@include transition(all .4s ease);
	}
	.table > thead > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > th,
	.table > tbody > tr > td,
	.table > tfoot > tr > th,
	.table > tfoot > tr > td {
	  vertical-align: middle;
	}
  	table tr td a {
	  display: block;
	  font-size: $font-size-medium-large;
	}
	.description {
		margin-bottom: 20px;
	}
	
}

/* GALERIA DE IMAGENES
--------------------------------------------------------------------------------------------------------------*/

.sg-image-gallery {
	
	.description {
		margin-bottom: 20px;
	}
	.thumbnail {
		overflow: hidden;
	}
	.thumbnail img:hover {
		opacity: 1;
	}	
	.thumbnail:hover img{
	}

  .bx-wrapper {
	margin-bottom: 20px !important;
	.bx-viewport {
	  left: 0;
	}
	.bx-controls-direction a {
	  font-size: 60px;
	  position: absolute;
	  width: 60px;
	  height: 60px;
	  top: 50%;
	  margin-top: -30px;
	  z-index: 20;
	  text-indent: 0;
	  line-height: 1;
	  background: none;
	  text-align: center;
	  @include border-radius(50%);
	  border: solid 1px #ddd;
	  color: #fff;
	  &:hover,
	  &:focus {
		border-color: #000;
		background: rgba(255,255,255,0.4);
		color: #000;
	  }
	  > .fa {
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 50%;
		font-size: 30px;
		margin-top: -15px;
		margin-left: -15px;
	  }
	  &.bx-prev {
		left: 20px;
	  }
	  &.bx-next {
		right: 20px;
	  }
	}
  }
	/* SLIDER ON TOP Y SOLO SLIDER */

	&.sg-slider {
	  .bx-wrapper {
		.bx-controls-direction a {
		  color: $brand-color;
		  &:hover,
		  &:focus {
			border-color: #000;
			background: rgba(255,255,255,0.4);
			color: #000;
		  }
		  &.bx-prev {
			left: 0;
		  }
		  &.bx-next {
			right: 0;
		  }
		}
	  }
	}
  	/* CON CARRUSEL Y CON SLIDER ON TOP */

  	.bx-viewport,
  	.carousel {
	  .open-lightbox {
		display: block;
		position: relative;
		&:after {
		  display: inline-block;
		  font-family: 'FontAwesome';
		  text-rendering: auto; // optimizelegibility throws things off #1094
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  transform: translate(0, 0); // ensures no half-pixel rendering in firefox
		  @include transition(all ease .4s);
		  content: "\f065";
		  font-size: 60px;
		  width: 90px;
		  height: 90px;
		  text-align: center;
		  position: absolute;
		  left: 50%;
		  top: 50%;
		  margin-top: -45px;
		  margin-left: -45px;
		  opacity: 0;
		  color: #fff;
		  background: rgba(0,0,0,0.4);
		  padding: 15px;
		  line-height: 1;
		  @include border-radius(500px);
		}
		&:hover:after {
		  opacity: 1;
		}
	  }
	}

}


/* DPH GALERIA MULTIMEDIA
-----------------------------------------------------------------------------------------------------------------------------------*/

.dph-galeria {
  .gallery-item-wrapper-media {
	position: relative;
  }
  .dph-galeria-loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.fa-spinner {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  margin-top: -21px;
	  margin-left: -26.5px;
	  color: $brand-second-color;
	}
  }
  .data-media-loader-overlayer,
  .zoom-filter {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	z-index: 18;
  }

  .image-gallery .zoom-filter {
	position: relative;
  }
  .list-items .gallery-media {
	position: relative;
	&:after {
	  content: "";
	  background: rgba(0, 0, 0, 0.2);
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	}
	.gallery-media-wrapper {
	  position: relative;
	  &:after {
		@include iconvector("Pe-icon-7-stroke", middle, 30px, "\e657");
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -13px 0 0 -13px;
		color: #fff;
		z-index: 1;
	  }
	}
	&.gallery-media-audio .gallery-media-wrapper:after{
	  @include iconvector("Pe-icon-7-stroke", middle, 30px, "\e692");
	}
	&.gallery-media-video .gallery-media-wrapper:after{
	  @include iconvector("Pe-icon-7-stroke", middle, 30px, "\e624");
	}
	&.gallery-media-img .gallery-media-wrapper:after{
	  @include iconvector("Pe-icon-7-stroke", middle, 30px, "\e6bf");
	  z-index: 16;
	}
  }
  .gallery-featured-item {
	.gallery-media-audio {
	  position: relative;
	}
	.gallery-media-audio:after{
	  @include iconvector("Pe-icon-7-stroke", middle, 60px, "\e692");
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  margin: -61px 0 0 -41.5px;
	  color: #fff;
	  z-index: 1;
	  padding: 15px 20px;
	  background: rgba(0,0,0,0.2);
	}
  }
}
