/* HEADER
--------------------------------------------------------------------------------------------------------------*/

/* solo en edicion */

.org-opencms-ade-containerpage-client-ui-css-I_CmsLayoutBundle-I_CmsContainerpageCss-enlargeSmallElements #header .org-opencms-ade-containerpage-client-ui-css-I_CmsLayoutBundle-I_CmsContainerpageCss-smallElement {
  min-height: 0 !important;
}

#header .navbar {
  position: relative;
  z-index: 1060;
  background: #fff;
  border: 0;
  margin: 0;
  border-bottom: solid 1px #ddd;
  @include box-shadow(0px 0px 20px 3px rgba(0,0,0,0.1));


  /* TOPBAR ---------------------------------------------------------*/

  .topbar-inverse {
	background: $brand-color;
	margin-top: 0;
	padding: 0;
	@include transition(all ease 0.3s);

	/* enlaces -----------*/

	ul {
	  margin: 0;
	}
	ul li {
	  padding: 0;
	}
	ul li a{
	  color: #fff;
	  line-height: 1;
	  padding: 9px 10px;
	  font-size: 13px;
	  text-align: center;
	  display: block;
	  &:hover,
	  &:focus {
		background: rgba(0,0,0,0.2);
	  }
	  .fa {
		vertical-align: middle;
		line-height: 1;
		margin: 0;
	  }
	}
	.social-list.pull-right {
	  margin-left: 30px;
	  padding: 0;
	  > li {
		float: left;
	  }
	  > li > a {
		width: 36px;
		color: #fff !important;
	  }
	  > li > a:hover,
	  > li > a:focus {
		background: #fff;
		color: $brand-color !important;
	  }
/*	  > li > .facebook {
		@include hover-bg-icon($facebook);
	  }
	  > li > .twitter {
		@include hover-bg-icon($twitter);
	  }
	  > li > .youtube {
		@include hover-bg-icon($youtube);
	  }
	  > li > .rss {
		@include hover-bg-icon($rss);
	  }
	  > li > .pinterest {
		@include hover-bg-icon($pinterest);
	  }*/

	  > li > .facebook {
		background: $brand-color-80;
	  }
	  > li > .twitter {
		background: $brand-color-60;
	  }
	  > li > .youtube {
		background: $brand-color-40;
	  }
	  > li > .flickr {
		background: $brand-color-20;
	  }
	  > li > .rss {
		background: $brand-color-00;
	  }
	}
	.social-list li a{
	  font-size: 14px;
	}
	/* bloque prevision del tiempo -------------*/
	.header-tiempo {
	  > a {
		padding: 0 15px 0 0 !important;
	  }
	  > a > div {
		padding: 0 !important;
	  }
	  .woys_x_mid > div {
		padding: 0 !important;
	  }
	  .woys_x_mid > div > div > div > div {
		vertical-align: middle !important;
		border: none;
		padding: 0;
		display: inline-block;
		overflow: hidden;
		height: 26px;
	  }
	  .woys_x_mid img {
		width: 50px !important;
		height: auto !important;
	  }
	  #woys_x_temp {
		font-family: $font-family-base !important;
		border: none;
		display: inline-block;
		vertical-align: middle;
		margin-left: -10px;
		overflow: visible;
		height: auto;
	  }
	  #woys_x_temp span {
		font-size: 10px !important;
		color: #777;
	  }
	}

	/* buscador--------------*/

	.navbar-form {
	  @include box-shadow(none);
	  .form-control {
		background: #d3efe1;
		@include box-shadow(none);
		border: none;
		@include border-radius(15px 0 0 15px);
		font-size: 12px;
		height: 29px;
		padding: 6px 12px;
		@include transition(all ease .4s);
		&:focus {
		  background: #fff;
		}
	  }
	  .btn {
		background: #d3efe1;
		color: #777;
		@include box-shadow(none);
		font-size: 14px;
		line-height: 1.5;
		border: none;
		@include border-radius(0 15px 15px 0);
		padding: 4px 15px;
		&:focus {
		  background: $brand-color;
		  color: #fff;
		}
	  }
	  &.focused {
		.btn {
		  background: #fff;
		}
	  }
	}


  }

  /* LOGO Y ACCESOS PRINCIPALES MENU -----------------------------------------*/

  .navbar-brand {
	@include transition(all ease 0.3s);
	img {
	  @include transition(all ease 0.3s);
	}
  }

  .navbar-collapse {
	> .navbar-nav > li > a {
	  font-size: 15px;
	  color: $text-color;
	  padding: 20px;
	  font-weight: bold;
	  letter-spacing: 0.5px;
	  text-transform: uppercase;
	  line-height: 1.4;
	  position: relative;
	  overflow: hidden;
	  /*border-left: 1px solid rgba(0,0,0,.15);*/
	  &:hover,
	  &:focus {
		color: $brand-color;
		background: none;
	  }
	  &:after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		left: 0;
		margin: auto;
		width: 0;
		height: 0;
		border-right: 20px solid transparent;
		border-top: 20px solid transparent;
		border-left: 20px solid transparent;
		border-bottom: 20px solid transparent;
		background: none;
		bottom: -20px;
		@include transition(bottom ease .3s);
	  }
	  &[aria-expanded="true"],
	  &[aria-expanded="true"]:hover,
	  &[aria-expanded="true"]:focus {
		color: $brand-color;
		&:after {
		  bottom: 0;
		  border-bottom: 20px solid #f1f1f1;
		}
	  }
	  > .fa.pull-right {
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -7px;
	  }
	}
	> .navbar-nav > li.active > a,
	> .navbar-nav > li.active > a:hover,
	> .navbar-nav > li.active > a:focus{
	  background: #F1F1F1;
	  color: $brand-color;
	  font-weight: bold;
	}
	> .navbar-nav > li.active > a[aria-expanded="true"] {
	  background: #F1F1F1;
	  color: $brand-color;
	}
  }

  /* BUSCADOR --------------*/

  .overlay-search {
	position: fixed;
	background: rgba( $brand-color-darker, .8 );
	width: 100%;
	height: 100%;
	left: 0;
	top: 100%;
	opacity: 0;
	color: #fff;
	@include transition(all ease-in-out .3s);
	&.active {
	  opacity: 1;
	  top: 0;
	  z-index: 1090;
	}
	.overlay-search-wrapper {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-top: -70px;
	  margin-left: -150px;
	  width: 300px;
	  height: 140px;
	}
	.navbar-form {
	  margin: 0;
	  padding: 0;
	  height: 60px;
	  position: relative;
	  border: none;
	  @include box-shadow(none);
	}
	.navbar-form .form-control {
	  width: 100%;
	  background: none;
	  border: none;
	  @include box-shadow(none);
	  color: #fff;
	  border-bottom: solid 2px #fff;
	  height: 60px;
	  padding: 15px 65px 15px 25px;
	  font-size: 15px;
	}
	.navbar-form .form-control::-webkit-input-placeholder {
	  color: #fff;
	}
	.navbar-form .form-control:-moz-placeholder {
	  color: #fff;
	}
	.navbar-form .form-control::-moz-placeholder {
	  color: #fff;
	}
	.navbar-form .form-control:-ms-input-placeholder {
	  color: #fff;
	}
	.navbar-form .btn {
	  position: absolute;
	  top: 0;
	  right: 0;
	  height: 60px;
	  width: 60px;
	  font-size: 22px;
	  background: none;
	  border: solid 1px transparent;
	  @include box-shadow(none);
	  &:hover,
	  &:focus {
		border-color: #fff;
		color: #fff;
	  }
	}
	.close {
	  position: absolute;
	  right: 15px;
	  top: 60px;
	  color: #fff;
	  opacity: 1;
	  font-weight: 300;
	  font-size: 60px;
	  text-shadow: none;
	  width: 60px;
	  height: 60px;
	  @include border-radius(50%);
	  border: solid 1px transparent;
	  .icon-close {
		display: inline-block;
		margin-top: -5px;
	  }
	  &:hover,
	  &:focus {
		border-color: #fff;
		outline: none;
	  }
	}
	/* < 768px ----------------------------------*/

	@media (max-width: $screen-xs-max){
	  .close {
		top: 20px;
		right: 20px;
		font-size: 45px;
		width: 45px;
		height: 45px;
	  }
	}
  }

  /* BLOQUES DESPLEGABLES ----------------------------------------------------------------------*/

  .mega-menu {
	> .container {
	  position: relative;
	}
	.nav,
	.dropup,
	.dropdown,
	.collapse {
	  position: static;
	}

  }
  .main-navigation-collapse.collapsing,
  .main-navigation-collapse.in {
	border-top: solid 1px rgba(0,0,0,0.3);
  }
  .main-navigation-collapse > .navbar-nav > li {
	> .dropdown-menu-collapse {
	  background: #f1f1f1;
	  border: none;
	  @include box-shadow(none);
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 100%;
	  overflow: hidden;
	  padding: 0;
	  margin: 0;
	  &:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: -10px;
		right: -10px;
		height: 40px;
		@include box-shadow(0px -10px 42px -17px rgba(0, 0, 0, 0.2) inset);
	  }
	  .submenu-wrapper {
		padding-top: 30px;
		padding-bottom: 35px;
	  }
	  .submenu-wrapper .heading {
		font-family: $font-family-heading;
		font-weight: 300;
		color: $brand-color;
	  }
	  .submenu-wrapper .heading-sm {
		margin: 0 0 15px 0;
		font-size: 18px;
		line-height: 1.1;
	  }
	  .submenu-wrapper .heading-md {
		margin: 0 0 20px 0;
		font-size: 21px;
		line-height: 1.1;
	  }
	  .submenu-wrapper .heading-lg {
		margin: 0 0 25px 0;
		font-size: 24px;
		line-height: 1.1;
	  }
	  .submenu-wrapper .row .nav-stacked {
		margin-bottom: 20px;
	  }
	  .submenu-wrapper .row .nav-stacked > li {
		border-bottom: none;
		+ li {
		  border-top: solid 1px rgba(0, 0, 0, 0.1);
		}
	  }
	  .submenu-wrapper .row .nav-stacked > li > a {
		font-size: 16px;
	  }
	  .submenu-wrapper .row .nav-stacked > li > a:hover,
	  .submenu-wrapper .row .nav-stacked > li > a:focus,
	  .submenu-wrapper .row .nav-stacked > .active > a,
	  .submenu-wrapper .row .nav-stacked > .active > a:hover,
	  .submenu-wrapper .row .nav-stacked > .active > a:focus {
		background: rgba(0, 0, 0, 0.06);
		color: #000;
	  }
	  .submenu-wrapper .row .nav-stacked > .active > a,
	  .submenu-wrapper .row .nav-stacked > .active > a:hover,
	  .submenu-wrapper .row .nav-stacked > .active > a:focus {
		font-weight: bold;
	  }
	  .submenu-wrapper .row .nav-stacked > li > a:hover,
	  .submenu-wrapper .row .nav-stacked > li > a:focus {
		&:after {
		  @include iconvector("Pe-icon-7-stroke", middle, 16px, "\e641");
		  margin-left: 10px;
		}
	  }

	  /* fila automatica y segundo nivel en auto navigation element ----*/

	  .submenu-wrapper > .row > .mainnav-column > .nav-stacked > li > ul > li > a {
		font-size: 14px;
		padding: 7px 15px 7px 35px;
	  }
	  .submenu-wrapper .row > .mainnav-column >.nav-stacked > li > ul > li > a:hover,
	  .submenu-wrapper .row > .mainnav-column > .nav-stacked > li > ul > li > a:focus {
		&:after {
		  @include iconvector("Pe-icon-7-stroke", middle, 14px, "\e641");
		  margin-left: 7px;
		}
	  }
	  .submenu-wrapper .row .row-auto > .nav-stacked > li.father > a {
		font-weight: bold;
	  }


	  .submenu-wrapper .btn {
		margin-top: 15px;
		font-size: 15px;
		background: none;
		border: solid 1px $brand-color;
		color: $brand-color;
		&:hover,
		&:focus {
		  background: $brand-color;
		  color: #fff;
		}
	  }
	  .btn-close {
		position: absolute;
		right: 30px;
		top: -30px;
		font-size: 22px;
		color: #999;
		background: none;
		border: none;
		@include transition(all ease .2s);
		&:hover,
		&:focus {
		  color: #000;
		}
	  }
	  &.in {
		.btn-close {
		  top: 20px;
		}
	  }
	}
  }


  /* MEDIA QUERIES
--------------------------------------------------------------------------------------------------------------*/
  /* > 640px -----------------------------------------------------*/

  @media (min-width: 640px) {
	.overlay-search {
	  .overlay-search-wrapper {
		margin-left: -310px;
		width: 620px;
	  }
	  .close {
		right: 30px;
		top: 80px;
	  }
	  .navbar-form .form-control {
		font-size: 18px;
	  }
	}
  }


  /* > 992PX ------------------------------------------------------*/

  @media (min-width: $screen-md) {


  }

  /* > 1200PX ----------------------------------------------------- */

  @media (min-width: $screen-lg) {
	position: fixed;
	z-index: 900;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	.navbar-brand {
	  margin-left: -15px;
	  padding: 20px 15px;
	  &:hover,
	  &:focus {
		margin-right: -10px;
	  }
	}
	.navbar-collapse > .navbar-nav > li {
	  display: table;
	  height: 110px;
	  max-width: 200px;
	  table-layout: fixed;
	  @include transition(all ease 0.3s);
	  position: static;
	  > a {
		padding: 11px 20px;
		text-transform: uppercase;
		line-height: 1.4;
		&[data-toggle] {
		  padding: 11px 30px 11px 20px;
		}
		font-size: 12px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-weight: bold;
		letter-spacing: 0.5px;
	  }
	  &.pull-right > a {
		padding: 11px 15px;
	  }
	}
	.main-navigation-collapse > .navbar-nav > li > .dropdown-menu-collapse .submenu-wrapper {
	  padding-top: 50px;
	  padding-bottom: 55px;
	}
	/* cabecera fija reducida - sticky */

	&.sticky {
	  .navbar {
		background: rgba($brand-color,.8);
	  }
	  .topbar-inverse {
		display: none;
	  }
	  .navbar-brand {
		padding: 10px 15px;
		margin-top: 0;
		&:hover,
		&:focus {
		  margin-top: 0;
		}
	  }
	  .navbar-brand img {
		width: 79px;
	  }
	  .navbar-collapse > .navbar-nav > li {
		height: 80px;
	  }
	  .navbar-collapse > .navbar-nav > li > a > .fa.pull-right {
		bottom: 3px;
		margin-left: -4px;
	  }
	}
  }

  /* > 1360PX --------------------------------------------------------------*/

  @media (min-width: 1360px) {
	.navbar-collapse > .navbar-nav > li {
	  max-width: 215px;
	  > a {
		padding: 11px 20px;
		font-size: 13px;
		&[data-toggle] {
		  padding: 11px 30px 11px 20px;
		}
	  }
	  > a > .fa.pull-right {
		right: 15px;
	  }
	}
  }

  /* < 1200PX - cuando colapsa la cabecera------------------------------------- */

  @media (max-width: $screen-md-max) {
	.navbar-brand > img {
	  max-width: 140px;
	}
	.navbar-collapse > .navbar-nav {
	  margin-top: 0;
	  margin-bottom: 0;
	  > li + li {
		border-top: solid 1px rgba(0,0,0,0.3);
	  }
	  > li > a > .fa.pull-right {
		font-size: 22px;
		right: 20px;
		margin-top: -11px;
	  }
	}
	.main-navigation-collapse > .navbar-nav > li > .dropdown-menu-collapse {
	  position: relative;
	  .submenu-wrapper .row .nav-stacked {
		margin-bottom: 5px;
	  }
	  .submenu-wrapper .row .nav-stacked > li > a {
		font-size: 15px;
		padding: 9px 15px;
	  }
	  .btn-close {
		display: none;
	  }
	  .submenu-wrapper .mainnav-column {
		margin-bottom: 30px;
	  }
	}
	/* boton de buscador */

	.search-link {
	  padding: 9px 10px;
	  width: 50px;
	  height: 50px;
	  @include transition(all ease 0.3s);
	  @include border-radius(0);
	  position: absolute;
	  top: 50%;
	  margin-top: -25px;
	  right: 65px;
	  background: none;
	  border: none;
	  color: #fff;
	  &:hover,
	  &:focus {
		color: $brand-second-color;
		background: none;
	  }
	  .fa {
		font-size: 25px;
		line-height: 1;
		display: inline-block;
		margin-top: 2px;
	  }
	}

	.navbar-header {
	  position: relative;
	}
	.navbar-brand {
	  width: auto;
	}
	.navbar-toggle {
	  position: absolute;
	  float: none;
	  padding: 9px 10px;
	  margin: 0;
	  border: none;
	  @include border-radius(0);
	  right: 15px;
	  color: #fff;
	  font-size: 32px;
	  line-height: 1;
	  vertical-align: middle;
	  top: 50%;
	  margin-top: -27px;
	  &:hover,
	  &[aria-expanded="true"] {
		color: $brand-second-color;
	  }
	}
  }

  /* < 768PX - cuando desaparece el topbar ----------------------------------------------------*/

  @media (max-width: $screen-xs-max) {
	position: relative;
	.topbar-inverse {
	  margin-left: -25px;
	  margin-right: -25px;
	  > .container {
		padding: 0;
	  }
	  > .container > .row {
		margin: 0;
	  }
	  > .container > .row > div {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	  }
	  ul {
		padding: 0 !important;
		margin: 0 !important;
		float: none !important;
		width: 100%;
	  }
	  ul.list-inline li {
		display: table-cell;
		width: 1%;
	  }
	  ul.social-list.pull-right > li > a,
	  ul.list-inline li > a {
		display: block;
		width: 100%;
	  }
	  .social-list.pull-right > li {
		float: none;
	  }
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	  color: #fff;
	}
	.mega-menu {
	  .navbar-header {

		.navbar-brand .navbar-brand-title .h2 {
		  font-size: 18px;
		}
		.navbar-brand .navbar-brand-title .h3 {
		  font-size: 15px;
		}
	  }
	  .navbar-brand {
		padding: 6px 15px;
	  }
	  .navbar-responsive-collapse {

		.navbar-right {
		  margin-top: 0;
		  > li {
			border-bottom: #ddd solid 1px;
		  }
		  > .open > a {
			background: $brand-color;
			color: #fff;
		  }
		  > .search {
			text-align: center;
		  }
		  > .search .navbar-form {
			margin-left: 0;
			margin-right: 0;
			border-top: none;
			border-bottom: none;
			.input-group {
			  width: 100%;
			  .form-control {
				width: 100%;
			  }
			}
		  }
		}
		.dropdown-menu .mega-menu-content {
		  padding: 15px 10px;
		  h2 {
			font-size: 19px;
			margin-bottom: 5px;
		  }
		  .nav-pills > li > a {
			padding: 10px 15px;
		  }
		  .row {
			margin-left: -7px;
			margin-right: -7px;
			[class*="col-"] {
			  padding-right: 7px;
			  padding-left: 7px;
			}
		  }
		}
	  }
	}
  }

  /* < 480PX ---------------------------------------------------------------- */

  @media (max-width: $screen-xxs-max) {
	.topbar-inverse {
	  margin: 0;
	  ul {
		padding: 0 !important;
		margin: 0 !important;
		float: none !important;
		width: 100%;
		display: table;
	  }
	  ul li {
		padding: 0;
		display: table-cell;
		width: 1%;
	  }
	  .social-list.pull-right > li > a {
		width: auto;
	  }
	  > .container > .row > div {
		width: 100%;
		padding: 0;
	  }
	}
	.navbar-brand {
	  padding: 12px 15px;
	  > img {
		max-width: 80px;
	  }
	}
	.row {
	  margin: 0;
	}
	.container {
	  padding-right: 0;
	  padding-left: 0;
	}
	.container>.navbar-header,
	.container>.navbar-collapse,
	.container-fluid>.navbar-header,
	.container-fluid>.navbar-collapse {
	  margin-right: 0;
	  margin-left: 0;
	}
	.search-link {
	  right: 55px;
	}
	.navbar-toggle {
	  right: 5px;
	}
	.navbar-collapse {
	  padding: 0;
	}
	.navbar-collapse > .navbar-nav {
	  margin: 0;
	}
  }
}


/* solo en edicion */

@media (min-width: $screen-lg) {
  .org-opencms-ade-containerpage-client-ui-css-I_CmsLayoutBundle-I_CmsContainerpageCss-enlargeSmallElements #header .navbar {
	top: 52px;
  }
}


