/* ICONOS QUE SE INCLUYEN AUTOMATICAMENTE EN ENLACES A ARCHIVOS Y PAGINAS
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------- */

/* ARCHIVOS */

.main-content  {
  a[href$='.pdf'],
  a[href$='.doc'],
  a[href$='.docx'],
  a[href$='.rtf'],
  a[href$='.zip'],
  a[href$='.rar'],
  a[href$='.txt'],
  a[href$='.ppt'],
  a[href$='.asf'],
  a[href$='.lsf'],
  a[href$='.asx'],
  a[href$='.avi'],
  a[href$='.mpe'],
  a[href$='.mpg'],
  a[href$='.mpeg'],
  a[href$='.mov'],
  a[href$='.qt'],
  a[href$='.rm'],
  a[href$='.rv'],
  a[href$='.divx'],
  a[href$='.mdb'],
  a[href$='.au'],
  a[href$='.cda'],
  a[href$='.mid'],
  a[href$='.mp3'],
  a[href$='.ra']
  a[href$='.snd'],
  a[href$='.wav'],
  a[href ^="mailto:"],
  a[href*="flickr.com/photos/"],
  a[href *="youtube.com/watch?"],
  a[href *="vimeo.com"],
  a[href *="dailymotion.com/video/"],
  a[href *="twitter.com"],
  a[href *="facebook.com"],
  a[href *="plus.google.com"],
  a[href *="slideshare.net"],
  a[href *="instagram.com"],
  a[href *="pinterest.com"],
  a[href *="foursquare.com"],
  a[href *="vine.co"] {
    &:before {
      display: inline-block;
      font-family: 'FontAwesome';
      font-size: inherit; // can't have font-size inherit on line above, so need to override
      text-rendering: auto; // optimizelegibility throws things off #1094
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0); // ensures no half-pixel rendering in firefox
      margin-right: 5px;
    }
  }
  /* redes sociales y plataformas de video y foto */

  a[href*="flickr.com/photos/"] {
    &:before {
      content: "\f16e";
      color: #E61481
    }
  }
  a[href *="vimeo.com"] {
    &:before {
      content: "\f194";
      color: #4bf;
    }
  }
  a[href *="dailymotion.com/video/"] {
    &:before {
      content: "\f01d";
    }
  }
  a[href *="twitter.com"] {
    &:before {
      content: "\f081";
      color: #39A5DE;
    }
  }
  a[href *="facebook.com"] {
    &:before {
      content: "\f082";
      color: #3E5399;
    }
  }
  a[href *="plus.google.com"] {
    &:before {
      content: "\f0d4";
      color: #D34A31;
    }
  }
  a[href *="slideshare.net"] {
    &:before {
      content: "\f1e7";
      color: #00999B;
    }
  }
  a[href *="instagram.com"] {
    &:before {
      content: "\f16d";
      color: #125688;
    }
  }

  a[href *="pinterest.com"] {
    &:before {
      content: "\f0d3";
      color: #CD221F;
    }
  }
  a[href *="youtube.com"] {
    &:before {
      content: "\f166";
      color: #CE3621;
    }
  }
  a[href *="foursquare.com"] {
    &:before {
      content: "\f180";
      color: #2D5BE3;
    }
  }
  a[href *="vine.co"] {
    &:before {
      content: "\f1ca";
      color: #00BF8F;
    }
  }


  /* extensiones de archivos -----------------------------*/

  a[href ^="mailto:"] {
    &:before {
      content: "\f003";
    }
  }
  a[href$='.pdf'] {
    &:before {
      content: "\f1c1";
      color: #b20904
    }
  }
  a[href$='.doc'],
  a[href$='.docx'],
  a[href$='.rtf']{
    &:before {
      content: "\f1c2";
    }
  }
  a[href$='.zip'],
  a[href$='.rar'] {
    &:before {
      content: "\f1c6";
    }
  }
  a[href$='.txt'] {
    &:before {
      content: "\f0f6";
    }
  }
  a[href$='.ppt'] {
    &:before {
      content: "\f1c4";
    }
  }

  a[href$='.asf'],
  a[href$='.lsf'],
  a[href$='.asx'],
  a[href$='.avi'],
  a[href$='.mpe'],
  a[href$='.mpg'],
  a[href$='.mpeg'],
  a[href$='.mov'],
  a[href$='.qt'],
  a[href$='.rm'],
  a[href$='.rv'],
  a[href$='.divx'],
  a[href$='.mdb'] {
    &:before {
      content: "\f1c8";
    }
  }

  a[href$='.au'],
  a[href$='.cda'],
  a[href$='.mid'],
  a[href$='.mp3'],
  a[href$='.ra']
  a[href$='.snd'],
  a[href$='.wav'] {
    &:before {
      content: "\f1c7";
    }
  }

  /* para evitar doble icono en determinados recursos */

  .sg-download-gallery table tr td a:before,
  .link-gallery a:before,
  .image-gallery a:before,
  .list .title-element a:before,
  .list .image a:before,
  .feature-block > a:before,
  a.no-icon:before,
  .btn-pdf:before,
  .box > a:before,
  .element > a:before{
    content: none !important;
  }



}

/* COLORES ESPOECIFICOS DE ICONOS DE TIPO DE ARCHIVO */

.fa-file-pdf-o {
  color: #b20904;
}

.fa-file-word-o {
  color: #0E69C6;
}

.fa-file-powerpoint-o {
  color: #D04525;
}

.fa-file-excel-o {
  color: #217345;
}


/* ICONOS VECTORIALES PROPIOS
-----------------------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kkv9fm');
  src:  url('../fonts/icomoon.eot?kkv9fm#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?kkv9fm') format('truetype'),
  url('../fonts/icomoon.woff?kkv9fm') format('woff'),
  url('../fonts/icomoon.svg?kkv9fm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.nat-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.close-icon:before {
  content: "\e92b";
}
.menu-icon:before {
  content: "\e92c";
}


