/* LISTADOS y RESULTADOS BUSCADOR
--------------------------------------------------------------------------------------------------------------*/


/* listados paginas interiores */

.list {
  &.no-separators {
	li.clearfix {
	  display: none !important;
	}
  }
  .title .small {
	  font-weight: bold;
	  font-size: 70%;
  }
  .title-element {
	margin: 0;
	padding: 0;
	.fa.table-cell {
	  padding-right: 10px;
	}
	> a {
	  display: block;
	}
  }

  .main-ul > li.box.default-box header {
	margin: 0;
	padding: 0;
  }
  .main-ul > li > * {
	  padding: 15px 20px;
	  position: relative;
	  overflow: hidden;
	  @include transition(all ease .4s);
  }
  .main-ul:not(.row) > li > * {
	padding: 35px 20px;
  }
	.info-element,
  .date-element {
	font-weight: bold;
	color: #999;
	display: block;
	margin-bottom: 10px;
  }
  .main-ul > .no-padding > * {
	  padding: 0;
  }
  /* en columnas */

  .main-ul.row {
	position: relative;
  }
  .main-ul.row > li {
	  border: none;
	position: static;
  }
  .main-ul.row > li > hr {
	margin: 0;
	border-top: solid 1px transparent;
	&:hover {
	  background: none;
	}
  }
  .description {
	margin: 10px 0 0 0;
	p {
	  margin: 0;
	}
  }
	.main-ul > .element-bordered > * {
	  @include box-shadow(0 0 8px 1px rgba(0,0,0,0.1) inset);
	  border: solid 1px #ddd;
	}
  /* simple ----------------*/

  .main-ul > .simple {
	  a {
		  padding: 2px 0;
		  display: block;
	  }
	  &.only-title {
		  > * {
			  padding: 6px 15px;
		  }
		  .title-element {
			  font-size: $font-size-medium-large;
		  }
	  }
  }

  /* has media ------------------*/

  .main-ul > .has-media {
	  background: none;
	  @include transition (all .4s ease);
	  &:hover > * {
		  background: #f6f6f6;
	  }
	  .media-object.pull-left {
		margin-right: 25px;
	  }
  }


  /* presentado en columnas ----*/

  > .wrapper > .row {
	margin-bottom: 0;
  }

  .main-ul.row li:first-child {
	border: none;
  }

  /* con la imagen que ocupe el ancho completo y no flote ----*/

  .media-object-block .media-object.pull-left {
	float: none !important;
	margin: 0 0 10px 0;
  }

  /* paginacion -----------*/
  .informe {
	margin-top: 40px;
	color: #777;
  }
  .pagination {
	  > li {
		  background: none !important;
		  padding: 0 !important;
	  }
	  .informeresultados {
		  margin-top: 5px;
	  }
  }
  /* icono en lista de resultados buscador ------*/

  .icono.btn-default {
	background: none;
	border: 1px solid #ddd;
	@include box-shadow(none);
	@include border-radius(0);
	color: $gray-light;
	font-size: $font-size-base;
	padding: 5px;
  }

  /* PLANTILLAS ESPECIALES ----------------------------------------*/

  /* texto superpuesto imagen ---------------------------------*/

  .list-element-super {
	.wrapper-element {
	  position: relative;
	  padding: 50px 25px;
	}
	.wrapper-element:after {
	  content: "";
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  background: rgba(0,0,0,0.4);
	}
	.element {
	  position: relative;
	  z-index: 1;
	  color: #fff;
	}
	.title-element {
	  color: #fff;
	}
	.description .categories {
	  margin-top: 30px;
	}
	.description .categories:empty {
	  margin-top: 0;
	}
	.description .categories a {
	  display: inline-block;
	  font-weight: bold;
	}
	/* boton de ver mas solo icono */
	.actions .btn-xlg {
	  padding: 19px 24px;
	  font-size: 25px;
	}
	/* overlay link */
	.overlay-link {
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 15;
	}

	.overlay-link:after {
	  content: "\f0c1";
	  display: inline-block;
	  font: normal normal normal 34px/1 FontAwesome;
	  font-size: inherit;
	  text-rendering: auto;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  transform: translate(0, 0);
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  z-index: 1;
	  color: #eee;
	}
	.overlay-link .hover-overlay {
	  visibility: hidden;
	  opacity: 0;
	  background: $brand-color;
	  @include transition(all ease .3s);
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  width: 100%;
	  height: 100%;
	}
	.overlay-link:after {
	  content: "\e641";
	  display: inline-block;
	  font: normal normal normal 18px/1 Pe-icon-7-stroke;
	  text-rendering: auto;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  @include transform(translate(0, 0));
	  position: absolute;
	  left: auto;
	  top: 10px;
	  right: 10px;
	  text-align: center;
	  z-index: 1;
	  color: #fff;
	  @include border-radius(50%);
	  border: #fff solid 1px;
	  width: 32px;
	  height: 32px;
	  line-height: 30px;
	  visibility: hidden;
	}
	.overlay-link:hover,
	.overlay-link:focus {
	  .hover-overlay {
		visibility: visible;
		opacity: 0.3;
	  }
	}
	.overlay-link:hover:after,
	.overlay-link:focus:after {
	  visibility: visible;
	}
  }
  /* DESTACADO MODO THUMBNAIL (EVENTO DESATCADO HOME) */

  .main-ul > .item-thumbnail {
	.media {
	  border: solid 1px #ccc;
	  border-bottom: solid 2px $brand-color;
	}
	.media-body {
	  padding: 0 30px 40px 30px;
	}
  }

  /* EVENTOS CON FECHA DESTACADA EN CAJA */

  .main-ul > .item-featured-date {
	+ .item-featured-date {
	  margin-top: 15px;
	}
	.media-wrapper-sm {
	  display: table;
	  table-layout: fixed;
	  width: 100%;
	}
	.media-wrapper {
	  border: solid 1px #ddd;
	  .media-date {
		padding-right: 0;
		background: $brand-third-color;
		color: $brand-color;
	  }
	  .media-date-sm {
		width: 90px;
	  }
	  .media-object {
		padding: 10px 20px;
		text-align: center;
	  }
	  .day {
		font-size: 16px;
	  }
	  .daynumber {
		font-size: 30px;
		line-height: 1;
		margin-bottom: -3px;
		font-family: $font-family-heading;
		padding-top: 2px;
	  }
	  .month {
		font-size: 15px;
		font-weight: bold;
	  }
	  .media-info {
		padding: 15px 20px;
		text-align: left;
	  }
	  a.media-body:hover,
	  a.media-body:focus {
		  background: #f5f5f5;
	  }
	  .media-heading {
		font-size: 15px;
		color: $brand-color;
		font-weight: bold;
		margin: 0;
	  }
	  .description {
		color: $text-color;
		font-size: 13px;
	  }
	}
	@media (max-width: $screen-sm) {
	  .description {
		display: none !important;
	  }
	}
	&.main-item-featured-date {
	  + .main-item-featured-date {
		margin-top: 40px;
	  }
	  .media-img {
		min-height: 100px;
	  }
	  .media-info {
		padding: 30px;
	  }
	  @media (min-width: $screen-xxs) {
		.media-date {
		  width: 14%;
		}
		.media-img {
		  width: 22%;
		}
		.media-info {
		  width: 64%;
		}
	  }
	}
  }
}

/* LISTADO SLIDER ------------------------------------------------------------------*/

.sg-solrlist .bx-wrapper .item {
	padding: 15px;
	
}


/* LISTADO SORTING GRID ----------------------------------------------------------*/

.sorting-grid .mix {
  display: none;
  margin-bottom: 20px;
}
.list .sorting-grid > li > *:before {
  content: none;
}

.sorting-nav.nav-justified > li {
  display: inline-block;
  width: auto;
  padding: 18px 40px;
  height: auto !important;
  margin-bottom: 15px;
  background: $brand-color;
  color: #fff;
  @include transition(all ease .3s);
  &:hover,
  &.active {
	background: $brand-color-darker;
  }
  + li {
	margin-left: -5px;
  }
}


/* LISTADO RESOURCELOAD SOLO IMAGEN
-------------------------------------------------------------------------------*/

.list .main-ul-resourceload.main-ul-resourceload-image {
  .mix {
	margin: 0;
  }
  > li > * {
	padding: 0;
	&:hover,
  	&:focus {
	  background: none;
	}
  }
  > li[class*="visible-"] {
	display: none !important;
  }
}




/* EN COLUMNAS
---------------------------------------------------------------------------*/

.aside .list .list-entries {
  header {
	background: none;
	.heading {
	  padding: 0;
	}
  }
  > ul > li {
	padding: 10px;
	.description {
	  margin-top: 10px;
	  font-size: 10px;
	  color: #555;
	}
	h4 {
	  font-size: 15px;
	}
	.date-element {
	  font-size: 10px;
	}
	.info {
	  font-size: 10px;
	}
  }
}

/* LISTADO PLANTILLA CAJA ESPECIAL - TIPO BLOG - ARTICULOS
-----------------------------------------------------------------------------------------------------------*/

.list .list-element-blog {
  .description .description-content .description-content-wrapper {
	max-height: 275px;
  }
  .ps-active-y-parent {
	&:after,
	&:before {
	  display: block;
	  position: absolute;
	  right: 35px;
	  color: #aaa;
	}
	&:after {
	  @include iconvector("FontAwesome", middle, 20px, "\f107");
	  bottom: 26px;
	}
	&:before {
	  @include iconvector("FontAwesome", middle, 20px, "\f106");
	  bottom: 42px;
	}
  }
}

/* LISTADO MASONRY ---------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.list > .wrapper > .main-ul.grid-masonry {
  margin-left: -15px;
  margin-right: -15px;
  > li.grid-masonry-item,
  > li.grid-sizer {
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	height: auto;
	> * {
	  height: auto;
	  padding: 0;
	  display: table;
	  table-layout: fixed;
	  width: 100%;
	}
	> * .element .text-overlay > .wrapper {
	  @include transition(all ease 0.3s);
	}
	> * .element .text-overlay > .wrapper header {
	  padding: 8px 0;
	}
	> *:hover .element .text-overlay > .wrapper {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
	.element {
	  vertical-align: bottom;
	}
	&.grid-item-width-1 {
	  width: 25%;
	  header .title-element {
		font-size: 16px;
	  }
	}
	&.grid-item-width-2 {
	  width: 50%;
	  header .title-element {
		font-size: 20px;
	  }
	}
	&.grid-item-width-3 {
	  width: 75%;
	  header .title-element {
		font-size: 24px;
	  }
	}
	&.grid-item-width-4 {
	  width: 100%;
	  header .title-element {
		font-size: 28px;
	  }
	}
	@media (max-width: $screen-sm-max) {
	  &.grid-item-width-1 {
		width: 33.3333%;
	  }
	  &.grid-item-width-2,
	  &.grid-item-width-3,
	  &.grid-item-width-4,
	  &.grid-item-width-5{
		width: 66.66666%;
	  }
	}
	@media (max-width: $screen-xs-max) {
	  &.grid-item-width-1 {
		width: 50%;
	  }
	  &.grid-item-width-2,
	  &.grid-item-width-3,
	  &.grid-item-width-4,
	  &.grid-item-width-5{
		width: 100%;
	  }
	}
	@media (max-width: $screen-xxs-max) {
	  &.grid-item-width-1,
	  &.grid-item-width-2,
	  &.grid-item-width-3,
	  &.grid-item-width-4,
	  &.grid-item-width-5{
		width: 100%;
	  }
	}
	&.grid-item-height-1 > * {
	  height: 300px;
	}
	&.grid-item-height-2 > * {
	  height: 480px;
	}
	&.grid-item-height-3 > * {
	  height: 630px;
	}
	/*&.grid-item-height-1 > * {
	  height: 200px;
	}
	&.grid-item-height-2 > * {
	  height: 430px;
	}
	&.grid-item-height-3 > * {
	  height: 630px;
	}*/
  }
  .grid-masonry-item {
	padding-right: 15px;
	padding-left: 15px;
	header .title-element {
		color: #fff;
	}
	header .info-date {
	  color: #fff;
	  margin-top: 10px;
	}
	.overlay-link {
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 15;
	}
	.overlay-link .hover-overlay {
	  visibility: hidden;
	  opacity: 0;
	  background: $brand-color;
	  @include transition(all ease .3s);
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  width: 100%;
	  height: 100%;
	}
	.overlay-link:after {
	  content: "\e641";
	  display: inline-block;
	  font: normal normal normal 26px/1 Pe-icon-7-stroke;
	  text-rendering: auto;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  @include transform(translate(0, 0));
	  position: absolute;
	  left: auto;
	  top: 15px;
	  right: 15px;
	  z-index: 1;
	  color: #fff;
	  @include border-radius(50%);
	  border: #fff solid 1px;
	  width: 42px;
	  height: 42px;
	  line-height: 42px;
	  visibility: hidden;
	  text-align: center;
	}
	.overlay-link:hover,
	.overlay-link:focus {
	  .hover-overlay {
		visibility: visible;
		opacity: 0.2;
	  }
	}
	.overlay-link:hover:after,
	.overlay-link:focus:after {
	  visibility: visible;
	}
  }

}


