/* CSS MEDIA - BLOQUES DE IMAGEN Y DE VIDEO
--------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------*/

/* MEDIA OBJECTS
-----------------------------------------------------------------------------------------------------------------------*/

.media > .pull-left {
  margin-right: 20px;
}
.media > .pull-right {
  margin-left: 20px;
}
.media-object img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* MASCARA DE IMAGENES AMPLIABLES
-----------------------------------------------------------------------------------------------------------------------*/

.overlay-zoom {
  cursor: pointer;
  display: block;
  height: 100%;
  position: relative;
  transition: all 0.4s ease;
  width: 100%;
  z-index: 15;
  overflow: hidden;
}
.overlay-zoom .zoom-icon {
  background: rgba(0,0,0,0.4);
  background-position: 50% center;
  background-repeat: no-repeat;
  height: inherit;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out 0s;
  width: inherit;
  z-index: 100;
}
.overlay-zoom .zoom-icon .fa {
  color: #FFFFFF;
  font-size: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  z-index: 140;
}

.zoom-filter:hover .overlay-zoom .zoom-icon,
.zoom-filter:focus .overlay-zoom .zoom-icon{
  transform: scale(1);
}

.media-object .saga-imagen {
  overflow: hidden;
}

.zoom-filter .overlay-zoom img,
.media-object a img {
  @include transition(all ease .4s);
}

.zoom-filter:hover .overlay-zoom img,
.media-object a:hover img {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
  @include transform(scale(1.08));
}

/* BOTON DE AMPLIAR PARA IMAGENES CON ENLACE */

.zoom-filter-btn {
  position: absolute;
  right: 0;
  top: 20px;
  padding: 10px 15px;
  color: #fff;
  background: #000;
  background: rgba(0,0,0,0.4);
  font-size: 18px;
  z-index: 10;
  @include transition(all ease .4s);
  &:hover,
  &:focus {
    color: #fff;
    padding-right: 25px;
  }
}

/* BLOQUES DE MEDIA ON TOP Y ON BOTTOM
-----------------------------------------------------------------------------------------------------------------------*/

.media-top {
  margin-bottom: 15px;
}
.media-to-top .media-object,
.media-to-middle .media-object {
  margin-bottom: 20px;
}

.media-bottom {
  margin-top: 15px;
}

.media-to-bottom .media-object{
  margin-top: 20px;
}

/* FLUID VIDEOS
-----------------------------------------------------------------------------------------------------------------------*/

.video-wrapper,
.wrapper-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  display: block;
}
.video-wrapper object,
.video-wrapper embed,
.video-wrapper iframe,
.wrapper-video object,
.wrapper-video embed,
.wrapper-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* BLOQUES DE IMAGENES EN CONTENIDO PRINCIPAL Y PIE DE FOTO
------------------------------------------------------------------------------------------------------------------------*/

.main-content .saga-imagen {
  margin-bottom: 5px;
}

.image.clearfix {
  margin-bottom: 20px;
}
.saga-imagen {
  position: relative;
}
.saga-imagen-pie {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  padding: 15px;
  background: rgb(30,30,30);
  background: rgba(0,0,0,0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 16;
}

/* EFECTO EN IMAGENES DENTRO DE ENLACES
------------------------------------------------------------------------------------------------------------------------*/

a.wrapper-image,
.wrapper-image {
  overflow: hidden;
  display: block;
  img {
    @include transition(all ease .3s);
  }
}
a.wrapper-image:hover,
a.wrapper-image:focus,
a:hover .wrapper-image,
a:focus .wrapper-image {
  img {
    -webkit-filter: grayscale(0.7);
    -webkit-filter: grayscale(70%);
    filter: gray;
    filter: grayscale(70%);
    @include transform(scale(1.05));
  }
}



