
/* PARA TODOS LOS MENUS
-----------------------------------------------------------------------------------------------------------*/


/* MENUS
--------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------*/ 


/* GENERAL
---------------------------------------------------------------------------------------------------*/


.menu-wrapper {
	min-height: 0;
	
	.dropdown-menu {
		margin: 0;
		min-width: 255px;
		.open > a,
		a:hover,
		a:focus {
			color: $brand-color;
		}
	}
	.dropdown-submenu {
		position: relative;
	}
			
	.dropdown-submenu .fa,
	.dropdown-menu .fa {
		position: absolute;
		right: 5px;
		top: 28%;
	}	
	.dropdown-submenu .dropdown-menu {
		position: absolute;
		left: 100%;
		top: -6px;
		max-width: 255px;
	}
	a, .bullet {
		@include transition(all 0.4s ease); 
	}	
	.dropdown-menu > li > a {
		white-space: normal; 
	}

}	
	
/* HORIZONTAL
----------------------------------------------------------------------------------------------------------------------------*/
	
.menu-horizontal {
	margin: 0;
	padding: 0;	
	.navbar-brand {
		padding: 0;
	}
	.nav {
	  padding: 0;
	  margin-top: 0;
	  a {
		  -webkit-transition: all 0.4s ease;
			  -moz-transition: all 0.4s ease;
			  -ms-transition: all 0.4s ease;
			  -o-transition: all 0.4s ease;
			  transition: all 0.4s ease;
		  @include border-radius(0);
	  }
	  > li {
		  margin-left: 0;
	  }

	  > li > a {
		color: $text-color;
		border-right: 2px solid rgba(0,0,0,0.1);
		padding: 25px 25px;
		font-size: 17px;
	  }
	  > li:first-child > a {
		border-left: 2px solid rgba(0,0,0,0.1);
	  }
		> .dropdown > a {
			padding-right: 20px;
		}
		> .active > a,
		> .active > a:hover,
		> .active > a:focus,
		> .active > a.collapsed,
		> .active > a.collapsed:focus,
		> li.open > a,
		> li > .showing,
		> li > a:hover,
		> li > a.showing,
		> .active > a.showing {
			color: $brand-color;
			background: #eee;
		}

		> li.active > a {
			font-weight: bold;
		}

		/* dropdowns general */
		
		.dropdown-menu {
			@include border-radius(0);		
		}
		
		.dropdown-menu a,
		.open .dropdown-menu a {	
			border-bottom: 1px solid #EEEEEE;
			padding: 7px 20px;
		}
		.dropdown-menu > .active > a {
			background: #eee;
			color: $brand-color;
			font-weight: bold;
		}
		.dropdown-menu > li:first-child > a {
			border-top: 1px solid #EEEEEE;
		}
		
		/* dropdowns de primer nivel */
		
		> li > .dropdown-menu {
			width: 375px;
			border-top: solid 1px #017B62;			
		}
		/* dropdowns de segundo nivel */
		
		> li > ul > li > .dropdown-menu {
			border-top: none;
			width: auto;		
		}		
		
	/* horizontal con bullet de desplegado por click-------------------------------*/
	
		> .dropdown.hasbullet > a {
			float: left;
		}	
		.dropdown-toggle.bullet {
		  background: none repeat scroll 0 0 #FAFAFA;
		  border-left: 1px solid #EFEFEF;
		  border-right: 1px solid #EEEEEE;
		  cursor: pointer;
		  display: block;
		  float: right;
		  padding: 10px 7px;
		  text-align: center;
		  &:hover,
		  &:focus {
				background: #eee;
		  }
				i {
					margin-right: 3px;
				}
		}
		> .open .bullet {
			border-bottom-color: $brand-color;
			color: $brand-color;
			background: #eee;
		}
		/* desplegable horizontal */
		
		.dropdown-menu .dropdown-toggle .fa {
			position: absolute;
			right: 10px;
			top: 25%;			
		}
		
	}
}

/* HORIZONTAL EN CABECERA
---------------------------------------------------------------------------------------------------*/

#navigation .menu-horizontal .nav > li > a {
  font-size: 17px;
  padding: 17px 10px;
}

/* HORIZONTAL COLLAPSE
----------------------------------------------------------------------------------------------------*/

.menu-horizontal-collapse.pull-right {
	float: none !important;
}

/* MENU SIMPLE
---------------------------------------------------------------------------------------------------*/

.menu-simple {
	.nav {
		li {
			margin: 0;
		}
		li a {
			display: block;
			padding: 5px;
		}

		/* nivel 2 ----------------------------------*/
		
		> li > ul li a {
			padding-left: 15px;
		}
		/* nivel 3 ----------------------------------*/
			
		> li > ul > li > ul {
			padding-left: 25px;
		}
		
		/* nivel 4 ----------------------------------*/
		
		> li > ul > li > ul > li > ul {
			padding-left: 40px;
		}
	
	}
}

/*MENU VERTICAL
-------------------------------------------------------------------------------------------------------------------------------------------------*/

/* general ----------------------------------- */


.menu-vertical {
	background: none;
	&.navbar-collapse {
	  padding: 0;
	}
	.affix {
	  position: relative;
	}
	.tituloSeccionMenu {
	  background: none;
	  font-size: 17px;
	  font-family: $font-family-heading;
	  color: $brand-color;
	  text-transform: uppercase;
	  text-align: right;
		.wrapper {
		  padding: 0 0 15px 0;
		}
		a {
		  color: inherit;
		  &:hover,
		  &:focus {
			color: #000;
		  }
		}
	  .fa {
		display: none;
	  }
	}
	.nav {
	  li {
		margin: 0;
		list-style: none;
		border: none;
	  }
	  li a {
		@include transition(ease .4s all);
		border: none;
		display: block;
		text-decoration: none;
		color: $brand-color;
		line-height: 1.5;
		@include border-radius(0);
		padding: 15px 0;
		background: none;
		text-align: right;
	  }
	  li > a:hover,
	  li > a:focus,
	  li.open > a,
	  li.active > a,
	  li.active > a:hover,
	  li.active > a:focus {
		background: none;
		color: #000;
	  }
	  li.active > a,
	  li.active > a:hover,
	  li.active > a:focus {
		font-weight: bold;
	  }
	  /* nivel 1 ----------------------------------*/

	  > li > a {
		font-size: $font-size-medium;
		border-bottom: #ddd solid 1px;
	  }
	  > li > a:hover,
	  > li > a:focus {
		border-color: #000;
	  }

		/* nivel 2 ----------------------------------*/
	  	> li ul {
		  padding: 0;
		}
		> li > ul li {
			a {
				padding: 15px 15px 15px 30px;
			}
		  a:hover,
		  a:focus,
		  &.open > a,
		  &.active > a,
		  &.active > a:hover,
		  &.active > a:focus {
			background: none;
			color: #000;
		  }
		  &.active > a,
		  &.active > a:hover,
		  &.active > a:focus {
			font-weight: bold;
		  }

		}
		/* nivel 3 ----------------------------------*/

		> li > ul > li > ul li a {
			padding: 10px 15px 10px 50px;
			&:hover,
			&:focus {

			}
		}

		/* nivel 4 ----------------------------------*/

		> li > ul > li > ul > li > ul li a{
			padding: 4px 15px 4px 75px;
		  &:hover,
		  &:focus {

		  }
		}

	}


/* accordion  ---------------------------------------------------------------------*/

	&.menu-accordion .panel-group {
	  .panel + .panel {
		margin-top: 0;
	  }
	  .panel-default {
		> .panel-heading {
		  background: #eee;
		  border-top: solid 1px #aaa;
		  .panel-title {
			color: $brand-color;
			a:hover,
			a:focus {
			  color: #000;
			  text-decoration: none;
			}
			.bullet-accordion {
			  font-size: $font-size-large;
			  &:hover,
			  &:focus {
				text-decoration: none;
				color: #000;
			  }
			}
		  }
		}
		&.open > .panel-heading {
		  background: #ddd;
		}
		> .panel-heading.active {
		  background: $brand-color;
		  border-top: solid 1px $brand-color;
		  .panel-title a {
			color: #fff;
		  }
		}

		.panel-body {
		  padding: 0;
		  > ul {
			margin: 0;
		  }

		  /* nivel 1 ----------------------------------*/

		  > .nav > li:last-child > a {
			border-bottom: none;
		  }

		  /* nivel 2 ----------------------------------*/

		  > .nav > li:last-child > ul {
			border-top: #ccc solid 1px;
		  }
		  > .nav > li > ul  {
			border-bottom: #ccc solid 1px;
			padding: 10px 0;
		  }
		  > .nav > li > ul li {
			a {
			  padding: 4px 15px 4px 40px;
			  font-size: $font-size-medium-small;
			  border-bottom: none;
			}
		  }
		}
	  }
	}

}


/* MOBILE MENU y TABLET
-----------------------------------------------------------------------------------------------------*/


.menu.responsive {
	margin: 0;
	padding: 0;
	.navbar-brand {
		padding: 0;
	}
	.nav {
		border-bottom: 1px solid #F5F5F5;
		border-top: none;
		margin: 0;
		a {
			-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
		        -ms-transition: all 0.4s ease;
		        -o-transition: all 0.4s ease;
				transition: all 0.4s ease;
			@include border-radius(0);
			display: block;
			float: none;
			text-decoration: none;
			padding: 10px 15px;
			border-bottom: #ddd solid 1px;
			color: $gray;
			&:hover,
			&:focus {
				text-decoration: none;
				background: $gray-lighter;
			}
		}
		/* enlace para volver al contenido plegando el menu */
		> .collapser {
		  border-top: none !important;
		  border-bottom: none !important;  
		}
		> .collapser > a {
			  color: #666;
			  font-size: $font-size-medium-small;
			  padding-bottom: 6px;
			  padding-top: 6px;
		}		
		li {
			margin: 0;
			float: none;
			@include box-shadow(none);
			@include border-radius(0);
			border: none;
		}	
		> li > a {
			border-color: #ddd;
		}
		> li > a {
			font-size: $font-size-medium-large;
		}
		> li > a:hover,
		> li > a:focus,
		> li.active > a,
		> li.open > a  {
			background: $gray-lighter;
			color: $brand-color;
			border-color: $brand-color;
		}
		li.active > a {
			font-weight: bold;
		}
		
		/* nivel 2 ----------------------------------*/
		
		> li > ul {
			clear: both;
		}
		
		> li > ul > li > a:hover,
		> li > ul > li > a:focus,
		> li > ul > li.open > a,
		> li > ul > li.active > a,
		> li > ul > li.active > a:hover,
		> li > ul > li.active > a:focus {	
			background-color: $gray-lighter;
		}	
		/* segundo nivel ----------------*/

		> li > ul > li > a {
			font-size: 13px;
			padding: 8px 25px 8px 30px;
		}
		/* tercer nivel ----------------*/
		
		> li > ul > li > ul > li > a {
			font-size: $font-size-medium-small;
			color: $gray;
			padding: 6px 25px 6px 50px;
		}
		/* cuarto + niveles ----------------*/
		
		> li > ul > li > ul > li > ul a {
			font-size: $font-size-medium-small;
			color: $gray-light;
			padding: 4px 25px 4px 75px;	
			background: #f8f8f8;
			font-size: 11px;
			&:hover,
			&:focus {
				text-decoration: underline;
				background: #f8f8f8;
			}			
		}
	
		> .dropdown.hasbullet > a {
			float: left;
			width: 88%;
			display: inline-block;
		}	
		> .dropdown.hasbullet > .dropdown-toggle.bullet {
		  background: none repeat scroll 0 0 #f0f0f0;
		  border-left: 1px solid #EFEFEF;
		  border-right: 1px solid #EEEEEE;
		  cursor: pointer;
		  display: inline-block;
		  padding: 10px 0;
		  width: 12%;
		  text-align: center;
		  float: right;
		  &:hover,
		  &:focus {
				background: #ddd;
		  }
				i {
					margin-right: 3px;
				}	
		}
	}	
}
	

/* MAPA WEB
-------------------------------------------------------------------------------------------------------*/


	.main-content .menu.mapaweb {
	  background: none;
		.tituloSeccionMenu {
			display: none;
		}	
		> ul {
			li a {
				@include transition(all ease 0.4s);
				display: block;
				border-bottom: none;
				padding-left: 15px;
				padding-right: 15px;
				&:hover,
				&:focus {
				  text-decoration: none;
				  background: #eee;
				  padding-left: 40px;
				}					
			}
		  	> li + li {
			  margin-top: 30px;
			}
			> li > a {
			  padding: 9px 15px;
			  border-bottom: 1px solid $brand-color;
			  background: none;
			  font-size: $font-size-medium-large;
			  border-top: none;
			  font-weight: bold;
			  &:hover,
			  &:focus {
				border-bottom: 1px solid #000;
			  }
			}
			> li ul {
				padding-left: 25px; 
			}
			/*segundo nivel ----------------*/
	
			> li > ul > li > a {
				padding-top: 8px;
				padding-bottom: 8px;
				border-bottom: none;
				font-size: $font-size-medium;
				background: none;
			}
			/*tercer nivel ----------------*/
			
			> li > ul > li > ul > li > a {
				padding-top: 4px;
				padding-bottom: 4px;
				font-size: $font-size-medium-small;
				background: none;
			}
			/*cuarto + niveles ----------------*/
			
			> li > ul > li > ul > li > ul a {
				border-bottom: none;
				padding-top: 2px;
				padding-bottom: 2px;	
				background: none;
				font-size: $font-size-small;
				&:hover,
				&:focus {
					text-decoration: underline;
				}			
			}			
		}
	
	}
 
 /* DESPLEGABLES DE MENU COLLAPSE
 -----------------------------------------------------------------------------------------------------------*/
 
 .main-menu-collapse .wrapper {
 	/* background: rgba(0,0,0,0.4);
 	background: url("../images/bg-header-wrapper-ie.png") repeat\9;*/
 	padding: 7px 20px;
 		ul {
 			margin-bottom: 12px;
	 		li > h5 {
	 			margin: 0;
	 				a {
					  	border-bottom: 1px solid rgb(200, 200, 200);
						border-bottom: 1px solid rgba(255, 255, 255, 0.2);
						color: #fff;
						display: block;
						font-size: floor(($font-size-base * 1.4));
						font-weight: $font-weight-light;
						padding: 10px;
		 					&:hover,
		 					&:focus {
		 						border-left: solid 2px $brand-color-lighter;
		 						padding-left: 15px;
		 						border-bottom-color: transparent;
		 					} 					
	 				}
	 		} 
	 		.active > h5 > a {
				background: $brand-color-darker-medium;
				color: $brand-color-lighter; 			
	 		}			
 			li {
 				list-style: none;
 			}
 			li > a {
 				color: #fff;
 				font-size: $font-size-medium-small;
 				padding: 3px 10px;
 				display: block;
 			}
			li > a:hover,
			li > a:focus,
			li.active > a {
				/* color: $brand-second-color; */
				border-left: solid 1px $brand-color-lighter;
				padding-left: 15px;
			}		
 		}
 }


