/* DESTACADO - DESTACADOS GROUP - FREE HTML
----------------------------------------------------------------------------------------------------------------*/

/* MICROCONTENIDO
----------------------------------------------------------------------------------------------------------------*/

.sg-microcontent,
.sg-freehtml {

/*	.element .row.object-aside {
		margin-left: -10px;
		margin-right: -10px;
	}*/
	.element .row.panel-body {
		padding: 0;
	}	
/*	.element .object-aside {
		[class*="col-"],
		.container-fluid  {
		    padding-left: 10px;
		    padding-right: 10px;
		}
	}*/
	.subtitle {
		margin-top: 0;
	}
	.panel .thumbnail {
		margin-bottom: 0;
	}	
	.action-btn {
		margin-top: 15px;
	}
	.panel-footer .action-btn {
		margin-top: 0;
	}
}
.sg-microcontent-panel {
	.row {
		margin-bottom: 0;
	}
	.panel .image {
		margin-bottom: 0;
	}
	
}

.sg-microcontent .elements > .row {
	margin-bottom: 15px;
}

/* GALERIA DE DESCARGAS
--------------------------------------------------------------------------------------------------------------*/

.sg-download-gallery {
	
	thead {
		background: none repeat scroll 0 0 #EEEEEE;
	}
	th,
	td {
		@include transition(all .4s ease);
	}
	.table > thead > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > th,
	.table > tbody > tr > td,
	.table > tfoot > tr > th,
	.table > tfoot > tr > td {
	  vertical-align: middle;
	}
  	table tr td a {
	  display: block;
	  font-size: $font-size-medium-large;
	}
	.description {
		font-size: $font-size-base;
		margin-bottom: 20px;
	}
	/** iconos de tipo de archivo **/
	
	.type-document-icon {
	    background-image: url("../images/sprite-descargas.png");
	    background-repeat: no-repeat;
	    display: inline-block;
	    height: 24px;
	    width: 24px;
	}
	.txt > .type-document-icon {
		background-position: 0 -288px;
	}
	.zip > .type-document-icon,
	.rar > .type-document-icon {
		background-position: 0 -264px;
	}
	.ejecutable > .type-document-icon {
		background-position: 0 -240px;
	}
	.swf > .type-document-icon {
		background-position: 0 -216px;
	}
	.ppt > .type-document-icon {
		background-position: 0 -192px;
	}
	.video > .type-document-icon {
		background-position: 0 -144px;
	}
	.img > .type-document-icon {
		background-position: 0 -120px;
	}
	.sonido > .type-document-icon {
		background-position: 0 -96px;
	}
	.mdb > .type-document-icon {
		background-position: 0 -72px;
	}
	.xls > .type-document-icon {
		background-position: 0 -48px;
	}
	.doc > .type-document-icon {
		background-position: 0 -24px;
	}
	.pdf > .type-document-icon {
		background-position: 0 0;
	}
	
}

/* GALERIA DE IMAGENES
--------------------------------------------------------------------------------------------------------------*/

.sg-image-gallery {
	
	.description {
		margin-bottom: 20px;
	}
	.thumbnail {
		overflow: hidden;
	}
	.thumbnail img:hover {
		opacity: 1;
	}	
	.thumbnail:hover img{
	}
	
	/* con slider on top */
	&.sg-slider {
	  .bx-wrapper {
		margin-bottom: 20px;
		.bx-viewport {
		  left: 0;
		}
		.slide .title {
		  min-height: 60px;
		  font-size: 20px;
		  border-bottom: 2px solid $brand-second-color;
		}
		.bx-has-controls-direction {
		  left: 0;
		  position: absolute;
		  top: 48%;
		  width: 100%;
		}
		.bx-controls-direction a {
		  font-size: $font-size-h3;
		  position: absolute;
		  z-index: 9999;

		  &.bx-prev {
			left: 0;
		  }
		  &.bx-next {
			right: 0;
		  }
		}

	  }
	}
}

/* RECURSO DOCUMENTACION ----------------------------------------------------------------------------*/

.documentacion {
  .media .media-object.pull-left {
	float: left !important;
  }
}

