/* CSS DE MODULO - BLOQUES Y MICROBLOQUES
--------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------*/

/* destacados listados */

.sg-microcontent-overlay.box-featured-new .element .text-overlay {
  vertical-align: bottom;
}
.sg-microcontent-overlay.box-featured-new .element .text-overlay .wrapper {
  background: rgba(28,109,175,0.6);
}
.sg-microcontent-overlay.box-featured-new .element:before {
  content: none;
}


#header .navbar {
  background: $brand-color;
  border: none;
  .topbar-inverse {
	background: rgba(0,0,0,0.2);
  }
  .navbar-collapse>.navbar-nav>li>a {
	font-size: 15px;
	color: #fff;
	&:hover,
	&:focus {
	  background: $brand-color-30;
	  color: #fff;
	}
  }
  .navbar-collapse>.navbar-nav>li.active>a {
	color: #fff;
	background: $brand-color-30;
	&:hover,
	&:focus {
	  background: $brand-color-30;
	  color: #fff;
	}
  }
  .navbar-collapse>.navbar-nav>li>a[aria-expanded="true"],
  .navbar-collapse>.navbar-nav>li>a[aria-expanded="true"]:hover,
  .navbar-collapse>.navbar-nav>li>a[aria-expanded="true"]:focus {
	color: #fff;
	background: $brand-color-20;
  }
  &.sticky .navbar-brand img {
	height: 60px;
	width: auto;
  }
  &.sticky .navbar-collapse>.navbar-nav>li {
	height: 80px;
  }
  .main-navigation-collapse>.navbar-nav>li>.dropdown-menu-collapse .submenu-wrapper .row .nav-stacked>li>a {
	font-size: 14px;
	padding: 9px 15px;
  }
}


/*.home #header .navbar {
  background: rgba(28, 109, 175,0.6);
  border: none;
  @include box-shadow(none);
  .topbar-inverse {
	background: rgba(0,0,0,0.2);
  }
  .navbar-collapse>.navbar-nav>li>a[aria-expanded="true"],
  .navbar-collapse>.navbar-nav>li>a[aria-expanded="true"]:hover,
  .navbar-collapse>.navbar-nav>li>a[aria-expanded="true"]:focus {
	color: #fff;
	background: rgba(0,0,0,0.2);
  }
  .topbar-inverse .social-list.pull-right > li > a {
	color: #fff !important;
	background: none !important;
	&:hover,
	&:focus {
	  background: rgba(0,0,0,0.3) !important;
	}
  }
}*/


.title {
	margin: 0 0 15px 0;
  font-family: $font-family-heading;
		a:hover,
		a:focus {
			text-decoration: none;
		}
}


.description ul li,
p ul li {
	list-style: square inside none;
}

.nav li {
  list-style: none;
}

.dl-horizontal dt {
  width: 200px;
}
h1 small, h1 .small,
.h1 small, .h1 .small,
h2 small,
h2 .small,
.h2 small,
.h2 .small,
h3 small,
h3 .small,
.h3 small,
.h3 .small {
  font-size: 70%;
  line-height: inherit;
}

a.navbar-toggle {
	color: #fff;
	&:hover,
	&:focus {
		text-decoration: none;
		color: #fff;
	}
}

/* BLOQUE DE IMAGEN ANCHO COMPLETO */

.image.col-xs-12,
.image.col-sm-12,
.image.col-md-12 {
	margin-bottom: 10px;
}

/* BLOQUE DE BOTONES */

.actions {
	margin: 20px 0 0 0;
}

/* LISTAS
-----------------------------------------------------------------------------------------------*/

/* general */

dl {
  @include clearfix();
  dd > * {
	margin: 0 !important;
  }
  dd > * + * {
	margin-top: 5px !important;
  }

  /* vertical */

  &.dl-vertical {
	dt {
	  margin-bottom: 7px;
	}
	dd + dt {
	  margin-top: 15px;
	}
  }

  /* horizontal */

  &.dl-horizontal {
	padding: 10px 0;
	dt, dd {
	  float: left;
	  margin-bottom: 0;
	}
	dt {
	  width: 120px;
	  text-align: left;
	  white-space: normal;
	}
	dd {
	  padding-left: 15px;
	  margin-left: 0;
	  text-align: left;
	  width: calc(100% - 120px);
	}
  }
  /* responsive < 480px */

  @media (max-width: $screen-xxs-max) {
	/* horizontal */
	&.dl-horizontal {
	  dt, dd {
		float: none;
	  }
	  dt {
		width: 100%;
	  }
	  dd {
		padding-left:0;
		margin-left: 0;
		width: 100%;
	  }
	}
  }
}


/* TABLAS
----------------------------------------------------------------------------------------*/

table {
     border-collapse: collapse;
     width: 100%;
     
	 td,
	 th {
	     border-bottom: 1px solid #eeeeee;
	     p {
	     	margin: 0;
	     }
	}

	 th {
	     color: $brand-color;
	     font-weight: 700;
	}
	
	 tfoot td {
	     background: none repeat scroll 0% 0% #f2f2f2;
	     color: $gray-light;
	     font-style: normal;
	}

}
.table.v-align-m > tr > th,
.table.v-align-m > thead > tr > th,
.table.v-align-m > tr > td,
.table.v-align-m > tbody > tr > td {
  vertical-align: middle;
}

/* MEDIA OBJECTS
-----------------------------------------------------------------------------------*/

.media > .pull-left {
  margin-right: 20px;
}
.media > .pull-right {
  margin-left: 20px;
}
.media-object img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* BLOCKQUOTES
------------------------------------------------------------------------------------*/

blockquote footer,
blockquote small,
blockquote .small {
  color: $gray-light;
}
blockquote {
  color: $brand-color;
  font-size: 24px;
  font-style: normal;
  padding: 50px;
  text-align: left;
  text-transform: uppercase;
  border-left: 5px solid #eee;
  .pull-right & {
	text-align: right;
	border-right: 5px solid #eee;
	border-left: none;
  }
}

/* SIMBOLOS DOCUMENTOS - PDF
------------------------------------------------------------------------------------*/

.fa-file-pdf-o {
  color: #b20904;
}

/* PAGINACION
--------------------------------------------------------------------------------------------------------------------*/

.pagination > li > a,
.pagination > li> span {
  padding: 15px 20px;
  color: $text-color;
  background-color: #fff;
  border: 1px solid #ccc;
  &:hover,
  &:focus {
	border-color: #000;
	color: #000;
	background: none;
  }
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: $brand-color;
  border-color: $brand-color;
}

/* BLOQUES DE IMAGENES --------------------------------------*/

.content .saga-imagen {
  margin-bottom: 10px;

}

.content .wrapper-image {
  overflow: hidden;
  display: block;
}


/* BLOQUES DE PLUGIN SCROLLABLE
------------------------------------------------------------------------------------------------*/
.ps-container {
  position: relative;
}

.ps-container .ps-scrollbar-y-rail:after {
  display: block;
  @include iconvector("FontAwesome", middle, 20px, "\f107");
  position: absolute;
  right: -2.5px;
  bottom: -5px;
  @include toptobottom();
}
.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
  opacity: 0.3;
  display: block;
}
.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
}

/* LAYOUT
--------------------------------------------------------------------------------------------------------------*/

.navbar-brand {
	height: auto;
}


/* resolucion > 1200px -------------------*/

@media (min-width: $screen-lg) {
  body:not(.home) #content-interior .container {
	padding-left: 55px;
	padding-right: 55px;
  }
  .content-interior .template-page-block {
	padding-top: 60px;
	padding-bottom: 60px;
	&.two-col.aside-to-left {
		> .wrapper > .row > [class*="col-"] > .col-prin {
		  padding-left: 45px;
		}
	}
	&.two-col.aside-to-right {
	  > .wrapper > .row > [class*="col-"] > .col-prin {
		padding-right: 45px;
	  }
	}
  }
}

/* FILA DE 5 BLOQUES -------------------------------------------------*/

.five-blocks > .row > [class*="col-"],
.five-blocks .submenu-wrapper > .row > [class*="col-"]  {
  width: 100%;
  float: left;
  @media (min-width: $screen-xs) {
	width: 50%;
	float: left;
  }
  @media (min-width: $screen-sm) {
	width: 33.3333%;
	float: left;
  }
  @media (min-width: $screen-md) {
	width: 20%;
	float: left;
  }
}

/* BLOQUES DE FILA / SECCIONES ESPECIALES */


/* SECCIONES CON PADDING ----------------------------------------------------------*/

.big-block {
  padding-top: 60px;
  padding-bottom: 60px;
}
.medium-block {
  padding-top: 40px;
  padding-bottom: 40px;
}
.small-block {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* PARALLAX BLOCKS --------------------*/

[data-parallax="scroll"],
.parallax-effect,
.parallax-overlayed {
  position: relative;
  &:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
  }
  /* OVERLAY EN BLANCO */
  &.overlay-white:before {
	background: rgba(255,255,255,0.5);
  }
}

/* SECCION INVERSA */

.section-inverse {
  color: #fff;
  a {
	color: #fff;
  }
  .headline .title,
  .webform label {
	color: #fff;
  }
  .section-title .headline .title,
  .section-title header .title,
  .section-title.centered .headline .title,
  .section-title.centered header .title {
	&:after,
	&:before {
	  background: #fff;
	}
	color: #fff;
  }
  .section-title .headline .subtitle {
	color: #aaa;
  }
  .form-control,
  .icheckbox {
	background-color: transparent;
	border-color: #fff;
  }
  .input-group .form-control,
  .input-group .btn {
	height: 50px;
  }
  .form-control {
	@include placeholder($color: #fff);
	color: #fff;
  }
  .form-control:focus {
	@include placeholder($color: $text-color);
  }
  .form-control:focus {
	background-color: #fff;
	color: $text-color;
  }
  .btn {
	background: none;
	color: #fff;
	border: solid 1px #fff;
	&:hover,
	&:focus {
	  background: #fff;
	  color: $brand-color;
	}
  }
}

/* SECCION CENTRADA VERTICALMENTE */

.section-table {
  display: table;
  width: 100%;
  height: 1px;
  > .wrapper {
	display: table-cell;
	vertical-align: middle;
	table-layout: fixed;
  }
}

/* TITULO DESTACADO DE SECCION */

.section-title {
  .headline,
  header {
	margin-bottom: 40px;
  }
  .headline .title {
	font-size: 30px;
	position: relative;
	color: $brand-color;
	padding: 0;
  }
  .headline h1.title,
  .headline .h1.title{
	font-size: 40px;
  }
  .headline h2.title,
  .headline .h2.title{
	font-size: 34px;
  }
  .headline h3.title,
  .headline .h3.title{
	font-size: 26px;
  }
  .headline h4.title,
  .headline .h4.title{
	font-size: 22px;
  }
  .headline h5.title,
  .headline .h5.title{
	font-size: 20px;
  }
  a {
	font-family: $font-family-base;
	padding: 5px 10px;
	border: solid 1px $brand-color;
	&:hover,
	&:focus {
	  background: $brand-color;
	  color: #fff;
	}
	&.small {
	  font-size: 40%;
	}
  }
  .headline .subtitle {
	color: #999;
	font-size: 21px;
	font-family: $font-family-base;
	margin:	0;
	.headline h2.subtitle,
	.headline .h2.subtitle{
	  font-size: 23px;
	}
	.headline h3.subtitle,
	.headline .h3.subtitle{
	  font-size: 21px;
	}
	.headline h4.subtitle,
	.headline .h4.subtitle{
	  font-size: 19px;
	}
	.headline h5.subtitle,
	.headline .h5.subtitle{
	  font-size: 17px;
	}
  }
  /* sin centrar */
  &.not-centered {
	.headline .title {
	  display: inline-block;
	  margin: 10px 0 0 0;
	  padding: 0 10px 0 0;
	}
	.headline .subtitle {
	  display: inline-block;
	  padding: 0 30px 0 0;
	  margin: 6px 0 0 0;
	}
	a {
	  margin: 7px 0 0 0;
	  float: right;
	}
  }

  /* centrado */
  &.centered {
	text-align: center;
	.headline .title,
	header .title {
	  display: block;
	  /*padding-left: 50px;
	  padding-right: 50px;
	  display: inline-block;
	  &:after,
	  &:before {
		content: "";
		width: 30px;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -2px;
		height: 4px;
		background: $brand-color;
	  }
	  &:before {
		right: 0;
		left: auto;
	  }*/
	}
	a {
	  display: block;
	}
	.headline .subtitle,
	header .subtitle {
	  padding-left: 0;
	  margin: 10px 0 0 0;
	  display: block;
	}
  }

  /* < 768px -------------------------*/

  @media (max-width: $screen-xs-max) {
	&.not-centered a {
	  display: block !important;
	}
  }

  /* < 480 px -----------------*/

  @media (max-width: $screen-xxs-max){
	.headline .title,
	header .title {
	  font-size: 30px;
	}
	&.centered {
	  .headline .title,
	  header .title {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 15px;
	  }
	  .headline .subtitle,
	  header .subtitle {
		margin-top: 15px;
	  }
	}
  }
  &.no-margin-head {
	.headline {
	  margin-bottom: 0 !important;
	}
  }
}

/* FUNCTION NAVEGACION SLIDER O EN FILAS Y COLUMNAS
-----------------------------------------------------------------------*/

.navigation-slider-rows {
  &.sg-slider .bx-wrapper .slide {
	padding: 0;
  }
  ul > li > a {
	padding: 30px;
	font-size: 16px;
	text-align: center;
	font-family: $font-family-heading;
	border: solid 1px #ccc;
	&:hover,
	&:focus {
	  background: #eee;
	}
	.table-cell {
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
  }
}

/* FILAS SIN PADDING EN COLS NI MARGIN NEGATIVO EN ROW
-----------------------------------------------------------------*/

.no-spacing-row,
.no-spacing-row > .wrapper,
.no-spacing-row > .wrapper > .element,
.no-spacing-row > .element{
  > .row {
	margin-left: 0;
	margin-right: 0;
	> [class*="col"],
	> .container-fluid {
	  padding-left: 0;
	  padding-right: 0;
	}
  }
}

/* para que al crear nuevas paginas no se vea tan comprimido */

/*.content-interior .col-prin {
	min-height: 400px;
}*/

/* FILAS EN FORMATO TABLE -------*/

/* todas resoluciones */
.row-table {
  display: table;
  table-layout: fixed;
  margin-left: 0;
  margin-right: 0;
  width: 100.15%;
}

.row-table > [class*="col-"] {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.row-table > [class*="col-"]:first-child {
  padding-left: 0;
}
.row-table > [class*="col-"]:last-child {
  padding-right: 0;
}
.row-table.row-table-no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row-table.row-table-no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.row-table.img-to-top-not-table > [class*="col-"] {
  display: block;
}

/* > 480px */

@media (min-width: $screen-xs) {
  .row-table-xs {
	display: table;
	table-layout: fixed;
	margin-left: 0;
	margin-right: 0;
	width: 100.15%;
	&.row-table-no-gutter {
	  margin-left: 0;
	  margin-right: 0;
	}
  }
  .row-table-xs > [class*="col-"] {
	display: table-cell;
	vertical-align: middle;
	float: none;
  }
  .row-table-xs > [class*="col-"]:first-child {
	padding-left: 0;
  }
  .row-table-xs > [class*="col-"]:last-child {
	padding-right: 0;
  }
  .row-table-xs.row-table-no-gutter > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
  }
}

/* > 768px */

@media (min-width: $screen-sm) {
  .row-table-sm {
	display: table;
	table-layout: fixed;
	margin-left: 0;
	margin-right: 0;
	width: 100.15%;
	&.row-table-no-gutter {
	  margin-left: 0;
	  margin-right: 0;
	}
  }
  .row-table-sm > [class*="col-"] {
	display: table-cell;
	vertical-align: middle;
	float: none;
  }
  .row-table-sm > [class*="col-"]:first-child {
	padding-left: 0;
  }
  .row-table-sm > [class*="col-"]:last-child {
	padding-right: 0;
  }
  .row-table-sm.row-table-no-gutter > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
  }
}

/* > 992px */

@media (min-width: $screen-md) {
  .row-table-md {
	display: table;
	table-layout: fixed;
	margin-left: 0;
	margin-right: 0;
	width: 100.15%;
	&.row-table-no-gutter {
	  margin-left: 0;
	  margin-right: 0;
	}
  }
  .row-table-md > [class*="col-"] {
	display: table-cell;
	vertical-align: middle;
	float: none;
  }
  .row-table-md > [class*="col-"]:first-child {
	padding-left: 0;
  }
  .row-table-md > [class*="col-"]:last-child {
	padding-right: 0;
  }
  .row-table-md.row-table-no-gutter > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
  }
}

/* > 1200px */

@media (min-width: $screen-lg) {
  .row-table-lg {
	display: table;
	table-layout: fixed;
	margin-left: 0;
	margin-right: 0;
	width: 100.15%;
	&.row-table-no-gutter {
	  margin-left: 0;
	  margin-right: 0;
	}
  }
  .row-table-lg > [class*="col-"] {
	display: table-cell;
	vertical-align: middle;
	float: none;
  }
  .row-table-lg > [class*="col-"]:first-child {
	padding-left: 0;
  }
  .row-table-lg > [class*="col-"]:last-child {
	padding-right: 0;
  }
  .row-table-lg.row-table-no-gutter > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
  }
}

/* FILA - SECCION CON MENU HORIZONTAL ----------------------*/
.row-navigation {
  @include transition(all ease .5s);
  background: none;
  padding: 0;
  border: solid 2px rgba(255,255,255,0.2);
  border-bottom: none;
  position: relative;
  z-index: 3;
  margin-top: -147px;
  margin-bottom: 60px;
  margin-left: -25px;
  margin-right: -25px;
  &:hover {
	border-color: rgba(255,255,255,0.4);
  }
  .navbar {
	margin-bottom: 0;
	position: relative;
	&.overflowing:after {
	  @include iconvector("FontAwesome", middle, 20px, "\f105");
	  position: absolute;
	  right: -10px;
	  top: 50%;
	  margin-top: -10px;
	  @include lefttoright();
	}
	.navbar-header {
	  display: none;
	}
	.navbar-collapse {
	  display: block;
	  height: auto;
	}
	.nav {
	  width: 100%;
	  overflow-x: auto;
	  position: relative;
	  > li {
		display: table-cell;
		width: 1%;
		float: none;
		height: 85px;
	  }
	  > li > a {
		text-align: center;
		white-space: nowrap;
		border: none !important;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		color: #fff;
		font-size: 15px;
	  }
	  > li > a:after {
		content: "";
		width: 50px;
		height: 4px;
		background: rgba(255,255,255,0.2);
		margin-left: -25px;
		position: absolute;
		bottom: 0;
		left: 50%;
		@include transition(all ease .3s);
	  }
	  > .active > a,
	  > .active > a:hover,
	  > .active > a:focus,
	  > .active > a.collapsed,
	  > .active > a.collapsed:focus,
	  > li.open > a,
	  > li > .showing,
	  > li > a:hover,
	  > li > a:focus,
	  > li > a.showing,
	  > .active > a.showing {
		background: none;
		color: #fff;
	  }
	  > .active > a:after,
	  > .active > a:hover:after,
	  > .active > a:focus:after,
	  > li > a:hover:after,
	  > li > a:focus:after {
		background: rgba(255,255,255,1);
		bottom: 20px;
	  }
	}


	@media (min-width: $screen-lg) {
	  > .wrapper > .row > [class*="col-"] {
		padding: 0 25px;
	  }
	  .nav {
		width: 100%;
		overflow-x: auto;
		position: relative;
		> li {
		  display: table;
		  table-layout: fixed;
		  width: auto;
		  float: left;
		  &.items-2 {
			width: 50%;
		  }
		  &.items-3 {
			width: 33.3333%;
		  }
		  &.items-4 {
			width: 25%;
		  }
		  &.items-5 {
			width: 20%;
		  }
		  &.items-6 {
			width: 16.6666%;
		  }
		  &.items-7 {
			width: 14.2857%;
		  }
		  &.items-8 {
			width: 12.5%;
		  }
		  &.items-9 {
			width: 11.1111%;
		  }
		  &.items-10 {
			width: 10%;
		  }
		  &.items-11 {
			width: 9.0909%;
		  }
		  &.items-12 {
			width: 8.3333%;
		  }
		}
		> li > a {
		  text-align: center;
		  white-space: normal;
		  padding: 15px;
		  display: table-cell;
		  vertical-align: middle;
		  font-size: 17px;
		}
		> .items-7 > a,
		> .items-8 > a,
		> .items-9 > a,
		> .items-10 > a,
		> .items-11 > a,
		> .items-12 > a {
		  font-size: 15px;
		}
	  }
	}
  }
  /* < 1200px */
  @media (max-width: $screen-md-max) {
	margin-top: -171px;
  }
  /* > 1200px */
  @media (min-width: $screen-lg) {
	margin-left: -55px;
	margin-right: -55px;
  }

}

/* SUBHEADER --------------------------------------------------------------*/

.subheader {
  color: #fff;
  font-family: $font-family-heading;
  .breadcrumbs {
	.table-block-wrapper {
	  position: relative;
	  * {
		position: relative;
		z-index: 1;
	  }
	  &:before {
		content: none;
	  }
	}
	&.breadcrumbs-bgdark {
	  .table-block-wrapper:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: rgba(0,0,0,0.4);
	  }
	}
	.title-block {
	  margin: 0;
	  font-weight: $font-weight-light;
	  font-size: floor(($font-size-base * 2.6));
	  width: 100%;
	  color: #fff;
	  letter-spacing: 0.3em;
	  /*text-shadow: 0.5px 0.5px 3px rgba(0,0,0,0.7);*/
	  .title-block-text {;
		line-height: 1.2;
		text-transform: uppercase;
		> a {
		  color: #fff;
		}
		> a:hover,
		> a:focus {
		  opacity: 0.7;
		}
	  }
	  .title-block-main-text {
		padding: 0;
	  }
	  .title-block-sec-text {
		margin-left: 20px;
		margin-top: -5px;
		font-family: $font-family-base;
		letter-spacing: 0.4em;
		font-size: 55%;
		position: relative;
		padding: 8px 15px 8px 25px;
		background: rgba(0,0,0,0.4);
		&:before {
		  content: "";
		  height: 4px;
		  width: 20px;
		  background: #ccc;
		  left: -10px;
		  top: 50%;
		  margin-top: -2px;
		  position: absolute;
		}
	  }
	}
	.title-block-subtext {
	  font-size: 50%;
	  vertical-align: middle;
	  color: #ccc;
	}
	.title-block .description {
	  font-size: 17px;
	  font-weight: 300;
	  font-family: $font-family-base;
	  text-transform: none;
	  margin-top: 15px;
	  line-height: 1.3;
	}
	.breadcrumb {
	  width: auto;
	  position: absolute;
	  right: 25px;
	  bottom: 0;
	  text-align: right;
	  background: none;
	  display: block !important;
	  @include border-radius(0);
	  border-top: none;
	  margin: 0;
	  padding: 10px 0;
	  font-size: $font-size-medium-small;
	  color: #fff;
	  > li {
		margin-left: 4px;
		&:first-child {
		  margin-left: 0;
		}
		&:last-child a {
		  font-style: italic;
		}
	  }
	  > li + li:before {
		content: none;
	  }
	  > li > * {
		display: inline-block;
		overflow: hidden;
		vertical-align: middle;
		max-width: 105px;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #fff;
		font-size: 11px;
	  }
	  > li > a {
		font-family: $font-family-base;
	  }
	  > li > a:hover,
	  > li > a:focus {
		color: $brand-second-color;
		text-decoration: none;
	  }
	}
  }
  @media (max-width: $screen-md-max) {
	.breadcrumbs .table-block-wrapper {
	  height: 320px !important;
	}
	.breadcrumbs .table-block-wrapper .table-block{
	  height: 250px !important;
	}
  }
}

/* subheader para portada de zona --------------*/

.dph-portada .subheader .breadcrumbs .title-block {
	text-align: center;
}

/* SUBHEADER / ROW NAVIGATION / BLOQUE DE TEMPLATE CONTENIDO PRINCIPAL
-----------------------------------------------------------------------------------------------------------------------------------------------*/

#content-interior .template-page-block-main .container {
  position: relative;
  z-index: 2;
  background: #fff;
  padding-top: 60px;
}
#content-interior .template-page-block-main {
  background: #fff;
  padding-top: 1px;
}


/* HOME
-----------------------------------------------------------------------------------------------------------------------------------------*/

.home {

  /* fila destacada con efecto parallax */

  [data-parallax="scroll"]:before,
  .parallax-effect:before,
  .parallax-overlayed:before {
	background: rgba(0,0,0,0.7);
  }

  /* fila de noticias destacadas */
  @media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
	.section-featured-news {
	  .dph-noticia-box {
	  }
	}
  }
}


/* EN CONTENIDO INTERIOR COLUMNA PRINCIPAL
--------------------------------------------------------------------------------------------------------------*/

.col-prin  {

	> div > .menu-wrapper {
  		margin-bottom: 0;
	}

}

/* ENCABEZADOS
-----------------------------------------------------------------------------*/

.subtitle {
  margin-top: 0;
  padding-top: 0;
}

.headline {
  border: none;
  padding: 0;
  margin-bottom: 30px;
  .title {
	padding-top: 0;
	text-transform: uppercase;
  }
  .subtitle {
	color: #999;
	margin: 10px 0 0 0;
  }
  h1.title,
  .h1.title {
	font-size: floor(($font-size-h1 * 1.1));
  }
  h2.title,
  .h2.title {
	font-size: floor(($font-size-h2 * 1.1));
  }
  h3.title,
  .h3.title {
	font-size: floor(($font-size-h3 * 1.1));
  }
  h4.title,
  .h4.title {
	font-size: floor(($font-size-h4 * 1.1));
  }
  h5.title,
  .h5.title {
	font-size: floor(($font-size-h5 * 1.1));
  }
  &.featured-title {
	.title {
	  font-weight: bold;
	  color: $brand-color;
	  text-transform: none;
	}
	h1.title,
	.h1.title {
	  font-size: floor(($font-size-h1 * 1.2));
	}
	h2.title,
	.h2.title {
	  font-size: floor(($font-size-h2 * 1.2));
	}
	h3.title,
	.h3.title {
	  font-size: floor(($font-size-h3 * 1.2));
	}
	h4.title,
	.h4.title {
	  font-size: floor(($font-size-h4 * 1.2));
	}
	h5.title,
	.h5.title {
	  font-size: floor(($font-size-h5 * 1.2));
	}
  }
  /* < 480px -----------------------*/

  @media (max-width: $screen-xxs-max){
	h1.title,
	.h1.title {
	  font-size: floor(($font-size-h1 * 0.8));
	}
	h2.title,
	.h2.title {
	  font-size: floor(($font-size-h2 * 0.8));
	}
	h3.title,
	.h3.title {
	  font-size: floor(($font-size-h3 * 0.9));
	}
	h4.title,
	.h4.title {
	  font-size: floor(($font-size-h4 * 0.9));
	}
	h5.title,
	.h5.title {
	  font-size: floor(($font-size-h5 * 0.9));
	}
	&.featured-title {
	  h1.title,
	  .h1.title {
		font-size: floor(($font-size-h1 * 0.8));
	  }
	  h2.title,
	  .h2.title {
		font-size: floor(($font-size-h2 * 0.8));
	  }
	  h3.title,
	  .h3.title {
		font-size: floor(($font-size-h3 * 0.9));
	  }
	  h4.title,
	  .h4.title {
		font-size: floor(($font-size-h4 * 0.9));
	  }
	  h5.title,
	  .h5.title {
		font-size: floor(($font-size-h4 * 0.9));
	  }
	}
  }
}

/* COLUMNAS
--------------------------------------------------------------------------*/


.aside {
  /* layout */

  /* encabezados */
  .parent .headline {
	margin-bottom: 15px;
	position: relative;
	overflow: inherit;
	padding: 0 0 20px 0;
	.title {
	  margin: 0;
	  padding: 0 0 0 30px;
	  position: relative;
	}
	.title:before {
	  content: "";
	  position: absolute;
	  top: 50%;
	  height: 4px;
	  margin-top: -2px;
	  left: -12px;
	  width: 25px;
	  background: $brand-color;
	}
  }
  .headline {
	border: none;
	padding: 0;
	margin-bottom: 45px;
	.title {
	  padding-top: 0;
	}
	.subtitle {
	  color: #999;
	  margin: 10px 0 0 0;
	}
	h1.title,
	.h1.title{
	  font-size: floor(($font-size-h1 * 0.9));
	}
	h2.title,
	.h2.title{
	  font-size: floor(($font-size-h2 * 0.9));
	}
	h3.title,
	.h3.title {
	  font-size: floor(($font-size-h3 * 0.9));
	}
	h4.title,
	.h4.title{
	  font-size: floor(($font-size-h4 * 0.9));
	}
  }
	h1,.h1 {
		font-size: floor(($font-size-h1 * 0.9));
	}
	h2,.h2 {
		font-size: floor(($font-size-h2 * 0.9));
	}
	h3,.h3 {
		font-size: floor(($font-size-h3 * 0.9));
	}
	h4,.h4 {
		font-size: floor(($font-size-h4 * 0.9));
	}

  /* listados */

  .list {
	.main-ul:not(.row) > li > article {
	  padding: 20px 15px;
	}
	.date-element {
	  font-size: 80%;
	}
  }

  /* buscador */

  .sg-search .filterbox .col-sm-6,
  .sg-search .col-sm-8 {
	  width: 100%;
	  margin-left: 0;
  }

  /* variaciones calendario en columna */

  .tscalendar {

	  .eventCalendar-wrap {
			margin-right: 0;
			margin-left: 0;
		  &:after {
			  clear: both;
		  }
		  &:before, &:after {
			  content: " ";
			  display: table;
		  }
	  }
	  .eventsCalendar-slider {
		  width: auto !important;
		  float: none;
	  }
	  .eventsCalendar-list-wrap {
		  width: auto !important;
		  float: none;
		  padding-left: 0;
		  padding-right: 0;
	  }
	  .eventsCalendar-list-content {
		  &.scrollable {
			height: 440px;
			position: relative;
		  }
	  }
	.eventsCalendar-list-content .eventsCalendar-list .sgevento .eventTitle {
	  font-size: 15px;
	}
  }
	 
}

/* ICON BOXES AREAS TEMATICAS -------------*/

.mz-sg-icon-box.feature-block .wrapper {
  @include transition(all ease .3s);
  .title {
	font-weight: 300;
  }
  .btn {
	@include transition(all ease .3s);
  }
  &:hover {
	background: #fff;
	.btn {
	  padding-left: 40px;
	  padding-right: 40px;
	}
  }
  .list-unstyled li {
	position: relative;
	padding: 7px 0;
	&:after {
	  content: "";
	  width: 40px;
	  position: absolute;
	  bottom: 0;
	  left: 50%;
	  margin-left: -20px;
	  height: 2px;
	  background: #ddd;
	}
	&:last-child:after {
	  content: none;
	}
  }
}

/* CAJA BUSCADOR DE PAGINA DE ERROR
-------------------------------------------------------------------*/

.box-error {
	max-width: 475px;
}

/* MASCARA GENERAL DE PAGINA
-----------------------------------------------------------------*/

.overlay-page {
  background: none repeat scroll 0 0 #000000;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  @include transition (all .5s ease);
}


/*only for webkit  browsers*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .bg-fixed {
	background-attachment: scroll !important;
  }
}


/* BOTON BACK TO TOP
----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.back-to-top {
    bottom: 15px;
    right: 10px;
    position: fixed;
    z-index: 5000;
}

/* PARA INTERNET EXPLORER - IE - CUALQUIER VERSION
----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.input-group-btn {
	_width: auto;
}




