/* TABS - ACCORDIONS - MENUS DE INDICE - NAV PILLS - NAV STACKED - FEATURED LINKS - BREADCRUMB
--------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------*/

.navbar {
  border: none;
}

/* TABS
---------------------------------------------------------------------------------------------------------------------*/

/* GENERAL
------------------------------------------------------------------*/

.sg-tabs,
.tabbable {
  .nav > li {
	margin-bottom: 0;
  }
  .nav > li > a {
	padding: 15px;
	background: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: $font-size-medium;
	color: $text-color;
	border: none;
	@include border-radius(0);
	position: relative;
	overflow: hidden;
	&:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: -100%;
	  height: 3px;
	  width: 100%;
	  @include transition(all ease .4s);
	  background: $brand-color;
	}
  }
  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus, {
	color: $brand-color;
	border: none;
	outline: none;
	background: #eee;
  }

  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus, {;
	background: none;
  }
  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus, {
	&:before {
	  left: 0;
	}
  }
}

/* navegacion */

.nav-tabs {
  border-bottom: solid 1px $brand-color;
  > li > a {
	  margin-right: 4px;
  }
}

/* contenido */

.tab-content {
  padding: 20px;
}

/* TABS FORMATO MENU HORIZONTAL ---------------------------------------------*/

.sg-tabs-menu {
  .container-fluid {
	padding: 0;
  }
  .navbar-default {
	background: none;
  }
  .nav > li > a {
	font-size: $font-size-base;
  }
}

/* FEATURED LINKS
---------------------------------------------------------------------------------------------------------*/

.sg-featuredlink {
  .panel-featured-links {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	@include box-shadow(none);
  }
  .panel-body {
	padding: 0;
  }
  .description {
	font-size: floor(($font-size-base * 1.1));
	margin-top: 5px;
  }
  .featured-links-item {
	border-bottom: solid 1px #ccc;
  }
  .heading-xs {
	margin: 0;
	font-weight: normal;
	> a {
	  display: block;
	}
  }
  &.big-box {
	.featured-links-item {
	  padding: 15px;
	}
	.heading-xs {
	  font-size: floor(($font-size-base * 1.8));
	}
	.description {
	  font-size: floor(($font-size-base * 1.4));
	  font-weight: 300;
	}
  }
  &.medium-box {
	.featured-links-item {
	  padding: 10px;
	}
	.heading-xs {
	  font-size: floor(($font-size-base * 1.5));
	}
	.description {
	  font-size: floor(($font-size-base * 1.3));
	  font-weight: 300;
	}
  }
  &.default-box {
	.featured-links-item {
	  padding: 7px 10px;
	}
	.heading-xs {
	  font-size: floor(($font-size-base * 1.35));
	}
	.description {
	  font-size: floor(($font-size-base * 1.15));
	  font-weight: 300;
	}
  }
  &.small-box {
	.featured-links-item {
	  padding: 4px 10px;
	}
	.heading-xs {
	  font-size: floor(($font-size-base * 1.1));
	}
	.description {
	  font-size: $font-size-base;
	  font-weight: 300;
	}
  }

}

/* NAV & NAV-PILLS & NAV-STACKED
---------------------------------------------------------------------------------------------*/

/* nav */

.nav > li > a {
  padding: 12px 15px;
}

/* pills */

.nav-pills > li > a {
  @include border-radius(0);
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: $brand-color;
  color: #fff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	font-weight: bold;
}

/* stacked */

.nav-stacked > li {
  border-bottom: #ccc solid 1px;
  .nav-stacked li {
	border: none;
  }
  .nav-stacked li a {
	padding: 7px 10px 7px 40px;
	font-size: $font-size-base;
  }
}
.nav-stacked > li+li {
  margin-top: 0;
  margin-left: 0;
}

/* ACCORDION
------------------------------------------------------------------------------------------------------------------*/
.panel-group {
  .panel {
	@include border-radius(0);
  }
  .panel-default {
	> .panel-heading {
	  color: $text-color;
	  border-color: #ddd;
	  @include border-radius(0);
	  padding: 0;
	}
	.list-group {
	  margin-bottom: 0;
	}
	.panel-title {
	  font-size: $font-size-medium-large;
	  margin: 0;
	  padding: 0;
	}
	.panel-title a {
	  display: block;
	  position: relative;
	  padding: 13px 15px;
	  font-weight: bold;
	  &:hover {
		text-decoration: none;
	  }
	  &:focus {
		outline: solid 1px $brand-color-darker;
	  }
	}
	.panel-title a .title-section {
	  width: calc(100% - 30px);
	}
	.panel-title a .fa,
	.panel-title a .badge {
	  position: absolute;
	  top: 50%;
	  right: 15px;
	  margin-top: -8px;
	}
	.panel-title a .badge {
	  right: 20px;
	  background: #fff;
	  color: $brand-color;
	  font-size: $font-size-extra-small;
	}
	> .panel-heading a:hover,
	> .panel-heading a:focus {
	  background: #eee;
	}
	&.open > .panel-heading a,
	&.open > .panel-heading a:hover,
	&.open > .panel-heading a:focus,
	> .panel-heading.active a,
	> .panel-heading.active a:hover,
	> .panel-heading.active a:focus {
	  background: $brand-color;
	  color: #fff;
	}
	&.open {
	  border-color: $brand-color;
	}
  }
}

/* RASTRO DE MIGAS
------------------------------------------------------------------------------------------------------------------*/

.breadcrumb {
  background: none;
  @include border-radius(0);
  border-top: none;
  padding: 0;
  margin: 12px 0;
  font-size: $font-size-medium-small;
  color: $gray-light;
  > li {
	margin-left: 4px;
	&:first-child {
	  margin-left: 0;
	}

	&:last-child a {
	  color: $text-color;
	}
  }
  > li + li:before {
	content: none;
  }
  a {
	display: block;
	color: $gray-light;
	&:hover,
	&:focus {
	  color: $text-color;
	  text-decoration: none;
	}
  }
}



/* NAVBAR GENERAL EN CONTENIDO ---------------------------------------------------------------------------------*/

.main-content .navbar {
  .navbar-header {
	background: $brand-color;
	color: #fff;

	.navbar-brand {
	  color: #fff;
	  width: calc(100% - 62px);
	  font-size: 16px;
	  &:hover,
	  &:focus {
		color: $brand-color-darker;
	  }
	}
	.navbar-toggle {
	  border: none;
	  color: #fff;
	  background: none;
	  margin-right: 20px;
	  .icon-bar {
		background-color: #fff;
		@include transition(all ease .4s);
	  }
	  &:hover,
	  &:focus {
		background: none;
		color: #fff;
	  }
	  &[aria-expanded="true"] {
		outline: solid 1px #fff;
	  }
	}
  }

}