.pp_pic_holder .pp_details .pp_nav {
	width: auto;
	float: none;
}
.pp_pic_holder .pp_details .pp_description {
   font-size: 15px;
    font-style: italic;
    padding: 5px 15px;	
    margin: 0;
}
div.pp_default .pp_content, div.light_rounded .pp_content {
    display: table;
}
div.pp_default div.ppt {
    background: none repeat scroll 0 0 #FDFDFD;
    border-radius: 4px 4px 4px 4px;
    webkit-border-radius: 4px 4px 4px 4px;
    color: #666666;
    font-size: 20px;
    font-style: italic;
    margin: 0 10px 10px 5px;
    padding: 5px 0 5px 15px;
}