@media print {
  #header,
  .section-page-heading,
  .sg-breadcrumb,
  #wrapper-container > .template-container:not(.main-content),
  .aside,
  #footer,
  .org-opencms-gwt-client-ui-css-I_CmsLayoutBundle-I_CmsToolbarCss-toolbarBackground,
  .btn-pdf,
  .addthis_toolbox,
  .btn-edit-area {
    display: none !important;
  }
  .panel-group .panel {
    border: none;
  }
  .articulo .panel-group .panel-heading {
    padding: 0;
    background: none;
  }
  .panel-group .panel-heading + .panel-collapse .panel-body {
    border: none;
  }
  .panel-collapse .panel-body {
    padding: 15px 0 0 0;
  }
  .accordion-toggle .fa {
    display: none;
  }
  .collapse {
    display: block !important;
    height: auto !important;
  }
  .tab-content>.tab-pane {
    display: block !important;
  }
}