/* PROPUESTAS
--------------------------------------------------------------------------------------------------------------------*/


.content .proposal {

  margin-bottom: 30px;

  /* CAJA DE FLUJO */

  .flow {
	background: none repeat scroll 0 0 #DDDDDD;
	margin-bottom: 20px;
	ul {
	  margin: 0;
	  padding: 0;

	}
	li {
	  width: 25%;
	  float: left;
	  list-style: none;
	}
	li span a {
	  color: #666;
	}
	.active-period span a {
	  color: #fff;
	  background: $brand-color;
	  &:hover,
	  &:focus {
		color: #fff;
		background: $brand-color-medium;
	  }
	}
	li > span > a {
	  display: block;
	  padding: 8px;
	  background: #ddd;
	  &:hover,
	  &:focus {
		text-decoration: none;
		background: #eee;
	  }
	}
	li span a > span {
	  display: inline-block;
	  vertical-align: middle;
	  &.fa {
		font-size: 27px;
		margin-right: 10px;
	  }
	}
	.stage_date {
	  font-size: 10px;
	  .name-period {
		font-size: 14px;
	  }
	}
  }

  /* BLOQUE INFO Y ENLACES */

  .area-box {
	background: none repeat scroll 0 0 #F5F5F5;
	margin-bottom: 10px;
	padding: 8px 10px;
  }
  .ini-info {
	padding: 8px 10px;
	background: #f5f5f5;
  }
  .end-info {
	margin-bottom: 20px;
  }
  .description {
	padding: 0 15px;
  }
  .resume.actions {
	border-bottom: 1px solid #DDDDDD;
	padding: 5px 10px;
	line-height: 40px;
	margin: 0;
	.btn {
	  width: 25px;
	  height: 25px;
	  @include border-radius(60px);
	  font-size: 11px;
	  text-align: center;
	  line-height: 1.9;
	  border: none;
	}
	.btn-default {
	  background: $gray-light;
	  color: #fff;
	  &:hover,
	  &:focus {
		background: $gray-dark;
	  }
	}
	.btn-danger {
	  background: $gray-light;
	  color: #fff;
	  &:hover,
	  &:focus {
		background: $gray-dark;
	  }
	}
	#737373
	.share-btn .btn {
	  margin-left: 7px;
	}
	.number {
	  padding: 1px 3px 1px 8px;
	  @include border-radius(4px);
	  border: solid 1px #ccc;
	  z-index: 2;
	  position: relative;
	  line-height: 1.2;
	  text-align: center;
	  color: $text-color;
	  display: inline-block;
	  margin-left: -10px;
	  font-size: 10px;
	  margin-right: 3px;
	  vertical-align: middle;
	  z-index: -1;
	}
	.success {
	  .number {
		border-color: $brand-success;
		color: $brand-success;
	  }
	}
	.danger {
	  .number {
		border-color: $gray-light;
		color: $gray-light;
	  }
	}
	.comments {
	  .number {
		border-color: $brand-info;
		color: $brand-info;
	  }
	}
  }
  .box-collapse > .wrapper{
	background: none repeat scroll 0 0 #F4F4F4;
	border-bottom: 1px solid #eee;
	padding: 10px 20px;
	@include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.1) inset);
  }

  /* TITULAR Y CONTENIDO GENERAL */

  header {
	padding: 25px 10px;
	margin-bottom: 0;
	border: none;
	font-family: $font-family-heading;


	.title:before,
	.title:after {
	  content: "\"";
	  font-size: 34px;
	  vertical-align: baseline;
	  line-height: 11px;
	}
	.title,
	.title > a {

	  font-weight: normal;
	  line-height: 1.2;
	  margin: 0;
	  padding: 0;
	  border: none;
	  font-size: 33px;
	}
	.title > a {
	  &:hover,
	  &:focus {

	  }
	}
  }
  .contentblock {
	font-size: 16px;
  }
  /* BLOQUE DE CONCLUSIONES */

  /* 	.conclusion-container.well {
      background-color: $brand-second-color-soft;
      border: solid 1px $brand-second-color-lighter;
    } */

  /* BLOQUE DE NAVEGACION POR PESTANAS */

  #navtabs-comments {
	> li > a {
	  color: #999;
	  padding: 15px;
	  font-size: 15px;
	}
	> li > a:hover,
	> li > a:focus,
	> .active > a {
	  background: #fff;
	}
	> .active > a {
	  border: solid 1px #ccc;
	  border-bottom: solid 1px #fff;
	  color: $brand-color;
	  font-weight: bold;
	}
	#agreesbullet > a:hover,
	#agreesbullet > a:focus,
	#agreesbullet.active > a {
	  color: #56AD75;
	}
	#disagreesbullet > a:hover,
	#disagreesbullet > a:focus,
	#disagreesbullet.active > a {
	  color: #BF4646;
	}
  }
  .tab-content {
	border-color: #ccc;
  }
}

