/* RESPONSIVE */

/* CAPA DE OVERLAY QUE OSCURECE Y BLOQUEA EL FONDO CUANDO SE ACTIVA */

 	.overlay-menu-responsive {
			background: rgba(0,0,0,0.75);
		    height: 100%;
		    position: fixed;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    width: 100%;
		    z-index: 90;
	}


/* BOTONES NAVBAR DE DESPLIEGUE
------------------------------------------------------------------------*/

  .navbar-toggle {
	@include border-radius(0);
  }


/* RESOLUCION PANTALLA > 1360PX (portatil)
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 1360px) {
	.container {
		width: $screen-port;
	} 	
}

/* > 1200PX
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: $screen-lg) {

}


/* > 992PX
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: $screen-md) {


	.menu-wrapper .panel {
  		border: none;
  		box-shadow: none;
  		margin-bottom: 0;
  		background: none;
  		@include border-radius(0);
	}
	
}


/* RESOLUCION PANTALLA > 768PX
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: $screen-sm) {
	
	/* para que no tenga scroll el navbar en resolucion de tablet o mayor */
	
	.navbar-collapse {
	  max-height: none;
	}

  /* CABECERA COMPACT ------------------------------------*/

  /* VARIANTE CABECERA COMPACT AL HACER SCROLL*/

  #header .header.header-fixed-compact {
	@include box-shadow(0px 1px 7px 2px rgba(0,0,0,0.1));
	@include animation(opacitymargintop 0.5s linear);
	.navbar-responsive-collapse .navbar-right {
	  margin-top: 0;
	}
	.navbar-top {
	  display: none;
	}
	.navbar-default {
	  border: none;
	  margin: 0;
	}
	.navbar > .container .navbar-brand {
	  @include transition(all ease .4s);
	  padding-top: 5px;
	  padding-bottom: 5px;
	  > img {
		width: 36px;
	  }
	  .navbar-brand-title .h3	{
		font-size: 17px;
	  }
	  .navbar-brand-title .h2	{
		margin: 0px 0 4px 0;
		padding: 0;
		font-size: 20px;
	  }
	}
  }
	
}



/* RESOLUCION PANTALLA < 1360PX
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1359px) {

}


/* < 1200PX BREAKPOINT DE NAVBAR COLLAPSE
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: $grid-float-breakpoint) {

  /* LAYOUT */
  .container {
	width: 100%;
  }
  .content-interior .col-prin {
	padding-top: 35px;
	padding-left: 20px;
	padding-right: 20px;
  }

  /* MENU */

  .navbar-brand.collapse {
	display: block;
  }
  .tituloSeccionMenu {
	display: none;
  }

  /* PARA EVITAR EL SCROLL POR LOS MARGINS NEGATIVOS DE LOS ROWS */

  html {
	overflow-x: hidden;
  }

  /* COLUMNA DE MENU */

  .aside .menu-wrapper {
	margin: -1px -25px 0 -25px;

  }

}

/* < 992PX
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: $screen-sm-max) {
	
	/* GENERAL */	
	
	.overlay-zoom {
  		z-index: 10;
	}

	/* SUBHEADER */

  	.subheader .breadcrumbs {
	  .table-block-wrapper > .table-block {
		height: auto !important;
		padding: 15px;
		display: block;
	  }
	  .title-block,
	  .breadcrumb {
		display: block;
		width: 100%;
	  }
	  .title-block {
		font-size: 28px;
		padding-top: 0;
	  }
	  .breadcrumb {
		text-align: left;
		padding: 10px 0 0 0;
	  }
	}
	
}

/* < 768PX
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
	
@media (max-width: $screen-xs-max) {

  	/* LAYOUT */

	.content-interior .col-prin {
	  padding-left: 0;
	  padding-right: 0;
	}
	/* GENERAL */

	.object-aside .pull-left,
	.object-aside .pull-right {
		float: none !important;
	}

  /* SHARE */

  .sg-share.element {
	top: auto;
	bottom: 60px;
  }
		
	/* CARRUSEL */
	
	.carousel {
	
		.item .carousel-caption {
		  bottom: auto;
		  top: 0;
		  left: 10px;
		  right: 10px;
		}
		.carousel-inner .item .carousel-caption .title {
			  font-size: 30px;
		}
		.carousel-inner .item .carousel-caption .subtitle {
			  font-size: 20px;
		}
		.carousel-inner .item .carousel-caption .description {
			  font-size: 13px;
		}
		.carousel-inner .item .carousel-caption .description {
	 		width: auto;
		}
		.indicators-by-title li {
		  font-size: 10px;
		  text-overflow: ellipsis;
		  white-space: nowrap;
		  width: 100px;
		  overflow-x: hidden; 
		}
	
	}


	/* FORMULARIOS ------------------*/

  div.webform_row {
	padding: 10px 0;
  }
  div.webform_box {
		padding: 0;
		margin: 0;
	}

	div.webform_label,
	div.webform_label_multi,
	div.webform_label_table,
	div.webform_text_left {
		width: auto;
	}
	div.webform_field,
	div.webform_field_multi,
	div.webform_field_table,
	div.webform_text_right {
		width: 100%;
	  	margin-left: 0;
	}
	#form_captcha_id {
		width: inherit;
	}
	
	/* IMAGENES EN CONTENIDO QUE FLOTAN A LA DERECHA */
	
	.image.pull-right {
		float: none !important;
	}


	/* BOTONES */
	
	.btn {
		  white-space: normal;
	}
		
}

/* > 768px & < 990PX
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {

}


  /* < 480PX
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: $screen-xxs-max) {

  /* LAYOUT */


  /* MEDIA */

  .wrapper-media-bg-img {
	max-height: 220px;
  }

  .media .media-object.pull-left,
  .media .media-object.pull-right {
	  float: none !important;
	  margin: 0 0 15px 0;
  }

  /* SUBHEADER */

  .subheader .breadcrumbs {
	.title-block {
	  font-size: 20px;
	}
	.breadcrumb {
	  font-size: 11px;
	}
  }

  /* HOME CAJAS CON IMAGENES DE FONDO - DESTACADOS E ICON BOXES ---------------------*/

  figure.cover-effect,
  .box.sg-microcontent-overlay {
	max-height: 300px;
  }

}

