/* SERVICIOS DPH
--------------------------------------------------------------------------------------*/

/* CORPORACIÓN -----------------------------------------------*/

.dph-servicio-corporacion {
  .sg-tabs .nav > li {
	display: table-cell;
	width: 1%;
	float: none;
	> a:hover,
	> a:hover,
	&.active > a {
	  background: none;
	}
	> a:before {
	  content: none;
	}
	> a > img {
	  @include transition(all ease .3s);
	  -webkit-filter: grayscale(1);
	  -webkit-filter: grayscale(100%);
	  filter: gray;
	  filter: grayscale(100%);
	  opacity: 0.7;
	  width: 40px;
	  height: auto;
	}
	> a:hover > img {
	  opacity: 1;
	}
	&.active > a > img,
	&.active > a:hover > img,
	&.active > a:focus > img {
	  -webkit-filter: none;
	  filter: none;
	  opacity: 1;
	}
  }
  .tab-content {
	border-top: solid 3px #ddd;
	margin-top: 20px;
	padding: 20px 0;
	ul > .corporacion-item {
	  .img-wrapper {
		overflow: hidden;
		margin-bottom: -5px;
	  }
	  .img-wrapper:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: none;
		@include transition(all ease .3s);
	  }
	  &:hover .img-wrapper:after,
	  &:focus .img-wrapper:after {
		background: rgba($brand-color,0.3);
	  }
	  .img-wrapper img,
	  .img-wrapper-scale {
		@include transition(all .3s);
	  }
	  &:hover .img-wrapper-scale,
	  &:focus .img-wrapper-scale, {
		@include transform(scale(1.05));
	  }
	  &:hover .img-wrapper img,
	  &:focus .img-wrapper img {
		-webkit-filter: grayscale(1);
		-webkit-filter: grayscale(100%);
		filter: gray;
		filter: grayscale(100%);
	  }
	  .text-overlay {
		min-height: 64px;
		display: table;
		width: 100%;
		table-layout: fixed;
		background: $brand-color;
		color: #fff;
		@include transition(all ease .3s);
	  }
	  &:hover .text-overlay,
	  &:focus .text-overlay {
		background: $brand-color-darker-medium;
	  }
	  .text-overlay > .wrapper {
		padding: 15px;
		display: table-cell;
		vertical-align: middle;
	  }
	  .title-item {
		font-size: 13px;
		text-transform: uppercase;
	  }
	}
  }

  /* ancho > 540px -------*/
  @media (min-width: 540px) {
	.sg-tabs .nav > li > a > img {
	  width: auto;
	}
  }
}

/* CORPORACIÓN DETALLE -----------------------------------------------*/

.articulo.dph-servicio-corporacion-detalle {
  .close {
	font-size: 13px;
	position: relative;
	color: #999;
	z-index: 2;
	padding: 0 15px;
	opacity: 1;
	&:after {
	  @include iconvector('Pe-icon-7-stroke', middle,50px, '\e680');
	}
	&:hover,
	&:focus {
	  color: #333;
	}
  }
  .contentblock-texto .dph-servicio-corporacion-detalle-redes {
	margin: -20px 0 0 0;
	> li {
	  position: relative;
	  padding: 0;
	  text-align: center;
	  + li {
		margin: 0 0 0 15px;
	  }
	  &:before {
		content: "";
		width: 50px;
		height: 50px;
		background: #fff;
		position: absolute;
		left: -5px;
		top: -5px;
		z-index: 0;
		@include border-radius(50%);
	  }
	  > a {
		width: 40px;
		height: 40px;
		@include border-radius(50%);
		text-align: center;
		line-height: 1;
		position: relative;
		> .fa {
		  display: block;
		  line-height: 40px;
		  font-size: 20px;
		}
	  }
	}
  }
}

/* MUNICIPIOS --------------------------------------------------------------*/

.articulo.dph-servicio-municipios {
  .tab-content {
	padding: 0;
  }
  .tab-pane > h2:first-child {
	margin-top: 0;
  }
}