/* SLIDER 
--------------------------------------------------------------------------------------------------------------------*/

.sg-slider {

  .bx-wrapper {
	padding: 15px 85px;
	position: relative;
	border: none;
	@include border-radius(0);
	background: none;
	margin-bottom: 20px;
	@include box-shadow(none);
	.title-element {
	  margin-top: 0;
	}
	.bx-viewport {
	  border: none;
	  box-shadow: none;
	  -webkit-box-shadow: none;
	  background: none;
	  overflow-x: hidden !important;
	  overflow-y: hidden !important;
	  left: 0;
	}
	.image-mode .thumbnail {
	  margin-bottom: 0;
	}
	.slide {
	  padding: 15px;
	}
	.bx-controls-direction a {
	  font-size: 60px;
	  position: absolute;
	  width: 60px;
	  height: 60px;
	  top: 50%;
	  margin-top: -30px;
	  z-index: 20;
	  text-indent: 0;
	  line-height: 1;
	  background: none;
	  text-align: center;
	  @include border-radius(50%);
	  border: solid 1px #ddd;
	  &:hover,
	  &:focus {
		border-color: #000;
	  }
	  > .fa {
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 50%;
		font-size: 30px;
		margin-top: -15px;
		margin-left: -15px;
	  }
	  &.bx-prev {
		left: 0;
	  }
	  &.bx-next {
		right: 0;
	  }
	}
	.bx-has-pager .bx-controls-direction a {
	  margin-top: -48px;
	}
	.bx-pager {
	  position: relative;
	  bottom: auto;
	  width: 100%;
	}
  }
  /* RESPONSIVE */

  @media (max-width: $screen-xxs-max) {
	.bx-wrapper {
	  padding: 70px 0 15px 0;
	  .slide {
		padding: 0;
	  }
	  /* caja de cumplimiento */

	  .table-box {
		padding: 5px;
	  }
	  .table-box .media-body {
		font-size: 16px;
		line-height: 1.2;
	  }
	  .table-box .badge {
		font-size: 13px;
		width: 40px;
		height: 40px;
		line-height: 40px;
	  }
	  .bx-controls-direction a {
		top: 0;
		margin-top: 0;
	  }
	}
  }

}
