/* SHARE BOX
--------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------*/

.share-box {
  ul {
	line-height: 1;
	margin: 0;
	padding: 0;
  }
  ul li {
	padding-left: 5px;
	padding-right: 5px;
  }
  ul li .redes {
	display: block;
	text-indent: -9999px;
	-webkit-transition: background-position 0.4s ease;
	-moz-transition: background-position 0.4s ease;
	-ms-transition: background-position 0.4s ease;
	-o-transition: background-position 0.4s ease;
	transition: background-position 0.4s ease;
  }
  ul.icons32 li {
	padding-left: 3px;
	padding-right: 3px;
	line-height: 32px;
  }
  ul.icons16 li {
	padding-left: 2px;
	padding-right: 2px;
	line-height: 16px;
  }
  ul.icons32 li .redes {
	background-image: url("../images/share-sprite-32x32.png");
	width: 32px;
	height: 32px;
  }

  ul.icons16 li .redes {
	background-image: url("../images/share-sprite-16x16.png");
	width: 16px;
	height: 16px;
  }

  /* 32x32 -----------------------------------*/

  ul.icons32 li a.facebook {
	background-position: 0 32px;
  }
  ul.icons32 li a.facebook:hover,
  ul.icons32 li a.facebook:focus {
	background-position: 0 64px;
  }

  ul.icons32 li a.twitter {
	background-position: 0 96px;
  }
  ul.icons32 li a.twitter:hover,
  ul.icons32 li a.twitter:focus {
	background-position: 0 128px;
  }

  ul.icons32 li a.google {
	background-position: 0 160px;
  }

  ul.icons32 li a.google:hover,
  ul.icons32 li a.google:focus {
	background-position: 0 192px;
  }

  ul.icons32 li a.pinterest {
	background-position: 0 224px;
  }

  ul.icons32 li a.pinterest:hover,
  ul.icons32 li a.pinterest:focus {
	background-position: 0 256px;
  }

  ul.icons32 li a.linkedin {
	background-position: 0 288px;
  }

  ul.icons32 li a.linkedin:hover,
  ul.icons32 li a.linkedin:focus {
	background-position: 0 320px;
  }

  ul.icons32 li a.sendmail {
	background-position: 0 352px;
  }

  ul.icons32 li a.sendmail:hover,
  ul.icons32 li a.sendmail:focus {
	background-position: 0 384px;
  }

  ul.icons32 li a.delicious {
	background-position: 0 416px;
  }

  ul.icons32 li a.delicious:hover,
  ul.icons32 li a.delicious:focus {
	background-position: 0 448px;
  }

  /* 16x16 -----------------------------------*/

  ul.icons16 li a.facebook {
	background-position: 0 16px;
  }
  ul.icons16 li a.facebook:hover,
  ul.icons16 li a.facebook:focus {
	background-position: 0 32px;
  }

  ul.icons16 li a.twitter {
	background-position: 0 48px;
  }
  ul.icons16 li a.twitter:hover,
  ul.icons16 li a.twitter:focus {
	background-position: 0 64px;
  }

  ul.icons16 li a.google {
	background-position: 0 80px;
  }

  ul.icons16 li a.google:hover,
  ul.icons16 li a.google:focus {
	background-position: 0 96px;
  }

  ul.icons16 li a.pinterest {
	background-position: 0 112px;
  }

  ul.icons16 li a.pinterest:hover,
  ul.icons16 li a.pinterest:focus {
	background-position: 0 128px;
  }

  ul.icons16 li a.linkedin {
	background-position: 0 144px;
  }

  ul.icons16 li a.linkedin:hover,
  ul.icons16 li a.linkedin:focus {
	background-position: 0 160px;
  }

  ul.icons16 li a.sendmail {
	background-position: 0 176px;
  }

  ul.icons16 li a.sendmail:hover,
  ul.icons16 li a.sendmail:focus {
	background-position: 0 192px;
  }

  ul.icons16 li a.delicious {
	background-position: 0 208px;
  }

  ul.icons16 li a.delicious:hover,
  ul.icons16 li a.delicious:focus {
	background-position: 0 224px;
  }
}


/* ENLACES A REDES SOCIALES ICONOS VECTORIALES
---------------------------------------------------------------------------------------------------------------------------*/

.social-list li a {
  display: block;
}

.facebook:not(.btn) {
  @include hover-icon($facebook);
}
.pinterest:not(.btn) {
  @include hover-icon($pinterest);
}
.twitter:not(.btn) {
  @include hover-icon($twitter);
}
.googleplus:not(.btn) {
  @include hover-icon($googleplus);
}
.youtube:not(.btn) {
  @include hover-icon($youtube);
}
.rss:not(.btn) {
  @include hover-icon($rss);
}
.slideshare:not(.btn) {
  @include hover-icon($slideshare);
}
.instagram:not(.btn) {
  @include hover-icon($instagram);
}
.linkedin:not(.btn) {
  @include hover-icon($linkedin);
}
.vimeo:not(.btn) {
  @include hover-icon($vimeo);
}
.flickr:not(.btn) {
  @include hover-icon($flickr);
}
.tumblr:not(.btn) {
  @include hover-icon($tumblr);
}
