/** PROPIOS ******************************************************************/

/* GENERAL
----------------------------------------------------------------------------*/

.webform {
  label {
  }
  .display-field p {
	font-size: 20px;
	font-weight: 300;
  }
}

.form-control {
  @include border-radius(0);
  height: 43px;
}

.webform_mandatory {
    font-size: $font-size-small;
    margin-top: 15px;
}

#form_captcha_id {
  height: auto;
  margin-bottom: 10px;
  width: 370px;
}

/* INPUT GROUPS ---------------------------------------------*/

.input-group {
  width: 100%;
  > .form-control,
  > .input-group-btn {
	height: 42px;
	display: table-cell;
	@include border-radius(0);
  }
  > .input-group-btn > .btn {
	width: 100%;
	height: 42px;
	@include border-radius(0);
  }
  /* small */
  &.input-group-sm {
	> .form-control,
	> .input-group-btn {
	  height: 30px;
	}
	> .input-group-btn > .btn {
	  height: 30px;
	  @include border-radius(0);
	}
  }
  /* large */
  &.input-group-lg {
	> .form-control,
	> .input-group-btn {
	  height: 52px;
	}
	> .input-group-btn > .btn {
	  height: 52px;
	  @include border-radius(0);
	}
  }
}

/** pagina de confirmacion *********************/


.confirmation-text-intro {margin-bottom: 15px;}
.confirmation-text-intro p {margin-bottom: 5px;font-style: italic;font-size: 14px;}
.webform_confirm_wrapper .webform_row {
	border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.webform_confirm_wrapper .webform_row .webform_label {
    font-style: italic;
    margin-bottom: 5px;
    font-weight: bold;
}
.webform_confirm_wrapper .webform_row .webform_field {
	font-weight: normal;
}




/* CAJA DE LOGIN */

.sg-login-form .input-group .form-control {
	width: 310px;
}

/* DISPLAY FIELDS */

.webform-row.display-field .webform_label {
	display: block;
	width: auto;
}
	/* SELECTS CUSTOMIZADOS ----------------------------------------------------*/

	.select2-container--bootstrap .select2-selection {
	  @include border-radius(0);
	}
	.select2-container--bootstrap .select2-selection--single {
	  height: 43px;
	  padding: 10px 24px 10px 12px;
	}

	/* CUSTOM FORM CON CHECKBOXES Y RADIO BUTTONS CUSTOMIZADOS
    -----------------------------------------------------------------------------*/
	.check-wrapper {
	  margin-bottom: 8px;
	  font-weight: normal;
	  display: block;
	  label {
		cursor: pointer;
		color: $brand-color;
		font-weight: normal;
		margin-bottom: 0;
	  }
	}
	.iradio,
	.icheckbox {
	  @include transition(all ease-in-out .3s);
	  float: left;
	  margin-right: 10px;
	  width: 20px;
	  height: 20px;
	  border: $brand-color solid 1px;
	  background: #fff;
	  &.hover {
		@include box-shadow(0px 0px 4px 3px rgba(64,185,242,0.3));
	  }
	}
	.icheckbox {
	  position: relative;
	  &:before {
		content: "\f00c";
		font-family: FontAwesome;
		font-size: 18px;
		line-height: 1;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transform: translate(0, 0);
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		color: $brand-success;
	  }
	  &.focus:before,
	  &.checked:before {
		visibility: visible;
	  }
	}
	.iradio {
	  @include border-radius(50px) ;
	  &.focus,
	  &.checked {
		background: $brand-color;
	  }
	}
