/* WIDGETS - Facebook, twitter, addthis...
--------------------------------------------------------------------------------------*/

/* SG-SHARE
----------------------------------------------*/

.sg-share.element {
  position: fixed;
  left: 0;
  bottom: 90px;
  z-index: 155;
  @include clearfix();
  ul.list-inline {
	margin: 0;
	li {
	  display: block;
	  padding: 0;
	  margin: 0;
	}
  }
  .btn {
	width: 32px;
	height: 32px;
	position: relative;
	.pe-7s-share,
	.fa-share{
	  font-size: 22px;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  margin: -11px 0 0 -11px;
	}
  }
}

/* JQUERY UI */

.ui-widget {
  font-family: $font-family-base;
}

/* PERFECT SCROLLBAR -----------------------------------------------------------*/

.ps-active-y-parent {
  position: relative;
  &:after {
	display: block;
	@include iconvector("FontAwesome", middle, 20px, "\f107");
	position: absolute;
	right: 0;
	bottom: 0;
  }
}

.ps-container {
  position: relative;
}


/* FACEBOOK */

/* like box */

.wrapper.like {
	p {
		margin-bottom: 0;
	}  
	.fb_reset {
		height: 0;
	}
	.fb_iframe_widget_lift {
		width: 450px !important;
		z-index: 1000;
	}	
}

/* TWITTER */

/* timeline */

iframe.twitter-timeline {
	height: 580px !important;
	min-width: 0 !important;	
}
.home iframe.twitter-timeline {
  height: 580px !important;
  min-width: 0 !important;
}

/* EL TIEMPO */

.info-meteo {
	.ancho {
		 margin: 0 auto;
	}
}

/* COMPARTIR EN REDES SOCIALES
--------------------------------------------------------------------------------------------------*/



.social-block {
	margin: 0;
	
	 li .redes {
		display: block;
		text-indent: -9999px;
		-webkit-transition: background-position 0.4s ease;
		-moz-transition: background-position 0.4s ease;
		-ms-transition: background-position 0.4s ease;
		-o-transition: background-position 0.4s ease;
		transition: background-position 0.4s ease;
	}
	 &.icons32 li {
		padding-left: 3px;
		padding-right: 3px;
		line-height: 32px;
	}
	 &.icons16 li {
		padding-left: 2px;
		padding-right: 2px;
		line-height: 16px;
	}
	 &.icons32 li .redes {
		background-image: url("../images/share-sprite-32x32.png");
		width: 32px;
		height: 32px;
	}	
	
	 &.icons16 li .redes {
		background-image: url("../images/share-sprite-16x16.png");
		width: 16px;
		height: 16px;
	}				
	
	/* 32x32 -----------------------------------*/	
					
	 &.icons32 li a.facebook {
		background-position: 0 32px;
	}
	 &.icons32 li a.facebook:hover,
	 &.icons32 li a.facebook:focus {
		background-position: 0 64px;
	}
	
	 &.icons32 li a.twitter {
		background-position: 0 96px;				
	}
	 &.icons32 li a.twitter:hover,
	 &.icons32 li a.twitter:focus {
		background-position: 0 128px;					
	}
	
	 &.icons32 li a.google {
		background-position: 0 160px;				
	}
	
	 &.icons32 li a.google:hover,
	 &.icons32 li a.google:focus {
		background-position: 0 192px;					
	}
	
	 &.icons32 li a.pinterest {
		background-position: 0 224px;				
	}
	
	 &.icons32 li a.pinterest:hover,
	 &.icons32 li a.pinterest:focus {
		background-position: 0 256px;					
	}
	
	 &.icons32 li a.linkedin {
		background-position: 0 288px;				
	}
	
	 &.icons32 li a.linkedin:hover,
	 &.icons32 li a.linkedin:focus {
		background-position: 0 320px;					
	}
	
	 &.icons32 li a.sendmail {
		background-position: 0 352px;				
	}
	
	 &.icons32 li a.sendmail:hover,
	 &.icons32 li a.sendmail:focus {
		background-position: 0 384px;					
	}
	
	 &.icons32 li a.delicious {
		background-position: 0 416px;				
	}
	
	 &.icons32 li a.delicious:hover,
	 &.icons32 li a.delicious:focus {
		background-position: 0 448px;					
	}
	
	/* 16x16 -----------------------------------*/	
					
	 &.icons16 li a.facebook {
		background-position: 0 16px;
	}
	 &.icons16 li a.facebook:hover,
	 &.icons16 li a.facebook:focus {
		background-position: 0 32px;
	}
	
	 &.icons16 li a.twitter {
		background-position: 0 48px;				
	}
	 &.icons16 li a.twitter:hover,
	 &.icons16 li a.twitter:focus {
		background-position: 0 64px;					
	}
	
	 &.icons16 li a.google {
		background-position: 0 80px;				
	}
	
	 &.icons16 li a.google:hover,
	 &.icons16 li a.google:focus {
		background-position: 0 96px;					
	}
	
	 &.icons16 li a.pinterest {
		background-position: 0 112px;				
	}
	
	 &.icons16 li a.pinterest:hover,
	 &.icons16 li a.pinterest:focus {
		background-position: 0 128px;					
	}
	
	 &.icons16 li a.linkedin {
		background-position: 0 144px;				
	}
	
	 &.icons16 li a.linkedin:hover,
	 &.icons16 li a.linkedin:focus {
		background-position: 0 160px;					
	}
	
	 &.icons16 li a.sendmail {
		background-position: 0 176px;				
	}
	
	 &.icons16 li a.sendmail:hover,
	 &.icons16 li a.sendmail:focus {
		background-position: 0 192px;					
	}
	
	 &.icons16 li a.delicious {
		background-position: 0 208px;				
	}
	
	 &.icons16 li a.delicious:hover,
	 &.icons16 li a.delicious:focus {
		background-position: 0 224px;					
	}
}


/* SKIN SWITCHER */
.btn-skin-switcher {
  position: fixed;
  right: 0;
  top: 110px;
  z-index: 6000;
  @include border-radius(3px 0 0 3px);
  font-size: 28px;
  line-height: 28px;
}
#skin-switcher {
	@include transition (all ease 0.4s);
	height: auto !important;
	max-height: none;
	right: -173px;
  	width: 173px;
	display: block;
	z-index: 5000;
	background: none repeat scroll 0 0 #222;
	@include border-radius(3px 0 0 3px);
	color: #ccc;
	padding: 10px;
	position: fixed;
	top: 160px;
	font-weight: 300;
	&.in {
	  right: 0;
	  height: auto !important;
	}

  .btn {
	font-weight: 300;
  }
  .btn-skin-default {
	background: #017B62;
	opacity: 1;
	&:hover,
	&:focus {
	  opacity: 0.7;
	}
  }
  .btn-skin-1 {
	background: #1D98BA;
	opacity: 1;
	&:hover,
	&:focus {
	  opacity: 0.7;
	}
  }
  .btn-skin-2 {
	background: #BC0032;
	opacity: 1;
	&:hover,
	&:focus {
	  opacity: 0.7;
	}
  }
  .btn-skin-3 {
	background: #DB5820;
	opacity: 1;
	&:hover,
	&:focus {
	  opacity: 0.7;
	}
  }
  .btn-skin-4 {
	background: #6C1384;
	opacity: 1;
	&:hover,
	&:focus {
	  opacity: 0.7;
	}
  }
}