// PROPIOS


//  indicadores

@mixin filter-indicator($numcolorindicator) {
  .badge {
    background: ($numcolorindicator);
  }
  color: ($numcolorindicator);
  border: 1px solid ($numcolorindicator);
  &:hover,
  &:focus,
  &.active {
    background: ($numcolorindicator);
    color: #fff;
  }
}

@mixin item-indicator($numcolorindicator) {
  .cat-block-collapse {
    border-color: ($numcolorindicator);
  }
  article {
    color: ($numcolorindicator);
    border: 1px solid ($numcolorindicator);
    a {
      color: ($numcolorindicator);
    }
    .badge-big {
      background: ($numcolorindicator);
    }
    .badge-medium {
      border-color: ($numcolorindicator);
      color: ($numcolorindicator);
    }
    .badge-small {
      background: ($numcolorindicator);
    }
    .badge-xsmall {
      border-color: ($numcolorindicator);
      color: ($numcolorindicator);
    }
  }

}

// overlayed

@mixin overlayed {
  position: relative;
}

// overlayer

@mixin overlayer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

// redes sociales

@mixin hover-icon($iconcolor) {
  color: ($iconcolor) !important;
  &:hover,
  &:focus,
  &.active {
    color: darken($iconcolor, 20%) !important;
  }
}

@mixin hover-bg-icon($iconcolor) {
  background: ($iconcolor) !important;
  color: #fff !important;
  &:hover,
  &:focus,
  &.active {
    background: darken($iconcolor, 20%) !important;
  }
}

@mixin hover-icon-header($iconcolor) {
  color: #fff;
  &:hover,
  &:focus,
  &.active {
    color: darken($iconcolor, 20%);
  }
}

// estilos base de iconos


@mixin iconvector($iconfont, $iconva, $iconfs, $icontype) {
  display: inline-block;
  font-family: $iconfont;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: $iconva;
  font-size: $iconfs;
  content: $icontype;
}

// animacion izquierda a derecha

@mixin lefttoright() {
  -webkit-animation-name: lefttoright;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:1s;
  animation-name: lefttoright;
  animation-duration: 0.4s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-timing-function:linear;
  animation-delay:1s
}

@mixin toptobottom() {
  -webkit-animation-name: toptobottom;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:1s;
  animation-name: toptobottom;
  animation-duration: 0.4s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-timing-function:linear;
  animation-delay:1s
}


// sr-only: screen readers only
@mixin sronly() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}