ul.ul-munis {
	margin-left: -3%;
}

ul.ul-munis li {
	border-bottom: solid 1px rgba(0, 0, 0, 0.1) !important;
}

ul.ul-munis li a {
	padding: 5px 0px 5px 5px !important;
}

ul.ul-munis li a:hover {
	background: rgba(0, 0, 0, 0.06);
	color: #000;
}